{% extends "base.html" %}

{% block content %}
<script>
  var login_data = {
    {% if user.is_authenticated %}
    xid: '{{ user.id|escapejs }}',
    x_name: '{{ user.first_name|escapejs }}' + ' {{ user.last_name|escapejs }}',
    x_profile_image_url: '{{ user.image_url|escapejs }}',
    {% else %}
    xid: null,
    x_name: null,
    x_profile_image_url: '',
    {% endif %}
  };

  window.parent.postMessage(login_data, '*');
  window.open('', '_self', ''); window.close();
</script>
{% endblock content %}
