{% extends "base.html" %}

{% block content %}
<script>
  var login_data = {
    {% if user.is_authenticated %}
    xid: '{{ user.id|escapejs }}',
    x_name: '{{ user.first_name|escapejs }}' + ' {{ user.last_name|escapejs }}',
    x_profile_image_url: '',
    {% else %}
    xid: null,
    x_name: null,
    x_profile_image_url: '',
    {% endif %}
  };

  // TODO: erase these comments. Kept above lines just in case we need then to
  // go from popup to modal when logging from polis.
  // window.opener.postMessage(login_data, '*');
  // window.parent.opener.postMessage(login_data, '*');
  // window.parent.postMessage(login_data, '*');
  // window.postMessage(login_data, '*');

  window.opener.parent.postMessage(login_data, '*');
  window.open('', '_self', ''); window.close();
</script>
{% endblock content %}
