<div class="webchat-card__section">
    <img class="avatar" src="/static/img/icons/duda.png" alt="drawing of a woman with blue acessory in her brown hair">
    <div class="webchat-card__section-content">
        <span class="tools-card-title">{{_("Webchat in your site")}}</span>
        <span class="helptext webchat-card__description">{{_("Use EJ's web chatbot from your website or platform. It requires you to configure the integration script on the desired page and register this page in the integrations table.")}}</span>
            <p class="webchat-integrations__title">{{_("Integrations table")}}</p>
            {% if conversation_rasa_connections %}
                <table class="webchat-integrations__table">
                    <tr class="webchat-integrations__table-header">
                        <th>{{_("Page")}}</th>
                        {% if is_valid_user %}
                            <th id="th-remove">{{_("Remove")}}</th>
                        {% endif %}
                    </tr>
                    {% for connection in conversation_rasa_connections %}
                    <tr>
                        <td class="webchat-integrations__table-row">
                            <a href={{connection.domain}} target="_blank"> {{connection.domain}}
                            </a>
                        </td>
                        {% if is_valid_user %}
                            <td id="td-remove">
                                <a href="{{ conversation.patch_url('conversation-tools:webchat') }}/delete/{{connection.id}}"><i class="fas fa-trash-restore"></i></a><br>
                            </td>
                        {% endif %}
                    </tr>
                    {% endfor %} 
                </table>
            {% endif %}

        {% if is_valid_user %}
            <form method="POST" class="width-full width-full-extended">
                {{ csrf_input }}
                {% block form_content %}
                    <div class="form-div">
                        {{ form.non_field_errors() }}
                        {{ form.domain.errors }}
                        <label id="domain-label">{{_("new page")}}</label>
                        <div class="domain-form">
                            {{ form.domain }}
                            <input type="hidden" id="id_conversation" name="conversation" value="{{conversation.id}}">
                            <input id="domain-submit" class="is-primary" type="submit" value="{{ _('Add') }}">
                        </div>
                    </div>
                {% endblock %}
            </form>
        {% endif %}
    </div>
</div>
