{% extends 'base.jinja2' %}

{% set content_title = 'Sobre nós' %}
{% set page_class = 'AboutPage' %}

{% block content %}
  <h2>INTRODUÇÃO</h2>
  <p>No dia 21 de setembro, a iniciativa Brasil que o Povo Quer é lançada em todo o Brasil.
  </p>
  <p>É todo o Partido dos Trabalhadores mobilizado para realizar debates e encontros presenciais e/ou virtuais
    a
    fim
    de escutar o povo brasileiro. Isso mesmo: queremos escutar a sua opinião sobre o país.
  </p>
  <p>Serão três frentes de escuta e formulação: </p>
  <ol>
    <li><strong>PLATAFORMA: </strong>a plataforma de participação digital ao alcance de todas/os.
    </li>
    <li><strong>RELATORES: </strong>com encontros abertos e transmitidos com estudiosos e ativistas de
      movimentos
      sociais.
    </li>
    <li><strong>CIDADES: </strong>reuniões e debates nos Diretórios (zonais, municipais, estaduais e
      nacionais),
      setoriais e
      outras instâncias do PT.
    </li>
  </ol>
  <p>Todas as frentes têm autonomia de funcionamento, porém estão interligadas com um objetivo final e único
    de
    construir um novo Projeto para o Brasil, que será apresentado pelo PT à sociedade ao final do processo,
    em
    2018.
  </p>
  <p>Você poderá participar dos encontros presenciais, acompanhar os debates pela internet e também apresentar
    suas
    próprias ideias e opinar nas ideias de outras pessoas pela Plataforma do Brasil que o Povo Quer.
  </p>
  <p><strong>Os Eixos Temáticos</strong></p>
  <p>As conversas irão debater questões, problemas e soluções para temas centrais para o país. A FPA está
    sugerindo 7
    eixos temáticos e vai escolher alguns temas para conversas a partir do que as pessoas têm debatido nas
    mídias
    sociais e na sociedade. Além disso, a partir de outubro os participantes também poderão propor temas de
    conversas livremente.
  </p>
  <p>Conheça os sete grandes eixos temáticos: </p>
  <ul>
    <li>Eixo I – A ordem mundial, a soberania e a defesa da nação.</li>
    <li>Eixo II – Participação popular, liberdade e direitos. Qual democracia queremos?
    </li>
    <li>Eixo III – Integração nacional e serviços no Brasil. É possível construir um país mais justo para
      todos?
    </li>
    <li>Eixo IV – O que é qualidade de vida para você?</li>
    <li>Eixo V – Quem pagará o aumento da infraestrutura e dos bens comuns no Brasil?
    </li>
    <li>Eixo VI <span
      style="font-weight: 400;">– Como reduzir a desigualdade e garantir inclusão social no Brasil?
    </li>
    <li>Eixo VII – Como mobilizar os recursos naturais e tecnológicos gerando riqueza para todos?
    </li>
  </ul>
  <h3><strong>1.&nbsp;</strong><strong>PLATAFORMA</strong></h3>
  <p>Para ampliar a possibilidade de participação, a FPA lançou mão de uma ferramenta que pode ser acessada em
    qualquer lugar do Brasil. É muito fácil: você só precisa acessar um computador ou smartphone.
  </p>
  <p>Funciona assim: basta se cadastrar na plataforma (pelo Facebook, Twitter ou cadastro simplificado na
    própria
    plataforma) e participar das conversas abertas, que falarão de diferentes assuntos selecionados pela
    Fundação
    Perseu Abramo. Opinar é bem simples. Seja pelo celular ou pelo computador você só precisa clicar se
    concorda
    ou
    discorda nas opiniões que forem aparecendo ou incluir suas próprias ideias para os outros participantes
    opinarem.
  </p>
  <p>Após quatro semanas de discussão com a conversa disponível na internet, debates presenciais e/ou
    transmitidos
    ao
    vivo, um grupo de relatores irá analisar todo o material e relatórios – acessível para todos/as na
    plataforma –
    para, a partir dele, construir uma proposta única que deverá ser apresentada aos participantes do
    processo
    para
    validação.
  </p>
  <p>Assim, sua participação consistirá em:</p>
  <ul>
    <li>Na fase da opinião, inserir suas opiniões e dizer se concorda ou discorda das opiniões dos outros.
      Fique
      atento aos relatórios gerados pela Plataforma.
    </li>
    <li>Na fase de diálogo, participar presencial ou virtualmente dos debates e encontros promovidos pelo
      PT,
      ativistas de movimentos sociais, artistas e estudiosos. Fique atento para a agenda disponível em
      ‘Diálogos’,
      na qual você poderá encontrar as datas dos encontros pelo Brasil!
    </li>
    <li>Na fase de respostas, avaliar a proposta de unificação das opiniões.
    </li>
  </ul>
  <p><strong>Os relatórios</strong></p>
  <p>Concomitantemente ao processo de opinião, serão gerados relatórios<strong> </strong><span
    style="font-weight: 400;">com as opiniões mais consensuais e as mais rejeitadas – todas com os recortes de grupo de opinião.
  </p>
  <p>Os grupos de opinião são aqueles que se constituem a partir de ‘identidades’ e concordâncias. Você pode
    ver
    como
    se situa em relação a seus amigos das redes sociais pelo gráfico apresentado ao final de cada conversa
    do
    eixo
    temático.
  </p>
  <p><strong>As respostas</strong></p>
  <p>A ideia é que as respostas mais engajadoras sejam levadas diretamente até estudiosos para comentários.
  </p>
  <p>Assim, você poderá receber respostas no seu login da plataforma ou mesmo em vídeos públicos com
    comentários
    de
    estudiosos, artistas ou parlamentares do PT.
  </p>
  <p>Qualquer pessoa pode participar e incluir opiniões livremente. No entanto é importante salientar que
    comentários
    de ódio e que atacarem os direitos humanos serão rejeitados e excluídos. O PT e a FPA se reservam o
    direito
    de
    incluir apenas aquelas ideias que
    forem alinhadas com sua visão de mundo e as do campo progressista, com os quais o partido se vincula
    programaticamente.
  </p>
  <p>Todos os comentários – mesmo aqueles excluídos – ficarão disponíveis para garantir total transparência do
    processo. Se você quiser ter acesso a eles, só entrar em contato com a equipe da FPA (<a
      href="mailto:brasilqueopovoquer@fpabramo.org.br" target="_blank"
      rel="noopener">brasilqueopovoquer@fpabramo.org.br</a>).
  </p>
  <p><strong>O Cronograma</strong></p>
  <p>Entre setembro de 2017 e abril de 2018 todos os sete eixos temáticos lançarão conversas usando a
    plataforma!
    Neste período a própria população também poderá sugerir temas para as conversas.
  </p>
  <p>Em setembro, a primeira conversa será sobre “O que o governo deve fazer quando a miséria e a fome voltam
    a
    crescer no Brasil?”.
  </p>
  <table>
    <tbody>
    <tr>
      <td><strong>Período</strong></td>
      <td><strong>Conversa</strong></td>
    </tr>
    <tr>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td><strong>Setembro&nbsp;</strong>
        <p></p>
        <p>&nbsp;</p></td>
      <td><strong>Eixo Fome e Miséria</strong>
        <p></p>
        <p>&nbsp;</p></td>
    </tr>
    <tr>
      <td rowspan="3">Outubro a Dezembro</td>
      <td>Eixo Qualidade de Vida</td>
    </tr>
    <tr>
      <td>Eixo Participação e Democracia</td>
    </tr>
    <tr>
      <td>Eixo Recursos naturais e tecnológicos gerando riqueza</td>
    </tr>
    <tr>
      <td rowspan="3"></td>
      <td>Eixo Relações Internacionais</td>
    </tr>
    <tr>
      <td>Eixo Infraestrutura</td>
    </tr>
    <tr>
      <td>Eixo É possível construir um país mais justo?</td>
    </tr>
    <tr>
      <td>&nbsp;<p></p>
        <p>Janeiro &nbsp; &nbsp; &nbsp;</p></td>
      <td>&nbsp;<p></p>
        <p>Conversas escolhidas pela população</p></td>
    </tr>
    </tbody>
  </table>
  <p>As conversas ficarão abertas mesmo depois do fim do período de debates. O calendário acima diz respeito
    apenas
    aos lançamentos das conversas, bem como prioridades e direcionamento de ativação das redes por eixos
    temáticos.
    Todas as conversas, assim que lançadas, ficarão disponíveis online e abertas a novas inclusões até o
    final
    do
    processo da escuta em abril de 2018.
  </p>
  <p>Novas conversas serão propostas em 2018. Em breve publicaremos todos os detalhes!</p>
  <h3><a name="estudiosos"></a><strong>2. RELATORES/GRUPOS DE SÍNTESE</strong></h3>
  <p>A FPA está mobilizando acadêmicos e ativistas de movimentos sociais com histórico de atuação nos eixos
    temáticos
    propostos para formar grupos de estudo.</p>
  <p>Estes grupos estarão atentos ao que será produzido na Plataforma Digital de Participação, proporão
    debates, e
    produzirão conteúdo, informação e dados para ajudar na formulação de opiniões dos participantes. Além
    disso,
    estarão responsáveis pela sistematização das opiniões ao final do processo.</p>
  <p>Todos os encontros deste grupo serão transmitidos ao vivo.</p>
  <p>Eixo 1 – A ordem mundial, a soberania e a defesa da nação<br>
    Coordenador: Giorgio Romano<br>
    Secretário executivo: Kjeld Jakobsen</p>
  <p>Eixo 2 – Participação popular, liberdade e direitos. Qual democracia queremos?<br>
    Coordenadora: Nilma Lino Gomes<br>
    Secretária executiva: Vilma Bokany e Matheus Toledo</p>
  <p>Eixo 3 – Integração nacional e serviços no Brasil. É possível construir um País mais justo para
    todos?<br>
    Coordenador: Carlos Brandão<br>
    Secretário executivo: Greiner Costa</p>
  <p>Eixo 4 – O que é qualidade de vida para você?<br>
    Coordenador: Jorge Abraão<br>
    Secretário executivo: Antonio Carlos Carvalho</p>
  <p>Eixo 5 – Quem pagará o aumento da infraestrutura e dos bens comuns no Brasil?<br>
    Coordenador: Esther Bemerguy<br>
    Secretário executivo: Marcelo Manzano</p>
  <p>Eixo 6 – Como reduzir a desigualdade e garantir inclusão social no Brasil?<br>
    Coordenadora: Márcia Lopes<br>
    Secretária executiva: Ana Luiza Matos de Oliveira</p>
  <p>Eixo 7 – Como mobilizar recursos os naturais e tecnológicos gerando riqueza para todos?<br>
    Coordenador: Luiz Pinguelli Rosa<br>
    Secretário executivo: Willian Nozaki’</p>
  <h3><strong>3. CIDADES</strong></h3>
  <p>Todo o PT está mobilizado para ouvir os brasileiros e brasileiras sobre os temas propostos.
  </p>
  <p>Os diretórios zonais, municipais, estaduais e nacional organizarão encontros presenciais e virtuais – com
    transmissão ao vivo.
  </p>
  <p>Ficou interessada/o? <strong>Entre em contato com o diretório da sua cidade</strong> e pergunte quando
    será o
    encontro aí.
  </p>
  <p>É de um diretório e quer organizar na sua cidade? Envie um e-mail para nós: <a
    href="mailto:brasilqueopovoquer@fpabramo.org.br" target="_blank"
    rel="noopener">brasilqueopovoquer@fpabramo.org.br</a>
  </p>
  <p>Os diretórios, militantes e movimentos interessados em realizar encontros receberão conteúdos
    programáticos
    sobre
    cada eixo de debate, para ajudar nos debates.
  </p>
  <p>A iniciativa já foi lançada em eventos realizados por boa parte dos Diretórios Estaduais do PT e agora
    vai
    entrar
    na fase dos debates temáticos:
  </p>
  <ul>
    <li>Semana de 06 a 12/11– Política de drogras: Será que está correto um jovem ir para cadeia porque foi
      pego
      com
      um baseado na mão?
      <ul>
        <li>Dia 09 de Novembro às 19h: Debate em SP ‘Política de Drogas’ Alexandre Padilha, Nathália
          Oliveira,
          Marília Acosta, Paulo Ramos transmitido ao Vivo pela TevêFPA
        </li>
        <li>Debate no RJ ‘Brasil que o Povo quer é o Brasil com a Juventude Negra Viva’ (data a
          confirmar)
        </li>
      </ul>
    </li>
  </ul>
  <p></p>
  <ul>
    <li>Semana de 13 a 19/11 – Trabalho: Para uma sociedade mais igualitária, quais as políticas necessárias
      para
      geração de renda e de trabalho decente?
      <ul>
        <li>Debate ‘Desenvolvimento local é uma solução para o desemprego no Brasil?’ (data a confirmar)
        </li>
        <li>Debate ‘Juventude e Trabalho’ (data a confirmar)</li>
      </ul>
    </li>
  </ul>
  <p>&nbsp;</p>
  <ul>
    <li>Semana de 20 a 26/11 – Liberdade de expressão: Em uma democracia para todas e todos, qual os limites
      da
      liberdade de expressão?
      <ul>
        <li>Debate na Zona Sul de São Paulo ‘A Cultura Periférica e a Censura’ (data a confirmar)</li>
        <li>Debate na Zona Leste de São Paulo ‘A Cultura Periférica e a Censura’ (data a confirmar)</li>
      </ul>
    </li>
  </ul>
  <p></p>
  <ul>
    <li>Semana de 27/11 a 03/12 – Recursos naturais: O Brasil é rico por natureza. O que é preciso para
      fazer
      com
      que essa riqueza seja utilizada em benefício de toda população?
      <ul>
        <li>Debate ‘O petróleo como recurso estratégico e o desmonte da Petrobras’ com José Sergio
          Gabrielli
          (data a confirmar)
        </li>
        <li>Debate ‘A venda de terras nacionais para empresas estrangeiras’ com Luiza Dulci (data a
          confirmar)
        </li>
      </ul>
    </li>
  </ul>
  <p></p>
  <ul>
    <li>Semana de 04 a 10/12 – Educação: Como devem ser a política de educação para sociedade mais justa e
      igualitária?
      <ul>
        <li>Debate em Belo Horizonte (data a confirmar)</li>
        <li>Debate em São Paulo (data a confirmar)</li>
      </ul>
    </li>
  </ul>

  <h2>O FINAL</h2>
  <p>Esse amplo processo de escuta e conversas vai durar até meados de 2018, quando então será apresentado
    para a
    direção do PT e ajudará a construir um novo programa para o Brasil. O que queremos é escutar o povo
    brasileiro,
    renovar nosso programa e unir forças para encontrar o melhor e mais democrático caminho para nosso país.
  </p>
{% endblock %}
