{% extends 'base.jinja2' %}
{% set content_title ='Perguntas frequentes' %}

{% block content %}
  <h2>Como funciona?</h2>
  <p>Funciona assim: basta se cadastrar na plataforma (pelo login do Facebook, Twitter ou cadastro simples na própria
    plataforma) e participar das conversas abertas, que debaterão diferentes assuntos selecionados pela Fundação
    Perseu Abramo. Participar é bem simples: seja pelo celular ou pelo computador, você pode incluir suas ideias e
    concordar ou discordar de opiniões que forem aparecendo num simples clique.</p>
  <p>As opiniões ficarão expostas na plataforma, para que todos possam participar. Os participantes também poderão
    sugerir pautas e votar para escolher o tema de novas conversas.</p>
  <h2>Quem pode participar? Precisa ser filiado ao PT?</h2>
  <p>Não. O PT quer escutar toda a sociedade e não só os filiados. Todos que quiserem ajudar na construção de um novo
    Programa para o Brasil estão convidados a colaborar com o processo de maneira livre e ampla.</p>
  <h2>E o que acontece depois?</h2>
  <p>Todo o material produzido pelas opiniões vai ser discutido em encontros presenciais com intelectuais, estudiosos,
    artistas, especialistas, ativistas e militantes sociais e será respondido diretamente.</p>
  <p>Além disso, a Fundação Perseu Abramo vai analisar e sistematizar todo o debate e construir vídeos e documentos
    que apresentem o balanço desta participação.</p>
  <p>Esse ciclo de conversas vai durar cerca de um ano e orientar a direção do PT na criação de um novo programa para
    o Brasil.</p>
  <h2>Quais sugestões serão respondidas diretamente?</h2>
  <p>Todas as opiniões inseridas na Plataforma serão consideradas.</p>
  <p>Além disso, todas as sugestões que receberem opinião (sim/não) de pelo menos 30% dos participantes da conversa
    receberão resposta diretamente pela Fundação Perseu Abramo, que também irá analisar todas as sugestões e produzir
    um balanço geral com as propostas a serem encaminhadas ao diretório nacional do PT.</p>
  <p>A Fundação Perseu Abramo também quer ouvir as minorias. Por isso vai responder os comentários consensuais dos
    grupos de opinião, por menores que sejam. Qualquer comentário que tiver mais de 60% de apoios ou rejeições na
    opinião dos participantes do grupo no último dia da conversa também será respondido pela FPA.</p>
  <h2>Existe algum tipo de moderação?</h2>
  <p>Comentários de ódio e que atacarem os direitos humanos serão rejeitados e ficarão disponíveis para consulta
    pública como forma de garantir a transparência e a autenticidade desta moderação. A consulta pode ser feita
    diretamente à FPA(brasilquepovoquer@fpa.org.br), que também se reserva o direito de analisar casos específicos e
    flagrantes de ataque aos objetivos e temas das conversas. Comentários sobre a metodologia ou sobre o processo
    deverão ser feitos na área de “Problemas ou Sugestões” e serão movidos para lá.</p>
  <h2>Por que o campo de comentários é tão curto?</h2>
  <p>O software se inspira nas melhores práticas de participação digital do mundo. Os campos de comentários serem
    pequenos viabiliza que as pessoas possam ler de maneira mais fácil e rápida e aumenta sua chance de participar.
    Além disso, quem quiser colocar mais ideias pode dividir em 2 ou 3 comentários diferentes.</p>
  <h2>Eu posso mobilizar as pessoas para votarem a favor da minha opinião?</h2>
  <p>O objetivo da plataforma é gerar um debate amplo e plural, que acima de tudo inclua quem não está habituado a se
    engajar. Por isso, não haverá link para cada comentário e sim para toda a conversa. Ou seja, você pode – e deve! –
    mobilizar suas amigas e amigos para participar das conversas como um todo e, assim, sua rede terá contato não
    apenas com a sua opinião, mas com a diversidade de opiniões da conversa!</p>
  <h2>Que dados pessoais eu preciso fornecer? O que será feito com eles?</h2>
  <p>O usuário se cadastra apenas com o seu nome e email. Quando o login for feito por mídias sociais (Facebook ou
    Twitter) nós vamos registrar apenas o nome, email e foto de perfil. Esses dados são fornecidos mediante
    autorização do próprio usuário, tanto no momento do registro quanto do login, e serão utilizados para sua própria
    interação na plataforma, com o nome e foto de perfil ficando visíveis na visualização dos grupos de opinião e na
    autoria dos seus comentários.</p>
  <p>A plataforma só utilizará os dados de nome e foto de perfil em relatórios agregados para fins de pesquisa e
    sistematização, incluindo a emissão de relatórios estatísticos referentes a próprio uso da plataforma. Os e-mails
    só serão utilizados para fins de comunicação com o usuário, seja sobre eventos voltados ao aprimoramento da
    participação, seja com informações pertinentes aos grupos de opinião de que ele participa, sempre resguardado o
    direito de se retirar a qualquer momento.</p>
  <p>Nunca forneceremos esses dados para terceiros. Nos comprometemos a apenas usar, armazenar e tratar dados pessoais
    vinculados à estrita finalidade a que se destina a plataforma.</p>
  <h2>Este software é livre?</h2>
  <p>Todos os softwares em que estão baseados a plataforma digital são livres. Livres no sentido de que qualquer
    pessoa pode utilizar, estudar, modificar e compartilhar com qualquer um. Ao adotar e investir no software livre
    Polis e no aplicativo Empurrando Juntos, a Fundação Perseu Abramo está contribuindo para a criação e aprimoramento
    de uma tecnologia comum que poderá ser utilizada por qualquer outra organização com interesse em promover debates
    democráticos na internet.</p>
  <h2>As conversas acabam?</h2>
  <p>Depois de aberta a conversa de cada eixo temático, ela ficará disponível para acesso e inclusão de outras
    opiniões até o final do processo em abril de 2018. As conversas por eixo temático não se encerrarão. No entanto, a
    FPA irá concentrar esforços de mobilização e formulação durante quatro semanas em cada eixo temático no ano de
    2017; depois mais quatro semanas em cada eixo em 2018, totalizando dois ciclos de mobilização para cada um dos
    sete eixos temáticos</p>
  <h2>Como este material vai ser usado pelo PT/FPA</h2>
  <p>Todas opiniões geram relatórios que serão submetidos em um processo transparente a um grupo de estudiosos dos
    temas que, a partir deste material, farão um esforço de unificá-las para construção de uma proposta única que será
    apresentada pelo PT à sociedade em 2018.</p>
{% endblock %}
