{% from "ej_dataviz/report/export-data.jinja2" import export_modal %}
<div class="title-export">
    <span class="h2 text-accent"> 
        {{_('Comments Report')}}
    </span>
    {{ export_modal(can_view_detail, conversation, type_data, conversation.slug) }}
</div>
{{ conversation|role('comments-stats-table') }}

{% if clusters %}
    <h2>{% trans %}Clusters{% endtrans %}</h2>
    {% for cluster in clusters %}
        <div class="title-export">
            <h3>{{ cluster.name }} ({{ _('{n} users').format(n=cluster.n_users) }})</h3>
            {{ export_modal(can_view_detail, conversation, type_data, cluster.name, cluster) }}
        </div>
        {{ cluster|role('comments-stats-table') }}
    {% endfor %}
{% endif %}

{% if can_view_detail %}
    <h2 class="h3 text-accent center">{% trans %}More info{% endtrans %}</h2>
    <dl>
        <dt>{% block participant_table_link %}
            <a href="{{ conversation.url('report:users') }}">{{ _('Participants') }}</a>
        {% endblock %}</dt>
        <dd>{% trans %}See statistics about each participant.{% endtrans %}</dd>
    </dl>
{% endif %}
