<div class="pad-3 rounded-3 shadow report-card">
    <strong class="uppercase bold text-4">{% trans %}Votes{% endtrans %}</strong>
    {{ conversation|role('stats-table', class_='margin-x3') }}
</div>