{% macro card_tools(tool, image, channel, description, link, oversize) %}
<div class="column">
  {% if tool.is_active %}
    <div class="card" onclick="location.href='{{ link }}'">
      {% if oversize %}
        <img class="balance-bigger-margin" src="{{ image }}" alt=""/>
      {% else %}
        <img class="imgcard" src="{{ image }}" alt=""/>
      {% endif %}
      <h3>{{channel}}</h3>
      <p>{{ description }}</p>
    </div>
  {% else %}
    <div class="card">
      {% if oversize %}
        <img class="balance-bigger-margin" src="{{ image }}" alt=""/>
      {% else %}
        <img class="imgcard" src="{{ image }}" alt=""/>
      {% endif %}
      <h3>{{channel}}</h3>
      <p>{{ description }}</p>
			<span class="helptext text-accent">{{_("This tool is not available on your current signature.")}}</span>
    </div>
  {% endif %}
</div>

{% endmacro %}
