{% macro links_tools(image, channel, description, link, oversize) %}
<div class="column">
  <div class="card" onclick="window.open('{{ link }}')">
    <div class="card-icon">
      {% if oversize %}
        <img class="balance-bigger-margin" src="{{ image }}" alt=""/>
      {% else %}
        <img class="imgcard" src="{{ image }}" alt=""/>
      {% endif %}
    </div>
    <div class="card-text">
      <h3>{{channel}}</h3>
      <p>{{ description }}</p>
    </div>
  </div>
</div>

{% endmacro %}
