<style>
body {
    margin: 0;
}
body > * {
    font-family: sans-serif, serif !important;
    width: 100%;
}
</style>

<table cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td class="mcnTextContent" style='box-sizing: border-box; font-size: 36px; font-weight: 400 !important; font-family: "Raleway", sans-serif; min-width: 74vw; height: 100vh; overflow: hidden; padding: 45px 0; background-image: url(https://gitlab.com/pencillabs/ej/ej-application/uploads/7b6e5e342b8d0606c2dbc4041e4eda79/tela-enquete2.png); background-repeat: round;'>
                <div style="box-sizing: border-box; font-size: 18px; max-width: 700px; width: 100% !important; z-index: 3; background-color: #E7E7E7; color: #000; margin: auto; padding: 80px 80px 14px 75px;">
                    <div style="margin-bottom: 19px; font-weight: 700; font-size: 16px; line-height: 24px; gap: 38px;">
                        <span>comentários: </span> {{conversation_n_comments}}
                        <!-- <img src="{{host}}/static/img/icons/check-to-slot-solid.svg" width="25px" height="17.5px" style="margin: 0 12px 0 38px;">{{votes_conversation}} -->
                        <span>votos: </span> {{votes_conversation}}
                    </div>
                    <h1 style="font-size: 28px !important; font-weight: 200 !important; text-transform: none; box-sizing: border-box; max-width: 700px; color: #000 !important; margin: 0 auto; padding: 0 0 32px;">{{conversation_title}}</h1>
                    <div style="margin-bottom: 24px;">
                        <table>
                            <tr>
                                <td style="border-right: 10px solid transparent;">
                                    <div style="position: relative; height: 8px; width: 100px; background: white; border-radius: 12px; border: 1px solid black;"></div>
                                </td>
                                <td style="font-style: normal; font-weight: 700; font-size: 12px; line-height: 14px; text-transform: uppercase;">1 de {{conversation_n_comments}} comentários</td>
                            </tr>
                        </table>
                    </div>
                    <span style="color: #000; font-weight: 400; font-size: 20px; line-height: 23px;">{{comment_content}}</span>
                    <div style="margin-top: 75px;">
                        <table style="font-weight: bold; text-transform: lowercase; width: 100%; margin: 0; padding: 0;">
                            <tr>
                                <td style="width: 33%; text-align: center;">
                                    <div style="color: white; background: rgba(24, 174, 0, 0.8); border-radius: .5rem; padding: 6px;">
                                        <a style="color: white; text-decoration: unset;" href="{{vote_url}}&choice=agree"> concordar </a>
                                    </div>
                                </td>
                                <td style="width: 33%; text-align: center;">
                                    <div style="color: black; border-radius: .5rem; padding: 6px;">
                                        <a style="color: black; text-decoration: unset;" href="{{vote_url}}&choice=agree"> pular </a>
                                    </div>
                                </td>
                                <td style="width: 33%; text-align: center;">
                                    <div style="background: #C70000; border-radius: .5rem; padding: 6px;">
                                        <a style="color: white; text-decoration: unset;" href="{{vote_url}}&choice=agree"> discordar </a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <p style="font-style: italic; font-size: 12px; font-weight: 500; color: #777777; margin-top: 70px; text-align: center;">Os comentários acima representam a visão dos participantes</p>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
