{% extends 'ej_conversations/base.jinja2' %}

{% block metaOG2 %}

    <meta name="description" property="og:title" content="Area de integração da EJ com outras ferramentas.">
    <meta property="og:description" content="Area de integração da EJ com outras ferramentas.">

{% endblock metaOG2 %}

{% block _menu %} {{ menu(request.user, board_palette) }} {% endblock %}
{% set main_class = "board-container" %}

{% block content %}

<div class="tools">
    <div class="tools-container">
    <div class="tools-title">
    <h1 class="h2 text-accent"><a href="{{ conversation.url('conversation-tools:index') }}">{{_("Tools")}}</a>
        > {{ tool["integration"] }}</h1>
    <span class="helptext">
        {{_("Integrate this conversation with the Mautic platform API, allowing users who participate in this conversation to be automatically synchronized with Mautic's contact base.")}}
    </span>
    </div>

        <div>
        {% if errors %}
            <span id="errors-mautic-form">
                {{errors}}
            </span>
        {% endif %}
        </div>
    {% if not connections %}
        <input onClick="displayForm()" id="is-primary-centered" type="button" name="enable_integration" value="{{ _('Enable Integration') }}">
    {% endif %}

    {% if form %}
        {% include 'ej_tools/mautic-form.jinja2' %}
    {% endif %}

    {% if connections %}
        {% include 'ej_tools/mautic-connections.jinja2' %}
    {% endif %}
    </div>
</div>

{% block javascript %}
<script>
  function displayForm() {
    document.querySelector("input[name=enable_integration]").style.display = "none";
    document.querySelector("#mautic-connection-form").style.display = "block";
  }
</script>
{% endblock %}

{% endblock %}
