{% extends 'ej_conversations/base.jinja2' %}
{% from "ej_tools/includes/help-card.jinja2" import help_card %}
{% block metaOG2 %}

    <meta name="description" property="og:title" content="Area de integração da EJ com outras ferramentas.">
    <meta property="og:description" content="Area de integração da EJ com outras ferramentas.">

{% endblock metaOG2 %}
{% set main_class = "board-container" %}
{% block _menu %} {{ menu(request.user, board_palette) }} {% endblock %}

{% block content %}
	<div class="tools">
		<div class="tools-container">
			<div class="tools-title">
				<h1 class="h2 text-accent"><a href="{{ conversation.url('conversation-tools:index') }}">{{_("Tools")}}</a>
				> {{ tool["integration"] }}</h1>
				<span class="helptext">{{tool["description"] }}</span>
			</div>

			<h3 class="h3 divider">{{_("Collection Link")}}</h3>
			<span class="helptext">{{_("Select a theme and start a collection with the opinion component built into EJ.")}}</span>
		</div>
		<div class="opinion-component-container">
			<div class="card-opinion-component">
				<form method="POST" class="tools-settings-form" id="opinion-component-form" target="_blank">
					{{ csrf_input }}
					{% block form_content %}
						<div class="title-theme">
							<span class="h3"> 
								{{form.theme.label}}
							</span><br>
							<span class="helptext">
								{{_("Selects a color palette for the component style.")}}
							</span>
						</div>

						<section>
							{{form.theme}}
						</section>
						<div id="start-collection-div">
							<button class="start-collection-btn" type="submit" name="preview"><p>{{_('Start Collection')}}</p></button>
						</div>
					{% endblock %}
				</form>
			</div>
			<div class="opinion-component-card-list">
				{{ help_card(_("Integrate opinion component with Mautic."), "/static_docs/i18n/pt-br/user-docs/tools-opinion-component.html")}}
				{{ help_card(_("Integrate opinion component with Google Analytics."), "/static_docs/i18n/pt-br/user-docs/tools-opinion-component.html")}}
			</div>
		</div>
	</div>
				
{% endblock %}
