{% extends 'ej_conversations/base.jinja2' %}
{% block metaOG2 %}

    <meta name="description" property="og:title" content="Area de integração da EJ com outras ferramentas.">
    <meta property="og:description" content="Area de integração da EJ com outras ferramentas.">

{% endblock metaOG2 %}
{% block _menu %} {{ menu(request.user, board_palette) }} {% endblock %}

{% block content %}
<div class="tools">
	<div class="tools-container">
	<div class="tools-title">
		<h1 class="h2 text-accent">{{_("Tools")}} > {{ tool["integration"] }}</h1>
		<span>{{tool["description"] }}</span>
	</div>
	<div class="tools-section">
		<div class="tools-content">
			<form method="POST" class="tools-settings-form" id="opinion-component-form">
				{{ csrf_input }}
				{% block form_content %}
					<h3 class="h3 divider">{{form.authentication_type.label}}</h3>
					<span class="helptext">{{_("Selects the type of authentication that will be used to register the user in the EJ API.")}}</span>
					<span class="helptext">{{_("Not sure which option to choose?")}}<a href="https://www.ejplatform.org/docs/">{{_("Access our documentation.")}}</a></span>
					<section>
						{{form.authentication_type}}
					</section>

					<div class="title-theme">
						<span class="h3"> 
							{{form.theme.label}}
						</span>
						<div id="preview-option">
							<i id="eye-icon" class="fas fa-eye"></i><input id="visualize-btn" type="submit" name="preview" value="{{_('Visualize')}}">
						</div>
					</div>
					<span class="helptext">{{_("Selects a color palette for the component style.")}}</span>
					<section>
						{{form.theme}}
					</section>
				{% endblock %}
				<h3 class="h3 divider">{{_("Integration script")}}</h3>
				<span class="helptext">{{_("Generate scripts by clicking on the icon to integrate the component into your html page.")}}</span>
			</form>
		</div>

		<div class="tools-code-snippet">
			<span class="helptext">{{_("Add this snippet to the website's body tag.")}}</span>
			<div style="position: relative;">
				<div class="corner-icon">
					<a href="#" onclick="copySnippet('copy-header')" id="copy-header-icon"><i class="fas fa-copy"></i></a>
					<div id="copy-header-info" class="info">
						<p>{{_("Copy")}}</p>
					</div>
				</div>
				<div class="corner-icon" style="margin-right: 40px;">
					<a href="#" id="copy-script-icon" onclick="generateScript()"><i class="fas fa-sync-alt"></i></a>
					<div id="copy-script-info" class="info">
						<p>{{_("Generate Script")}}</p>
					</div>
				</div>
        	</div>
			<textarea readonly id="copy-header">
				{% include 'ej_tools/includes/opinion-component-copy-header.jinja2' %}
			</textarea>
		</div>

		<div class="tools-code-snippet" style="margin-top: 2.5rem;">
			<span class="helptext">{{_("Add this snippet to the body tag of the page where the component will be presented.")}}</span>
			<div style="position: relative;">
				<div class="corner-icon">
					<a href="#" onclick="copySnippet('copy-body')" id="copy-icon"><i class="fas fa-copy"></i></a>
					<div id="copy-info" class="info">
						<p>{{_("Copy")}}</p>
					</div>
				</div>
        	</div>
			<textarea readonly id="copy-body" style="height: auto;">
				{% include 'ej_tools/includes/opinion-component-copy-body.jinja2'%}
			</textarea>
		</div>

	</div>

	<p><a href="{{ conversation.url('conversation-tools:index') }}" title="{{ _('Back to tools') }}"
		class="lowercase bold text-brand">
		<i class="fa fa-chevron-left"></i>{% trans %}Back to tools{% endtrans %}
	</a></p>
	</div>
</div>

<script>
	function copySnippet(elementId) {
        event.preventDefault();

        var copyText = document.getElementById(elementId);
        var selected = copyText.select();
		document.execCommand("copy");
    }
	function generateScript() {
		event.preventDefault();
		document.getElementById('opinion-component-form').submit();
	}
</script>
{% endblock %}
