<div id="export-modal" class="group-comments desative" tabindex="-1" role="dialog" aria-labelledby="modal-comments-selections" aria-hidden="true" data-backdrop="true" data-keyboard="true">  
  <div id="export-modal-content" class="group-comments-content">
    
    <div id="show-comments">
      {% with comments=comments %}
        {% include 'ej_tools/show-comments.jinja2' %}
      {% endwith %}
    </div>

    <div id="edit-comments" class="desative">
      {% with comments=comments %}
        {% include 'ej_tools/edit-comments.jinja2' %}
      {% endwith %}
    </div>

  </div>
</div>


<script>
const tableShow = document.getElementById("show-comments")
const tableEdit = document.getElementById("edit-comments")

function closeCommentsModal(closeIcon) {
  document.getElementById("export-modal").classList.add("desative")
  document.body.classList.remove("modal-without-trasparency")

  //prevent scroll
  const body = document.body;
  const scrollY = body.style.top;
  body.style.position = '';
  body.style.top = '';
  window.scrollTo(0, parseInt(scrollY || '0') * -1);

  //Sort tables
  tableEdit.classList.add("desative")
  tableShow.classList.remove("desative")

}

function openCommentsModal(event) {
  let el = document.getElementById("export-modal")
  if(el.id === "export-modal") {
    var bd = document.body
    bd.classList.toggle("modal-without-trasparency")
    el.classList.remove("desative")
    //prevent scrool
    const scrollY = document.documentElement.style.getPropertyValue('--scroll-y');
    const body = document.body;
    body.style.position = 'fixed';
    body.style.top = `-${scrollY}`;
  }
}

document.getElementById("pool-btn").onclick = openCommentsModal

document.getElementById("open-edit-comments").onclick = function() {
  tableShow.classList.add("desative")
  tableEdit.classList.remove("desative")
}

window.addEventListener('scroll', () => {
  //Fixe position when modal open
  document.documentElement.style.setProperty('--scroll-y', `${window.scrollY}px`);
});

</script>
