{% extends 'ej_conversations/base.jinja2' %}
{% from "ej_tools/includes/help-card.jinja2" import help_card %}
{% from "ej_tools/chatbots/opinion_bot.jinja2" import opinion_bot %}



{% block metaOG2 %}

    <meta name="description" property="og:title" content="Area de integração da EJ com outras ferramentas.">
    <meta property="og:description" content="Area de integração da EJ com outras ferramentas.">

{% endblock metaOG2 %}


{% block _menu %} {{ menu(request.user, board_palette) }} {% endblock %}
{% set main_class = "board-container" %}

{% block content %}

<div class="tools">
  <div class="tools-container-full-width">
    <div class="tools-title">
      <h1 class="h2 text-accent"><a href="{{ conversation.patch_url('conversation-tools:index') }}">{{_("Tools")}}</a>
        > <a href="{{ conversation.patch_url('conversation-tools:chatbot') }}">{{ _("Opinion Bots") }}</a>
        > Telegram </h1>
      <span class="helptext">{{_("Collect opinions using EJ's chatbots. Allows you to collect the opinion of Telegram users.")}}</span>
    </div>
    <h3 class="h3 divider">{{_("Collect Bot")}}</h3>
    <span class="helptext">{{_("Use one of our bots to make collections on Telegram.")}}</span>

    <div class="tools-divider">
      {{opinion_bot(conversation, tool, "telegram", static('/img/logo/channel_telegram.svg'))}}
      {% with comments=conversation.poll_comments %}
        {% include 'ej_tools/telegram/poll_bot.jinja2' %}
      {% endwith %}
    </div>
  </div>
</div> 

{% endblock %}
