{% extends 'ej_conversations/base.jinja2' %}
{% from "ej_tools/includes/help-card.jinja2" import help_card %}

{% block metaOG2 %}

    <meta name="description" property="og:title" content="Area de integração da EJ com outras ferramentas.">
    <meta property="og:description" content="Area de integração da EJ com outras ferramentas.">

{% endblock metaOG2 %}

{% block _menu %} {{ menu(request.user, board_palette) }} {% endblock %}
{% set main_class = "board-container" %}

{% block content %}
<div class="tools">
    <div class="tools-title">
        <h1 class="h2 text-accent"><a href="{{ conversation.patch_url('conversation-tools:index') }}">{{_("Tools")}}</a>
            > <a href="{{ conversation.patch_url('conversation-tools:chatbot') }}">{{ _("Opinion Bots") }}</a>
            > Webchat</h1>
        <span class="helptext" id="description-info">
            {{_("Gather feedback using EJ's chatbot infrastructure.")}}
        </span>
        <span class="helptext">{{_("With Webchat you can perform collections on web pages using our guided bot.")}}</span>
    </div>
    
    <h3 class="h3 divider">{{_("Webchat")}}</h3>
    <span class="helptext">{{_("Integrate a new page with webchat or click <b>Start Collection</b> to utilize our standard integration.")}}</span>
    <div class="webchat-card">
        {% include 'ej_tools/webchat/webchat-preview-card.jinja2' %}
        <hr class="webchat-card__divider">
        {% include 'ej_tools/webchat/form-integration.jinja2' %}
    </div>    

    <div id="webchat-help-card">
        {{ help_card(_("When should I use webchat?"), "/static_docs/i18n/pt-br/user-docs/tools-chatbot.html#webchat")}}
        {{ help_card(_("How can I integrate webchat into my website?"), "/static_docs/i18n/pt-br/user-docs/tools-chatbot.html#webchat")}}
    </div>
</div>

{% endblock %}
