{% extends 'ej_conversations/base.jinja2' %}

{% block metaOG2 %}

    <meta name="description" property="og:title" content="Area de integração da EJ com outras ferramentas.">
    <meta property="og:description" content="Area de integração da EJ com outras ferramentas.">

{% endblock metaOG2 %}

{% block _menu %} {{ menu(request.user, board_palette) }} {% endblock %}

{% block content %}
<div class="tools">
    <div class="tools-container">
    <div class="tools-title">
    <h1 class="h2 text-accent"><a href="{{ conversation.url('conversation-tools:index') }}">{{_("Tools")}}</a>
        > <a href="{{ conversation.url('conversation-tools:chatbot') }}">{{ tool["integration"] }}</a>
        > Webchat</h1>
    </div>
    <p id="description-info">
        {{_("Collect opinions using EJ's chatbot infrastructure.")}}<br>
        {{_("With Webchat you can perform collections on web pages using our guided bot.")}}
    </p>
    <br>
    <div class=title-webchat-preview>
        <div><span class="h3">{{_("Linked websites")}}</h3></div>
        <form method="POST" id="webchat-preview-form">
            {{ csrf_input }}
            <i id="eye-icon-preview" class="fas fa-eye"></i><button type="submit" name="webchat-preview">{{_("Visualize")}}</button>
        </form>
    </div>
    <span class="helptext">{{_("Integrate a new page with the webchat or click <b>view</b> to use our standard integration.")}}</span>
        {% if conversation_rasa_connections %}
            <table id="template-table">
                <tr class="table-header">
                    <th>URL</th>
                    {% if is_valid_user %}
                        <th id="th-remove">{{_("Remove")}}</th>
                    {% endif %}
                </tr>
                {% for connection in conversation_rasa_connections %}
                <tr class="url-table">
                    <td>
                        <a href={{connection.domain}} target="_blank">{{connection.domain}}</a>
                    </td>
                    {% if is_valid_user %}
                        <td id="td-remove">
                            <a href="{{ conversation.url('conversation-tools:webchat') }}/delete/{{connection.id}}"><i class="fas fa-trash-restore"></i></a><br>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %} 
            </table>
        {% endif %}

    {% if is_valid_user %}
        <form method="POST" class="width-full width-full-extended">
            {{ csrf_input }}
            {% block form_content %}
                <div class="form-div">
                    {{ form.non_field_errors() }}
                    {{ form.domain.errors }}
                    <label id="domain-label">{{_("new")}} {{ form.domain.label }}</label>
                    <div class="domain-form">
                        {{ form.domain }}
                        <input type="hidden" id="id_conversation" name="conversation" value="{{conversation.id}}">
                        <input id="domain-submit" class="is-primary" type="submit" value="{{ _('Add') }}">
                    </div>
                </div>
            {% endblock %}
        </form>
    {% endif %}
    
    <br>

    <h3 class="h3 divider">{{_("Integration script")}}</h3>
    <span class="helptext">{{_("Add the script in the &ltbody&gt tag of the page where the collection will take place.")}}</span>
    
    <div class="tools-code-snippet">
        <div style="position: relative;">
            <div class="corner-icon">
                <a href="#" onclick="copySnippet('copy-body')" id="copy-icon"><i class="fas fa-copy"></i></a>
                <div id="copy-info" class="info">
                    <p>{{_("Copy")}}</p>
                </div>
            </div>
        </div>
        <textarea id="copy-body" readonly>
            {% include 'ej_tools/includes/rasa-copy-body.jinja2'%}
        </textarea>
    </div>
    </div>
</div>

<script>
    function copySnippet(elementId) {
        event.preventDefault();

        var copyText = document.getElementById(elementId);
        var selected = copyText.select();
		document.execCommand("copy");
    }
</script>

{% endblock %}
