{% extends 'ej_conversations/base.jinja2' %}

{% block metaOG2 %}

    <meta name="description" property="og:title" content="Area de integração da EJ com outras ferramentas.">
    <meta property="og:description" content="Area de integração da EJ com outras ferramentas.">

{% endblock metaOG2 %}

{% block _menu %} {{ menu(request.user, board_palette) }} {% endblock %}

{% block content %}
<div class="tools">
    <div class="tools-container">
        <div class="tools-sections">
            <div class="tools-title">
                <h1 class="h2 text-accent">{{_("Tools")}} > {{ tool["integration"] }} > Whatsapp</h1>
                <span>{{ _("Collect opinions using EJ's chatbot, also known as Duda. Allows you to collect the opinion of whatsapp users. To make the collection available, forward the participation link to groups, channels or directly in the user's private chat.") }}</span>
            </div>
            <div class="tools-content">
                <h3 class="h3 divider">{{_("Participation link")}}</h3>
                <span class="helptext">{{ _("Share the participation link to start the collection.") }}</span>
                <div class="tools-divider">
                    <div class="tools-select">
                            <label>{{form.bot_type.label}}</label>
                            {{form.bot_type}}
                    </div>
                    <div class="tools-share tools-cards-width">
                        <div class="tools-share-container">
                            <span id="share-whatsapp-link" class="tools-icon-share" style="background: url({{static('/img/icons/share.svg')}}) repeat;" alt="Share icon">
                                <span id="tools-tip-text">{{_("Copied to clipboard!")}}</span>
                            </span>
                        </div>

                        <div class="tools-share-content">
                            <span id="helptext-tool" class="helptext">
                                {{share_text}}
                                {{conversation.text}}
                                {{_("To participate, just click on the link:")}}
                                <a class="tools-link" id="whatsapp-link"></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p><a href="{{ conversation.url('conversation-tools:chatbot') }}" title="{{ _('Back to channels') }}"
		class="lowercase bold text-brand">
	    <i class="fa fa-chevron-left"></i>{% trans %}Back to tools{% endtrans %}
        </a></p> 
    </div>
</div>

<script>
let bot = document.getElementById("id_bot_type");
let whatsapp_link = document.getElementById("whatsapp-link");
let share_link = document.getElementById("share-whatsapp-link");

window.onload = function () {
    updateUrl();
}

bot.addEventListener('change', (event) => {
    updateUrl();
})

function updateUrl() {
    let phone_number = bot.value;
    let newUrl = generate_whatsapp_link(phone_number, {{conversation.id}});
    whatsapp_link.innerText = newUrl;
    whatsapp_link.href = newUrl;
}

function generate_whatsapp_link(phone_number, conversation_id) {
    return `https://api.whatsapp.com/send?phone=${phone_number}&text=start+${conversation_id}`
}

const copyText = async function() {
    try {
      var range = document.createRange();
      const text = document.getElementById("helptext-tool");
      const tip = document.getElementById("tools-tip-text")
      range.selectNode(text);
      window.getSelection().removeAllRanges(); // clear current selection
      window.getSelection().addRange(range); // to select text
      document.execCommand("copy");
      window.getSelection().removeAllRanges();// to deselect

      tip.classList.add('tools-tip-text-show');  

      await new Promise(r => setTimeout(r, 2000));
      tip.classList.remove('tools-tip-text-show');  
      tip.classList.add('tools-tip-text-hidde');  
    } catch(err){
      alert("Error")
    }
}

share_link.addEventListener("click", async (event) => {
    event.preventDefault();
    let shareData = {
        title: '{{conversation.title}}',
        text: `{{share_text}}\n{{conversation.text}}\n{{_("To participate, just click on the link:")}}`,
        url: whatsapp_link.innerText
    }
    try {
        await navigator.share(shareData);
    } catch(err) {
        await copyText();
    }
})

</script>

{% endblock %}