<nav title="{{ _('Boards') }}">
    <h3>
        {{ _('Boards') }}
        <a href="{{ url('boards:board-create') }}" class="add-button" title="{{_('New board')}}"><i class="fa fa-plus-square fa-lg"></i></a>
    </h3>
    <ul class="board-list">
        {% for board in user_boards %}
        <li class="{{ board.slug }}" id="{{ board.slug }}-link">
            <a href="{{ url('boards:conversation-list', board.slug) }}">{{board.title}}</a>
            <p>{{board.conversations.count()}}</p>
        </li>
        {% endfor %}
    </ul>
</nav>
{% if board %}
<nav title="{{ _('Administration') }}">
    <h3>{{ _('Administration') }}</h3>
    <ul>
        <li><a href="{{ url('boards:board-edit', board=board) }}">{{ _('Edit board') }}</a></li>
        {%- if request.user.has_perm('ej.can_edit_board', board) and request.user.has_perm('ej.can_add_conversation') %}
            <li><a href="{{ url('boards:conversation-create', board=board) }}">{{ _('New conversation') }}</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}

<script>
    let url = window.location.href.split("/");
    let selectedBoard = url[url.length-3].split("-")[0].replace(":","") ;
    let backgroundColor = document.querySelector("." + selectedBoard);

    if (backgroundColor) {
         backgroundColor.className = "selected-board";
        document.getElementById(selectedBoard + "-link").click();
    }
</script>
{{ page_menu.ACCESSIBILITY() }}