<div class="board-section">
    {% for board in recent_boards %}
        <div class="board-card">
            <a class="board-card-title" href="{{ url('boards:conversation-list', board_slug=board.slug) }}">{{board.title}}</a>
            <p class="board-card-owner">{{board.owner}}</p>
            <p class="board-total-conversations">{{board.conversation_set.count()}} {{_("conversations")}}</p>
        </div>
    {% endfor %}
</div>

{% include 'ej_boards/includes/recent-boards-paginator.jinja2' %}