<div class="paginator-container">
    <span class="paginator-entries-info">{{_("Showing")}} {{recent_boards.start_index()}} {{_("to")}} {{recent_boards.end_index()}} {{_("of")}} {{paginator.count}} {{_("boards")}}</span>
    {% if paginator.num_pages > 1 %}
    <div id="pagination-section" class="paginator">
        <a onclick="updateBoards({{current_page - 1}})">{{_("Previous")}}</a>
        <ul>
            {% if visible_pages.mode == "ellipse_start" or visible_pages.mode == "ellipse_both" %}
                <li><a id="page-1" onclick="updateBoards({{1}})">1</a></li>
                <li>[...]</li>
            {% endif %}
            {% for i in visible_pages.pages %}
                <li><a id="page-{{i}}" onclick="updateBoards({{i}})">{{i}}</a></li>
            {% endfor %}
            {% if visible_pages.mode == "ellipse_end" or visible_pages.mode == "ellipse_both" %}
                <li>[...]</li>
                <li><a id="page-{{paginator.num_pages}}" onclick="updateBoards({{paginator.num_pages}})">{{paginator.num_pages}}</a></li>
            {% endif %}
        </ul>
        <a onclick="updateBoards({{current_page + 1}})">{{_("Next")}}</a>
    </div>
    {% endif %}
</div>

<script>
var currentPage = document.getElementById("page-{{current_page}}");
if (currentPage) {
    currentPage.classList.add("selected-page");
}
</script>