{% extends 'base.jinja2' %}

{% block metaOG2 %}

    <meta name="description" property="og:title" content="Area de integração da EJ com outras ferramentas.">
    <meta property="og:description" content="Area de integração da EJ com outras ferramentas.">

{% endblock metaOG2 %}

{% block _menu %} {{ menu(request.user, board_palette) }} {% endblock %}

{% block content %}
<div class="tools">
	<div class="tools-title">
	<h1>{{_('Tools') }}</h1>
	<span>{{_('Integrates this conversation with external tools and platforms.') }}</span>
	</div>
	<table class="tools-table">
		<tr>
			<th>{{ _('Integration') }}</th>
			<th>{{ _('Description') }}</th>
		</tr>
		{%  for tool in tools %}
		<tr>
			<td><a href="{{ tool["link"] }}">{{ tool["integration"] }}</a></td>
			<td>{{ tool["description"] }}<a class="tools-table-about" href="{{ tool["about"] }}"> {{ _('Learn more about this integration') }}.</a></td>
		</tr>
		{%  endfor %}
	</table>
	
	<p><a href="{{ conversation.get_absolute_url() }}" title="{{ _('Back to conversation') }}"
			class="lowercase bold text-brand">
		<i class="fa fa-chevron-left"></i>{% trans %}Back to conversation{% endtrans %}
	</a></p>
</div>
{% endblock content %}
