{% for connection in connections %}
<h2 class="divider">{{_("Integration")}}</h2> 
<span class="helptext">{{_("Integrated conversation with an instance of Mautic. To remove integration, click the button next to the URL below.")}}</span>
<table>
    <tr class="table-header">
        <th>{{_("Domain")}}</th>
        <th id=th-remove>{{_("Remove")}}</th>
    </tr>
    <tr class="url-table">
        <td><a href={{connection.url}} target="_blank">{{connection.url}}</a></td>
        <td id=th-remove><a href="{{ conversation.url('conversation-tools:mautic') }}/delete/{{connection.id}}"><i class="fas fa-trash-restore"></i></a><br></td>
    </tr>
</table>
{% endfor %} 