<form method="POST" id="mautic-connection-form" style= "display: none;">
<p id="info_credential_mautic">
    {{_("Enter with Mautic credentials. A connection attempt will be made.")}}
</p>
{{ csrf_input }}
{% block form_content %} 
    <div id=centered-input> 
        {{ form.conversation.as_hidden() }}
        {{ form.non_field_errors() }}
        {{ form.user_name.errors }}
        {{ form.password.errors }}
        {{ form.url.errors }}
        <label class="label-mautic-form">{{_("Mautic username")}}</label>
        <input type="text" name="user_name" maxlength="100" required="" id="id_user_name">

        <label class="label-mautic-form">{{_("Mautic password")}}</label>
        <input type="password" name="password" maxlength="200" required id="id_password">
        
        <label class="label-mautic-form">{{_("Mautic URL")}}</label>
        <input type="url" name="url" maxlength="255" required id="id_url">
    </div>
    <div style="text-align: center;">
        <input class="is-primary" type="submit" name="form" value="{{ _('Save') }}">
        <a href="{{ conversation.url('conversation-tools:mautic') }}">
            <input type="button" value="{{ _('Return') }}" />
        </a>
    </div>
</form>
{% endblock %}