<div class="environment-statistics">
    <h1 class="h2 text-accent environment__title--align">{{_("Environment statistics")}}</h1>
    <div class="environment-statistics__cards">
            <div class="statistics-card-container">
                <p class="statistics-card-title">{{_("Boards count")}}</p>
                <p class="statistics-card-value">{{boards_count}}</p>
            </div>
            <div class="statistics-card-container">
                <p class="statistics-card-title">{{_("Conversations count")}}</p>
                <p class="statistics-card-value">{{conversations_count}}</p>
            </div>
            <div class="statistics-card-container">
                <p class="statistics-card-title">{{_("Users count")}}</p>
                <p class="statistics-card-value">{{users_count}}</p>
            </div>
    </div>
</div>