<div class="environment">
    {% for board in recent_boards %}
        <div class="environment-card">
            <a class="environment-card__title" href="{{ url('boards:conversation-list', board_slug=board.slug) }}">{{board.title}}</a>
            <p class="environment-card__owner">{{board.owner}}</p>
            <p class="environment-card__conversation-count">{{board.conversation_set.count()}} {{_("conversations")}}</p>
        </div>
    {% endfor %}
</div>

{% include 'ej_admin/environment/recent-boards-paginator.jinja2' %}
