{% extends 'base.jinja2' %}
{#{% set hide_menu = true %}#}
{#{% set main_class = 'container-1' %}#}

{# TODO: move data out of the template #}



{% block content %}
    <style>
        main {
            padding-top: 2.5rem;
        }

        .landing-page__conversations {
            background: url(/static/img/home/bg.png);
        }
    </style>

    <div class="container-1">
        <h1 class="center margin-t0 margin-xauto text-black measure-narrow">Um espaço para adolescentes debaterem ações
            que promovam, garantam e
            defendam seus direitos</h1>

        <div class="bg-brand-lighter margin-y4">
            <a class="row items-center block" href="{{ url('rocket:index') }}">
                <div class="size-x5 center">
                    <img src="{{ static('img/icons/cpa_circulo.svg') }}" alt="Ícone painel CPA">
                </div>
                <div class="flex-1 pad-y3 pad-r2">
                    <h1 class="h3 text-black margin-t0">Painel CPA</h1>
                    <aside>
                        <p>Aqui, quem faz parte do Comitê de Participação de Adolescente (CPA),
                            no Conanda, troca ideias, compartilha informações e ajuda nas decisões
                            do Conselho</p>
                    </aside>
                </div>
            </a>

            <div class="bg-white size-y1"></div>

            <a class="row items-center" href="{{ url('conversation:list') }}">
                <div class="size-x5 center">
                    <div class="size-4 rounded-4 bg-white margin-xauto">
                        <img class="size-4 pad-1" src="{{ static('img/icons/conversas.svg') }}" alt="Ícone painel CPA">
                    </div>
                </div>
                <div class="flex-1 pad-y3 pad-r2">
                    <h1 class="h3 text-black margin-t0">Conversas Públicas </h1>
                    <aside>
                        <p>Não fique fora dessa! Participe das conversas! Vote, dê sua opinião.
                            Veja alguns exemplos de conversa abaixo.</p>
                    </aside>
                </div>
            </a>

            {% if settings.all.CPA_SHOW_START_PAGE_EXPLANATION_BANNER %}
                <div class="bg-white size-y1"></div>

                <div class="landing-page__conversations width-full pad-1">
                    <div class="row margin-y3 margin-xauto measure">
                        <ul class="list-reset text-right bold uppercase text-black">
                            <li><i class="fa fa-globe"></i><span>{{ _('Community driven') }}</span></li>
                            <li><i class="fa fa-fire"></i><span>{{ _('No attacks or fakes') }}</span></li>
                            <li><i class="fa fa-align-right"></i><span>{{ _('Nuances instead of bubbles') }}</span></li>
                            <li><i class="far fa-heart"></i><span>{{ _('Free and open source') }}</span></li>
                        </ul>
                        <div class="landing-page__ui-example">
                            <img src="{{ static('img/home/cellphone.png') }}" alt="Interface example"/>
                        </div>
                    </div>
                    {#                <p class="center margin-3">{{ action_button('Participe!', href='conversation:create', secondary=true) }}</p>#}
                </div>
            {% endif %}
        </div>


        <h1 class="h2 text-accent center margin-b3">Lista de conversas</h1>
        <div class="alternate-cards">
            {% for conversation in conversations.all() %}
                <div class="margin-y3">{{ conversation|role('card') }}</div>
            {% endfor %}
        </div>


        <hr class="margin-t3">
        <div class="center pad-b3">
            <div><h1 class="h2 text-black">Venha somar suas opiniões à nossa rede!</h1>
                <p>Quanto mais opiniões mais ricas serão nossas discussões</p>
            </div>
            <p><a class="button primary" href="/conversations/" up-instant
                  up-target=".Page-mainContainer .Header-topIcon"
                  up-transition="cross-fade" class="Button">Começar agora!</a></p>
        </div>
        <hr class="margin-b3">
    </div>
{% endblock %}
