{% extends 'base.jinja2' %}
{% set hide_menu = true %}
{% set main_class = 'width-full landing-page' %}

{# TODO: move data out of the template #}



{% block content %}
    <style>
        #page-wrapper::after {
            display: none !important;
            content: none;
        }
    </style>
    <div class="landing-page__cover width-full center color-brand col flex-center">
        <p class="bold text-1 text-white">{{ _('Create opinion surveys') }}</p>
        <p>{{ action_button(_('Try it now!'), href='conversation:list', secondary=true) }}</p>
        <a class="landing-page__cover-scroll"
           onclick="$('html, body').animate({scrollTop: $('#how-it-works').offset().top - $('.main-header').height() - 20}, 400);">
            <i class="fa fa-chevron-down"></i></a>
    </div>


    <h1 class="center text-accent" id="how-it-works">{{ _('How does it work?') }}</h1>
    <div class="landing-page__cards">
        <div class="landing-page__card">
            <i class="fa fa-microphone gradient text-huge"></i>
            <h2>{{ _('Create a conversation') }}</h2>
            <p>{{ _('create conversations on EJ to receive ideas and opinions about politics, services or public equipments.') }}</p>
        </div>

        <div class="landing-page__card">
            <i class="fas fa-clipboard gradient text-huge"></i>
            <h2>{{ _('Listen to the people') }}</h2>
            <p>{{ _('identify the priorities and the different opinion groups in the society.') }}</p>
        </div>

        <div class="landing-page__card">
            <i class="far fa-flag gradient text-huge"></i>
            <h2>{{ _('Take decisions') }}</h2>
            <p>{{ _('make participants know, communicating directly and amplifying the responses.') }}</p>
        </div>
    </div>


    <div class="landing-page__conversations width-full pad-1">
        <h2 class="center">{{ _('Participative conversations') }}</h2>

        <div class="row margin-y3 margin-xauto measure">
            <ul class="list-reset text-right bold uppercase">
                <li><i class="fa fa-globe"></i><span>{{ _('Community driven') }}</span></li>
                <li><i class="fa fa-fire"></i><span>{{ _('No attacks or fakes') }}</span></li>
                <li><i class="fa fa-align-right"></i><span>{{ _('Nuances instead of bubbles') }}</span></li>
                <li><i class="far fa-heart"></i><span>{{ _('Free and open source') }}</span></li>
            </ul>
            <div class="landing-page__ui-example">
                <img src="{{ static('img/home/cellphone.png') }}" alt="Interface example"/>
            </div>
        </div>

        <p class="center margin-3">{{ action_button(_('Create a conversation'), href='conversation:create', secondary=true) }}</p>
    </div>
{% endblock %}
