## Production Environment Variables
## 1. Make a copy of this file as 'django.env'
## 2. Update the variables to your context

## Django Settings
## Use 'django-admin startproject' to generate a new SECRET_KEY
DJANGO_ADMIN_URL=^admin/
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_ALLOWED_HOSTS=*
DJANGO_SECRET_KEY=

## Redis: In-memory Data Structure Store
## Defined in docker-compose
REDIS_URL=redis://redis:6379

## Allauth: Social Media Authentication (OAuth2)
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True

## Google ReCAPTCHA
## 1. Create your account at: https://www.google.com/recaptcha
## 2. Update the variables
DJANGO_RECAPTCHA_PUBLIC_KEY=
DJANGO_RECAPTCHA_PRIVATE_KEY=

## Django Courier: Push Notification with OneSignal
## 1. Create your app at: https://onesignal.com/
## 2. Update USER_ID and APP_ID
COURIER_DEFAULT_PROVIDER=onesignal
COURIER_ONESIGNAL_USER_ID=
COURIER_ONESIGNAL_APP_ID=

## Mailgun: E-mail Service
## 1. Create your account at: https://www.mailgun.com/
## 2. Update the variables
MAILGUN_SENDER_DOMAIN=
DJANGO_MAILGUN_API_KEY=
DJANGO_DEFAULT_FROM_EMAIL=

## Sentry: Error Tracking
## 1. Create your account at: https://sentry.io/
## 2. Update the variable
DJANGO_SENTRY_DSN=


