## Production Environment Variables
## 1. Make a copy of this file as 'postgres.env'
## 2. Update the variables to your context

## PostgreSQL Variables
## Defined in docker-compose
POSTGRES_DB=ejserver
POSTGRES_USER=ejserver
POSTGRES_PASSWORD=
