## Production Environment Variables
## 1. Make a copy of this file as 'rabbit.env'
## 2. Update the variables to your context

## RabbitMQ
## Defined in docker-compose
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=mypass
RABBITMQ_ERLANG_COOKIE=
