/**
 * Conventions and architecture overview:
 *
 *   - We adopt a ITCSS architecture
 *   - Naming conventions and classes are based on SUIT CSS
 *   - It uses Bourbon as a Sass mixin library
 *   - Multi-line comments are acceptable since we'll strip them away during
 *     minification
 *
 *   ITCSS: https://speakerdeck.com/dafed/managing-css-projects-with-itcss
 *   SUITE CSS: https://suitcss.github.io/
 */

/*
 CONFIG
 =============================================================================*/

/*
 COLORS
 =========================================================================== */

/*
 SPACING
 =========================================================================== */

/*
 FONTS FAMILIES AND SIZES
 ============================================================== */

/*
 Global
 =========================================================================== */

/*
 ALIASES
 =============================================================================*/

/*
 MIXINS FOR APPLYING COLORS AND STYLES THAT ARE USUALLY APPLIED TOGETHER
 =============================================================================*/

/**
 * Mixin that sets text and background colors. If $force, also sets the
 * text color for child anchor elements.
 */

/*
 FLEXBOX LAYOUTS
 =============================================================================*/

/*
 MIXINS FOR APPLYING AND TYPOGRAPHICAL STYLES
 =============================================================================*/

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
    line-height: 1.15;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
    margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article, aside, footer, header, nav, section {
    display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption, figure, main {
    /* 1 */
    display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
    margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
    background-color: transparent;
    /* 1 */
    -webkit-text-decoration-skip: objects;
    /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b, strong {
    font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b, strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code, kbd, samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
    font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
    background-color: #ff0;
    color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio, video {
    display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
    border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
    overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button, input {
    /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button, select {
    /* 1 */
    text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
    /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, menu {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
    display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
    display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
    display: none;
}

/*
 OVERRIDE DEFAULT STYLES FROM OTHER FRAMEWORKS
 =========================================================================== */

.introjs-tooltip {
    max-width: inherit !important;
}

/*
 BUTTONS
 =============================================================================*/

.Button {
    background-color: #30c0d3;
    color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 56px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font: 15px "Raleway", sans-serif;
    font-weight: bold;
    margin: 7px;
    padding: 9px 28px;
    text-align: center;
    text-transform: uppercase;
    transition: all 200ms ease-in-out;
    vertical-align: middle;
}

.Button, .Button:hover, .Button:active, .Button:focus {
    text-decoration: none;
}

.Button[primary], .Button .Button--primary {
    background-color: #FF3D72;
    color: rgba(255, 255, 255, 0.9);
}

.Button[primary]:hover, .Button[primary]:focus, .Button .Button--primary:hover, .Button .Button--primary:focus {
    background-color: #ff0a4d;
    color: #fff;
}

.Button[secondary], .Button .Button--secondary {
    background-color: #C4F2F4;
    color: rgba(4, 32, 73, 0.9);
}

.Button[secondary]:hover, .Button[secondary]:focus, .Button .Button--secondary:hover, .Button .Button--secondary:focus {
    background-color: #99e9ec;
    color: #042049;
}

.Button[small], .Button .Button--small {
    font-size: 13px;
    padding: 4.5px 14px;
}

.Button[large], .Button .Button--large {
    font-size: 17px;
    padding: 18px 56px;
}

.Button[ghost], .Button .Button--ghost {
    background-color: unset;
    color: #30c0d3;
    border: 1px solid #30c0d3;
    padding: 8px 27px;
}

.Button[ghost]:hover, .Button[ghost]:focus, .Button .Button--ghost:hover, .Button .Button--ghost:focus {
    background: rgba(0, 0, 0, 0.05);
}

.Button[ghost] [primary], .Button[ghost] .Button--ghost-primary, .Button .Button--ghost [primary], .Button .Button--ghost .Button--ghost-primary {
    color: #FF3D72;
}

.Button[ghost] [primary]:hover, .Button[ghost] [primary]:focus, .Button[ghost] .Button--ghost-primary:hover, .Button[ghost] .Button--ghost-primary:focus, .Button .Button--ghost [primary]:hover, .Button .Button--ghost [primary]:focus, .Button .Button--ghost .Button--ghost-primary:hover, .Button .Button--ghost .Button--ghost-primary:focus {
    color: #ff0a4d;
}

.Button[ghost] [secondary], .Button[ghost] .Button--ghost-secondary, .Button .Button--ghost [secondary], .Button .Button--ghost .Button--ghost-secondary {
    color: #C4F2F4;
}

.Button[ghost] [secondary]:hover, .Button[ghost] [secondary]:focus, .Button[ghost] .Button--ghost-secondary:hover, .Button[ghost] .Button--ghost-secondary:focus, .Button .Button--ghost [secondary]:hover, .Button .Button--ghost [secondary]:focus, .Button .Button--ghost .Button--ghost-secondary:hover, .Button .Button--ghost .Button--ghost-secondary:focus {
    color: #99e9ec;
}

.Rocket-title {
    color: #C4F2F4;
    font-weight: bold;
    padding: 10px 20px 0px 20px;
}

.Rocket .title {
    padding: 10px 20px;
    color: #30BEC0;
    font-family: Raleway;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
}

.Rocket-title h1 {
    color: #C6027B;
    font-weight: bold !important;
    text-transform: none !important;
    font-family: Raleway;
    margin-bottom: 5px !important;
    font-size: 34px;
}

.Rocket-title h2 {
    color: #3F1B53;
    font-family: Raleway;
    font-size: 15px;
    line-height: 18px;
    text-transform: none !important;
    font-weight: bold !important;
}

.Rocket-detail {
    color: #042049;
    padding: 0px 20px 0px 20px;
    font-family: Raleway;
    font-size: 16px;
}

.Rocket-items {
    background-color: #C4F2F4;
    padding: 14px;
}

.Rocket-items .item {
    padding: 13px;
}

.Rocket-items .item .item-position {
    color: #C6027B;
    font-size: 32px;
    font-family: Raleway;
    width: auto;
    float: left;
}

.Rocket-items .item .item-content {
    color: #042049;
    padding-left: 33px;
    font-size: 16px;
    font-family: Raleway;
    width: auto;
}

.Rocket-action {
    text-align: center;
    padding: 20px;
    .Button {
        border-radius: 8px;
        font-family: Raleway;
        background-color: #8EC73F;
        padding: 15px 40px;
        svg {
            font-size: 23px;
        }
    }
}

/*# sourceMappingURL=rocket.css.map */

.rc-old .page-container .content {
    padding: 0px;
}

.sidebar {
    background-color: #3F1B53;
}

.sidebar-wrap {
    background-color: #3F1B53 !important;
    opacity: 0.78 !important;
}

.rc-directory-content {
    .rc-directory-channel-info, .rc-table-td {
        color: #3F1B53;
    }
    .rc-table-tr {
        box-shadow: 1px 1px 0 #30BEC0;
    }
}

.rc-header {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    .rc-button {
        &.rc-directory-plus {
            background-color: #C6027B;
        }
        .rc-icon {
            color: white;
            font-size: 24px;
        }
    }
}

.rc-header__wrap {
    box-shadow: none;
}

.message {
    .user-card-message {
        color: #C6027B;
    }
    .body {
        color: #3F1B53;
        &.color-info-font-color {
            color: #a0a0a0;
        }
    }
}

.contextual-bar {
    h1 {
        color: #C6027B;
    }
    .attachments {
        .attachments__content {
            color: #3F1B53;
            .attachments__name {
                color: #3F1B53;
            }
        }
    }
}

fotter, .sidebar__footer {
    display: block;
}

.create-channel .rc-button--primary, .rc-modal-wrapper .rc-button--primary, .contextual-bar .rc-button--primary {
    border-radius: 8px;
    background-color: #8EC73F;
}

.emoji-picker.rc-popover__content.show {
    left: 0px !important;
    bottom: 40px !important
}
