# Build artifacts
__pycache__/
*.pyc
*.pyo
*~
*.[ao]
*.css.map
*.egg-info/
*.mo
*.pot
*.py[cod]
*.so
*$py.class
.eslintcache
.installed.cfg
.pytest_cache/
build/
local/
docs/_build/
dist/
htmlcov/
node_modules/
lib/.ipynb_checkpoints/
lib/dist/
lib/build/
lib/.cache/

.ipynb_checkpoints/
.scannerwork/
.cache/
.git/
.gitattributes
.gitignore
.dockerignore
.pytest_cache/
.sass_cache/
.sass-cache/
.idea/
.atom/
.vscode/
.coverage
.env/
.tox/
.gitlab-ci.yml
.travis.yml
image.tar

# Database and secrets
db.sqlite3
local/
ej/media/


# Editors and system specific files
*.sublime-workspace
.idea
.ropeproject
.vscode
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
*.DS_Store
.AppleDouble
.LSOverride
Desktop.ini
Session.vim
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
$RECYCLE.BIN/
