# ej-server Environment Variables
# Categories sorted alphabetically

## Allauth: Social Media Authentication (OAuth2)
### Required in Production:
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True

## AWS Settings: Amazon Web Services Integration
## Create your account at: https://aws.amazon.com/
### NOT Required in Production:
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

## Django Courier: Push Notification with OneSignal
## 1. Create your app at: https://onesignal.com/
## 2. Update USER_ID and APP_ID
### Required in Production:
COURIER_DEFAULT_PROVIDER=onesignal
COURIER_ONESIGNAL_USER_ID=
COURIER_ONESIGNAL_APP_ID=

## Django Settings
## Use 'django-admin startproject' to generate a new SECRET_KEY
### Required in Production:
DJANGO_ADMIN_URL=admin/
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_ALLOWED_HOSTS=localhost
DJANGO_SECRET_KEY=O?@:Tgy6&%9b]o]+#W#2lC<rMA.D_+F=u/j})yLZrrNt9o2clz
DJANGO_SECURE_SSL_REDIRECT=False
# ^Better to use DNS for this task, but you can use redirect

## Google ReCAPTCHA
## 1. Create your account at: https://www.google.com/recaptcha
## 2. Update the variables
### Required in Production:
DJANGO_RECAPTCHA_PUBLIC_KEY=
DJANGO_RECAPTCHA_PRIVATE_KEY=

## Mailgun: E-mail Service
## 1. Create your account at: https://www.mailgun.com/
## 2. Update the variables
### Required in Production:
MAILGUN_SENDER_DOMAIN=
DJANGO_MAILGUN_API_KEY=
DJANGO_DEFAULT_FROM_EMAIL=
DJANGO_SERVER_EMAIL=

## PostgreSQL Variables
## Defined in docker-compose
### Required in Production:
POSTGRES_DB=ejserver
POSTGRES_USER=ejserver
POSTGRES_PASSWORD=

## RabbitMQ
## Defined in docker-compose
### Required in Production:
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=mypass
RABBITMQ_ERLANG_COOKIE=

## Redis: In-memory Data Structure Store
## Defined in docker-compose
### Required in Production:
REDIS_URL=redis://redis:6379

## Sentry: Error Tracking
## 1. Create your account at: https://sentry.io/
## 2. Update the variable
### NOT Required in Production:
DJANGO_SENTRY_DSN=
