[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.1.2"
django-rest-framework = "*"
response= {version = ">=0.11.1", extras = ["extra"]}
django-autoslug = "*"
django-jsonfield = "*"
django-filter = "*"
django-constance = {version = "*", extras = ["database"]}
django-environ = "*"
django-allauth = "*"
django-taggit = "*"
django-rest-auth = {version = "*", extras = ["with_social"]}
django-manager-utils = "*"
django-push-notifications = "*"
hyperpython = "*"
invoke = "*"
celery = "*"
rules = "<2"
markdown = "*"
bleach = "*"
"jinja2" = "*"
coreapi = "*"
pillow = "*"
"argon2-cffi" = "*"
requests = ">=2.20.0"
django_push_notifications = "*"

[dev-packages]
django-debug-toolbar = "*"
django-extensions = "*"
pytest = ">=3.7.0,<3.8.0"
pytest-cov = "*"
pytest-django = "*"
pytest-html = "*"
pytest-pythonpath = "*"
pytest-splinter = "*"
faker = "*"
coreapi-cli = "*"
splinter = "*"
coverage = "*"
model-mommy = "*"
mock = "*"
sphinx = "*"
ipython = ">=7.0.0"


[requires]
python_version = "3.6"
