[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.1.2"
numpy = "*"
pandas = "*"
django-rest-framework = "*"
django-boogie = ">=0.9.1"
hyperpython = "*"
invoke = "*"
celery = "*"
django-autoslug = "*"
django-jsonfield = "*"
django-filter = "*"
django-constance = {version = "*", extras = ["database"]}
django-environ = "*"
django-allauth = "*"
django-taggit = "*"
rules = "<2"
django-rest-auth = {version = "*", extras = ["with_social"]}
faker = "*"
markdown = "*"
django-manager-utils = "*"
bleach = "*"
"jinja2" = "*"
scikit-learn = "*"
coreapi = "*"
pillow = "*"
"argon2-cffi" = "*"
requests = ">=2.20.0"


[dev-packages]
django-debug-toolbar = "*"
django-extensions = "*"
pytest = "*"
coreapi-cli = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-html = "*"
pytest-pythonpath = "*"
pytest-splinter = "*"
splinter = "*"
coverage = "*"
model-mommy = "*"
mock = "*"
ipython = "*"
ipdb = "*"
sphinx = "*"

[requires]
python_version = "3.6"
