alabaster==0.7.12
apns2==0.4.1
appdirs==1.4.3
argh==0.26.2
argon2-cffi==19.1.0
asn1crypto==0.24.0
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.7.0
backcall==0.1.0
beautifulsoup4==4.7.1
black==18.9b0
bleach==3.1.0
bs4==0.0.1
CacheControl==0.12.5
cachy==0.2.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
cleo==0.6.8
Click==7.0
codecov==2.0.15
coreapi==2.3.3
coreschema==0.0.4
coverage==4.4.2
cryptography==2.6.1
cycler==0.10.0
decorator==4.4.0
demandimport==0.3.4
Django==2.2.2
django-allauth==0.38.0
django-anymail==5.0
django-autoslug==1.9.4
django-boogie==0.13.3
django-bulk-update==2.2.0
django-constance==2.4.0
django-cors-headers==2.4.1
django-coverage-plugin==1.6.0
django-crispy-forms==1.7.2
django-debug-toolbar==1.11
django-environ==0.4.5
django-extensions==2.1.7
django-filter==1.1.0
django-jsonfield==1.2.0
django-manager-utils==1.4.0
django-model-utils==3.1.2
django-pandas==0.5.2
django-picklefield==2.0
django-polymorphic==2.0.3
django-push-notifications==1.6.0
django-query-builder==1.1.0
django-redis==4.10.0
django-rest-auth==0.9.5
django-storages==1.7.1
django-taggit==0.23.0
djangorestframework==3.9.4
docutils==0.14
dramatiq==1.6.0
factory-boy==2.12.0
Faker==1.0.7
Flask==1.0.2
fleming==0.4.6
graphviz==0.10.1
gunicorn==19.9.0
h2==2.6.2
hpack==3.0.0
html5lib==1.0.1
http-ece==1.1.0
hyper==0.7.0
hyperframe==3.2.0
hyperpython==1.1.0
idna==2.8
imagesize==1.1.0
importlib-metadata==0.17
invoke==1.2.0
ipdb==0.11
ipython==7.5.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
itypes==1.1.0
jedi==0.13.3
Jinja2==2.10.1
jsonschema==3.0.1
kiwisolver==1.1.0
libsass==0.17.0
lockfile==0.12.2
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.0
mock==2.0.0
model-mommy==1.6.0
more-itertools==7.0.0
msgpack==0.6.1
numpy==1.16.4
oauthlib==3.0.1
packaging==19.0
pandas==0.24.2
parso==0.4.0
pastel==0.1.0
pathtools==0.1.2
pbr==5.2.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==5.4.1
pipdate==0.3.2
pkginfo==1.5.0.1
pluggy==0.12.0
poetry==0.12.15
prometheus-client==0.2.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
py==1.8.0
py-vapid==1.4.0
pycparser==2.19
pydotplus==2.0.2
Pygments==2.4.2
pygraphviz==1.5
PyJWT==1.7.1
pylev==1.3.0
pyparsing==2.4.0
pyrsistent==0.14.11
pytest==4.6.2
pytest-cov==2.7.1
pytest-django==3.5.0
pytest-pythonpath==0.7.3
pytest-splinter==2.0.1
python-dateutil==2.8.0
python-openid==2.2.5
pytz==2019.1
pywebpush==1.8.0
PyYAML==5.1
redis==3.2.1
requests==2.22.0
requests-oauthlib==1.2.0
requests-toolbelt==0.8.0
rules==1.4
scikit-learn==0.20.3
scipy==1.3.0
selenium==3.141.0
shellingham==1.3.1
sidekick==0.5.1
six==1.12.0
snowballstemmer==1.2.1
soupsieve==1.9.1
Sphinx==1.8.5
sphinxcontrib-websupport==1.1.2
splinter==0.10.0
sqlparse==0.3.0
stevedore==1.30.1
stop-words==2018.7.23
text-unidecode==1.2
toml==0.10.0
tomlkit==0.5.3
toolz==0.9.0
traitlets==4.3.2
tuna==0.2.1
uritemplate==3.0.0
urllib3==1.22
virtualenv==16.6.0
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
watchdog==0.9.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
wordcloud==1.5.0
zipp==0.5.1
