{% macro help_card(help_text, link) %}
    <div class="help-card">
        <i class="far fa-question-circle"></i>
        <a target="_blank" href="{{link}}"><u>{{help_text}}</u></a>
    </div>
{% endmacro %}
