&lt;script src="https://cdn.jsdelivr.net/npm/ej-conversations@1.8.0/dist/conversations/conversations.esm.js" type="module" &gt&lt;/script&gt
				
&lt;link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet"&gt
					
<style>
		/* https://github.com/ionic-team/stencil/issues/2072 */
@font-face {
font-family: Folio;
font-style: normal;
font-weight: 400;
src: url(https://cdn.jsdelivr.net/ej-conversations@{{npm_version.latest}}/dist/conversations/assets/fonts/folio_bold_condensed.ttf);
}

@font-face {
font-family: Helvetica;
font-style: normal;
font-weight: 400;
	src: url('https://cdn.jsdelivr.net/ej-conversations@{{npm_version.latest}}/dist/conversations/assets/fonts/helvetica_neue_lts_roman.otf');
}

@font-face {
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 400;
	src: url('https://cdn.jsdelivr.net/ej-conversations@{{npm_version.latest}}/dist/conversations/assets/fonts/fa-regular-400.ttf');
}

@font-face {
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 400;
	src: url('https://cdn.jsdelivr.net/ej-conversations@{{npm_version.latest}}/dist/conversations/assets/fonts/fa-brands-400.ttf');
}

@font-face {
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 400;
	src: url('https://cdn.jsdelivr.net/ej-conversations@{{npm_version.latest}}/dist/conversations/assets/fonts/fa-solid-900.ttf');
}

</style>
