<section title="{{ _('Profile') }}">
    <h1>{{ _('Profile') }}</h1>
    <ul>
        <li><a href="{{ url('profile:detail') }}">{{ _('Profile') }}</a></li>
        <li><a href="{{ url('profile:edit') }}">{{ _('Edit profile') }}</a></li>
        <li><a href="{{ url('profile:contributions') }}">{{ _('Contributions') }}</a></li>
        <li><a href="{{ url('account:index') }}">{{ _('Account') }}</a></li>
    </ul>
</section>
{{ page_menu.ABOUT() }}
{{ page_menu.ACCESSIBILITY() }}
