<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" defer></script>
<script defer>
    window.addEventListener('load', function () {
        $('.table').DataTable({
            order: [],
            language: {
                paginate: {
                    first: '{{ _('First') }}',
                    last: '{{ _('Last') }}',
                    next: '{{ _('Next') }}',
                    previous: '{{ _('Previous') }}',
                }
            }
        });
    })
</script>
