<nav title="{{ _('Account') }}" aria-labelledby="menu-account" class="menu-padding">
    <h3 id="menu-account">{{ _('Account') }}</h3>
    <ul>
        <li><a href="{{ url('account:index') }}">{% trans %}Manage account{% endtrans %}</a></li>
        <li><a href="{{ url('account:change-password') }}">{% trans %}Change password{% endtrans %}</a></li>
        <li><a href="{{ url('account:logout') }}">{% trans %}Logout{% endtrans %}</a></li>
    </ul>
</nav>
<nav title="{{ _('Profile') }}" aria-labelledby="menu-profile" class="menu-padding">
    <h3 id="menu-profile">{{ _('Profile') }}</h3>
    <ul>
        {% if settings.has_profiles %}
            <li><a href="{{ url('profile:detail') }}">{% trans %}Profile{% endtrans %}</a></li>
        {% endif %}
        {% if settings.has_clusters %}
            <li><a href="{{ url('stereotypes:list') }}">{% trans %}Personas{% endtrans %}</a></li>
        {% endif %}
    </ul>
</nav>
{{ page_menu.ACCESSIBILITY() }}
