<section title="{{ _('Account') }}">
    <h1>{{ _('Account') }}</h1>
    <ul>
        <li><a href="{{ url('account:index') }}">{% trans %}Manage account{% endtrans %}</a></li>
        <li><a href="{{ url('account:change-password') }}">{% trans %}Change password{% endtrans %}</a></li>
        <li><a href="{{ url('account:logout') }}">{% trans %}Logout{% endtrans %}</a></li>
    </ul>
</section>
<section title="{{ _('Profile') }}">
    <h1>{{ _('Profile') }}</h1>
    <ul>
        {% if settings.has_profiles %}
            <li><a href="{{ url('profile:detail') }}">{% trans %}Profile{% endtrans %}</a></li>
        {% endif %}
        {% if settings.has_clusters %}
            <li><a href="{{ url('stereotypes:list') }}">{% trans %}Personas{% endtrans %}</a></li>
        {% endif %}
    </ul>
</section>
{{ page_menu.ACCESSIBILITY() }}
