<nav title="{{ _('Authentication') }}">
    <h1>{{ _('Authentication') }}</h1>
    <ul>
        <li><a href="{{ url('auth:login') }}">{{ _('Login') }}</a></li>
        <li><a href="{{ url('auth:register') }}">{{ _('Register') }}</a></li>
        <li><a href="{{ url('auth:recover-password') }}">{{ _('Recover password') }}</a></li>
    </ul>
</nav>
{{ page_menu.ABOUT(request) }}
{{ page_menu.ACCESSIBILITY() }}
