{% extends 'base.jinja2' %}
{% block metaOG2 %}

    <meta name="description" property="og:title" content="Dashboard para visualização de dados.">
    <meta property="og:description" content="Dashboard para visualização de dados.">

{% endblock metaOG2 %}

{% block content %}
<div id="conversation-dataviz-page">

    <div class="title">
        <h1>{{ _('Dashboards and analysis') }}</h1>
    </div>

<ul class="horizontal">
    <li><a class="active" href="#opinion-component">{{ _('Opinion Component') }}</a></li>
</ul>

<div class="conversation-title"><h3 class="h3 text-accent">{{conversation.text}}</h3></div>
<div class="content">
    {% include 'ej_conversations_analysis/opinion_component.jinja2' %}
</div>
	<p><a href="{{ conversation.get_absolute_url() }}" title="{{ _('Back to conversation') }}"
			class="lowercase bold text-brand">
		<i class="fa fa-chevron-left"></i>{% trans %}Back to conversation{% endtrans %}
	</a></p>
</div>
{% endblock content %}

{% block javascript %}
    <script src="https://d3js.org/d3.v4.js"></script>
{% endblock %}
{% set hide_menu = true %}
