{% extends 'base.jinja2' %}

{% block content %}
    <h1 class="h2 text-accent center">{{ _('Leaderboard') }}</h1>

    {{ leaderboard }}
    {% include 'ej_dataviz/includes/datatables.jinja2' %}
{% endblock %}
