{% extends 'ej_admin/environment.jinja2' %}
{% extends 'ej_admin/environment/admin-filters.jinja2' %}
{% extends 'ej_admin/environment/environment-statistics.jinja2' %}
{% extends 'ej_admin/environment/paginator.jinja2' %}
{% extends 'ej_admin/environment/recent-boards-paginator.jinja2' %}
{% extends 'ej_admin/environment/recent-boards.jinja2' %}
{% extends 'ej_admin/environment/searched-boards.jinja2' %}
{% extends 'ej_admin/environment/searched-conversations.jinja2' %}
{% extends 'ej_admin/environment/searched-users.jinja2' %}