{% extends 'ej_boards/base.jinja2' %}
{% set main_class = 'container measure pad-x0 col flex-start items-center' %}


{% block content %}
    {% block form_identification %}
        <h1 class="h2 text-accent text-center">{{ _('Create board') }}</h1>
        <p class="text-center">{{ _('Fill up the form to create a new conversation board') }}</p>
    {% endblock %}
    <form method="post" enctype="multipart/form-data">
        {{ csrf_input }}
        {{ form }}
        <p class="text-center margin-y3">
            <input type="submit" value="{{ _('Create Board') }}" name="create" class="is-primary">
        </p>
    </form>
{% endblock %}
