{% extends 'ej_boards/create.jinja2' %}

{% block form_identification %}
    <h1 class="Board-Title">{{ _('Edit board') }}</h1>
    <p>{{ _('Fill up the form to edit this conversation board') }}</p>
{% endblock %}
