{% extends 'base.jinja2' %}

{% block content %}
    <div>
        <p>{{_('Cancel')}}</p>
        <p>{{_('Save board')}}</p>
    </div>
    <div class="CenteredContainer" compact>
        <h1 class="Board-Title">{{_('Create board')}}</h1>
        <p>{{_('Fill up the form to create or edit this conversation board')}}</p>
        <form method="post" class="Form BoardForm">
            {{ csrf_input }}
            {{ form.as_p() }}
            <div>
                <input type="submit" class="Button" value="{{ _('Save') }}" name="create">
            </div>
        </form>
    </div>
{% endblock %}
