{% extends 'base.jinja2' %}
{% set main_class = "board-container" %}

{% block menu %}{% include 'ej_boards/includes/menu-board.jinja2' %}{% endblock %}

{% block content %}

<div class="pad-x3">
    {% include 'ej_boards/environment/environment-statistics.jinja2' %}

    <h1 class="h2 text-accent environment__title--align">{{_("Latest boards")}}</h1>
    <div class="recent-boards__filter">
        <input class="recent-boards__input" id="check-active-boards" type="checkbox" onchange="updateBoards('1')" checked/>
        <div class="recent-boards__text">
            <span>{{_("Show only active boards")}}</span>
            <span>{{_("This option shows only boards that have created conversations")}}</span>
        </div>
    </div>
    <div id="recent-boards"></div>
    {% include 'ej_boards/environment/admin-filters.jinja2' %}
    <div id="advanced-search"></div>
</div>

<script>

function updateBoards(page) {
    boardActive = document.getElementById("check-active-boards").checked;
    $.ajax({
        url: `recent-boards/?page=${page}&boardIsActive=${boardActive}`,
        success: function(data) {
            $("#recent-boards").html(data);
        }
    })
}

function updateUserSearch(page, numEntries, orderBy, sort, searchString) {
    $.ajax({
        url: `searched-users/?page=${page}&numEntries=${numEntries}&orderBy=${orderBy}&sort=${sort}&searchString=${searchString}`,
        success: function(data) {
            $("#advanced-search").html(data);
        }
    })
}

function updateBoardSearch(page, numEntries, orderBy, sort, searchString) {
    $.ajax({
        url: `searched-boards/?page=${page}&numEntries=${numEntries}&orderBy=${orderBy}&sort=${sort}&searchString=${searchString}`,
        success: function(data) {
            $("#advanced-search").html(data);
        }
    })
}

function updateConversationSearch(page, numEntries, orderBy, sort, searchString) {
    $.ajax({
        url: `searched-conversations/?page=${page}&numEntries=${numEntries}&orderBy=${orderBy}&sort=${sort}&searchString=${searchString}`,
        success: function(data) {
            $("#advanced-search").html(data);
        }
    })
}

window.onload = function () {
    updateBoards('1');
    changeFilter();
}

</script>
{% endblock %}