{% set up_transition = 'cross-fade' %}


{# Page footer with links and other information #}
{% macro page_footer() %}
  <footer class="Footer">
    <nav class="Footer-content">
      Esta é uma iniciativa do Partido dos Trabalhadores e da Fundação Perseu
      Abramo, desenhada pelo <a href="http://www.cidadedemocratica.org.br/">Instituto
      Cidade Democrática</a>, desenvolvida conjuntamente pelo
      <a href="http://hacklab.com.br/">Hacklab</a> e
      <a href="http://lappis.rocks">LAPPIS (UnB)</a>.
      <ul class="Footer-badges">
        <li>#badge-AGPL</li>
        <li>#badge-Github</li>
      </ul>
    </nav>
  </footer>
{% endmacro %}
