{% macro how_it_works(data) %}
    <div class="HowItWorks">

        <div class="HowItWorks-cards">
            {% call how_it_works_card(
                    'cpa_circulo',
                    'Painel CPA',
                    'Ícone painel CPA',
                    'Aqui, quem faz parte do Comitê de Participação de Adolescente (CPA),
                        no Conanda, troca ideias, compartilha informações e ajuda nas decisões
                        do Conselho') %}
                {# {{ rocket_button() }} #}
            {% endcall %}

            {% call how_it_works_card(
                    'conversas',
                    'Conversas Públicas',
                    'Ícone balões de conversa',
                    'Não fique fora dessa! Participe das conversas! Vote, dê sua opinião') %}
                {# {{ rocket_button() }} #}
            {% endcall %}
        </div>
    </div>
{% endmacro %}


{% macro how_it_works_card(icon, title, alternative, comment, action=None, link='#') %}
    <article class="HowItWorksCard">
        <div class="HowItWorksCard-iconWrapper {{ icon }}">
            <img 
                src="/static/img/icons/{{ icon }}.svg" 
                class="HowItWorksCard-icon"
                alt="{{alternative}}"
                ></img>
        </div>
        {# <i class="fa fa-{{ icon }} HowItWorksCard-icon"></i> #}
        <div class="HowItWorksCard-content">
            <h1>{{ title }} <i class="fa fa-angle-right"></i></h1>
            <aside class="HowItWorksCard-extra">
                <p>{{ comment }}</p>
                {% if action -%}
                    {{ action_button(action, link) }}
                {% else -%}
                    {{ caller() }}
                {% endif %}
            </aside>
        </div>
    </article>
{% endmacro %}


{% macro start_now(fragment, user) %}
    <div class="StartNow">
        {{ fragment.html() }}
        {% if user.id %}
            <p>{{ action_button(_('Start now!'), 'conversation:list') }}</p>
        {% else %}
            <p>{{ action_button(_('Start now!'), 'auth:login') }}</p>
        {% endif %}
    </div>
{% endmacro %}
