{% macro link_macro(url) %}
    {{- link(caller(), url, **kwargs) -}}
{% endmacro %}

<nav class="main-footer" aria-label="{{ _('Navigation bar') }}">
    {% if settings.has_rocketchat and request.user.has_perm('ej_rocketchat.can_create_account') %}
        {% call link_macro('rocket:index', title=_('Talks'), class_='main-footer__link') %}
            <img src="{{ static('img/icons/navbar_panel.svg') }}" alt="">
            <span>{{ _('Talks') }}</span>
        {% endcall %}
    {% endif %}

    {% if request.user.profile|default(None) %}
        <a id="img-profile"><img class="main-footer__avatar" src="{{ request.user.profile.image_url }}" 
            alt="{{ _('Profile picture') }}"></a>

        <div id="show-profile-menu" class="profile-menu"> 
            {% include 'ej/includes/profile-menu.jinja2' %}
        </div>

    {# For route without profile #}   
    {% else %}
        {% call link_macro('profile:detail', title=_('Profile')) %}
            <img class="main-footer__avatar" src="{{ static('img/icons/navbar_profile.svg') }}" alt="">
        {% endcall %}
    {% endif %}
</nav>
