{% macro link_macro(url) %}
    {{- link(caller(), url, **kwargs) -}}
{% endmacro %}

<nav class="main-footer" aria-label="{{ _('Navigation bar') }}">
    {% if settings.has_gamification and request.user.is_authenticated %}
        {% call link_macro('gamification:achievements', title=_('Achievements'), class_='main-footer__link') %}
            <img src="{{ static('img/icons/icon_trofeu_dark.svg') }}" alt="">
            <span>{{ ('Achievements ') }} <i class="fa fa-trophy"></i> </span>
        {% endcall %}
    {% else %}
        {% call link_macro('gamification:achievements', title=_('Achievements'), class_='main-footer__link') %}
            <img src="{{ static('img/icons/icon_trofeu_dark.svg') }}" alt="">
            <span>{{ ('Achievements ') }} <i class="fa fa-trophy"></i> </span>
        {% endcall %}
    {% endif %}
    {% call link_macro('conversation:list', title=_('Conversations'), class_='main-footer__link') %}
        <img src="{{ static('img/icons/navbar_conversations.svg') }}" alt="">
        <span>{{ _('Conversations') }}</span>
    {% endcall %}
    {% if settings.has_rocketchat and request.user.has_perm('ej_rocketchat.can_create_account') %}
        {% call link_macro('rocket:index', title=_('Talks'), class_='main-footer__link') %}
            <img src="{{ static('img/icons/navbar_panel.svg') }}" alt="">
            <span>{{ _('Talks') }}</span>
        {% endcall %}
    {% endif %}
    {% if settings.has_profiles %}
        {% call link_macro('profile:detail', title=_('Profile'), class_='main-footer__link') %}
            <img src="{{ static('img/icons/navbar_profile.svg') }}" alt="">
            <span>{{ _('Profile') }}</span>
        {% endcall %}
    {% endif %}
</nav>
