{% macro link_macro(url) %}
    {{- link(caller(), url, **kwargs) -}}
{% endmacro %}

<nav class="main-footer">
    {% call link_macro('conversation:list', title=_('Conversations'), class_='main-footer__link') %}
        <img src="{{ static('img/icons/navbar_conversations.svg') }}" alt="{{ _('Conversations') }}">
        <span>{{ _('Conversations') }}</span>
    {% endcall %}
    {% if settings.has_rocketchat and request.user.has_perm('ej_rocketchat.can_create_account') %}
        {% call link_macro('rocket:index', title=_('Talks'), class_='main-footer__link') %}
            <img src="{{ static('img/icons/navbar_panel.svg') }}" alt="{{ _('Talks') }}">
            <span>{{ _('Talks') }}</span>
        {% endcall %}
    {% endif %}
    {% if settings.has_profiles %}
        {% call link_macro('profile:detail', title=_('Profile'), class_='main-footer__link') %}
            <img src="{{ static('img/icons/navbar_profile.svg') }}" alt="{{ _('Profile') }}">
            <span>{{ _('Profile') }}</span>
        {% endcall %}
    {% endif %}
</nav>
