<nav class="main-header" is-component>
    <a title="{{ _('Back') }}" is-element="back:click">
        <i class="fa fa-chevron-left"></i>
    </a>

    <a title="{{ _('Logo') }}" {{ link_attrs('index')|safe }} class="main-header__logo">
        <img src={{ static("img/logo/logo.svg") }} alt="{{ settings.EJ_PAGE_TITLE }}">
    </a>

    <a title="{{ _('Menu') }}" is-element="toggleMenu:click">
        <i class="fa fa-ellipsis-v"></i>
    </a>
</nav>
