<!-- Run AJAX-loaded scripts -->
<script>
    function runRemoteScripts() {
        var scripts = document.getElementsByClassName('remoteScript');
        for (var i = 0; i < scripts.length; i++) {
            var id = 'script-' + scripts[i].getAttribute('id');
            if (document.getElementById(id)) {
                document.getElementById(id).outerHTML = '';
            }
            var script = document.createElement('script');
            script.id = id;
            script.type = 'text/javascript';
            var src = scripts[i].getAttribute('data-script-src');
            if (!!src) {
                script.src = src;
            }
            else {
                script.text = scripts[i].innerHTML;
            }
            document.getElementsByTagName('body')[0].appendChild(script);
        }
    }

    window.onload = function () {
        checkHicontrast();
        runRemoteScripts();
        checkFontSize();
        up.on('up:fragment:inserted', function (event, fragment) {
            runRemoteScripts();
            checkHicontrast();
            checkSpecificPages(fragment);
            enableFadeBottomDiv();
        });
    };
</script>
