<nav class="menu-profile-section divider">
    <div class="user-profile-info">
        {% if request.user.profile|default(None) %}
        <img class="profile-avatar" src="{{ request.user.profile.image_url }}" 
        alt="{{ _('Profile picture') }}">  
        {% else %}
            <img class="profile-avatar" src="{{ static('img/icons/navbar_profile.svg') }}"
                alt="{{ _('Profile picture') }}">
        {% endif %}
        <div>
            <p>{{request.user.profile.name}}</p>
        </div>
    </div>
</nav>

<i onclick="closePageMenu()" id="profile-menu-close-btn" class="fas fa-times"></i>

<nav class="menu-profile-section divider">
    <ul>
        <li><a href="{{ url('profile:detail')}}">{{ _('Profile') }}</a></li>
    </ul>
</nav>

<nav class="menu-profile-section divider">
{{ page_menu.ABOUT(request)}}
</nav>

<nav class="menu-profile-section divider menu-profile-logout">
    <form method="post" id="logout-form" action="{{ url('account:logout') }}">
        {{ csrf_input }}
        <a onclick="logout()">{{ _('Logout')}}</a>
    </form>
</nav>

<script>
    var menuProfile = document.getElementById("show-profile-menu");
    var profile = document.getElementById("img-profile").firstElementChild;
    var logoutForm = document.getElementById("logout-form");
    var profileMenuCloseBtn = document.getElementById("profile-menu-close-btn");

    function closeProfileMenu() {
        menuProfile.classList.add('hide');
    }

    window.onclick = function(event) {
        if (event.target === menuProfile|| event.target === profile) return;
        closeProfileMenu()
    }

    profile.onclick = function() {
        menuProfile.classList.toggle('hide');
        let pageMenu = document.getElementById("page-menu")
        let overlayComp = document.getElementById("page-menu-overlay")
        pageMenu.removeAttribute('is-open')
        if(overlayComp) overlayComp.remove()
    }

    function logout() {
        logoutForm.submit();
    }

    profileMenuCloseBtn.addEventListener("click", closeProfileMenu)

</script>