{% extends 'base.jinja2' %}

{% block content %}
    <div class="Inbox">
        <div class="Inbox-config">
            {# <div class="Inbox-config-title">
                <p>{{_('Limit Notifications')}}</p>
                <i class="fa fa-cog"></i>
            </div>
            <div class="Inbox-config-options">
                <div>
                    <p>{{_('Max per day')}}</p>
                    <div class="Inbox-config-selection">
                        <label>
                            <input type="radio">1
                            <span class="checkmark"></span>
                        </label>
                        <label>
                            <input type="radio">3
                            <span class="checkmark"></span>
                        </label>
                        
                    </div>
                </div>
                <div>
                    <p>{{_('Max per week')}}</p>
                    <div class="Inbox-config-selection">
                        <label>
                            <input type="radio">1
                            <span class="checkmark"></span>
                        </label>
                        <label>
                            <input type="radio">5
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div> #}
            <form method="post" id="form" class="none" up-autosubmit>
                {{ csrf_input }}
                {{notification_form.as_p()}}
            </form>

        </div>
        <div class="Inbox-notifications">
            {% for item in notifications %}
            {% if not item.already_seen %}
                {% set notification_class = "" %}
            {% else %}
                {% set notification_class = "darken" %}
            {% endif %}
            <div class="Inbox-notifications-card {{notification_class}}">
                <div>
                <div class="Inbox-notifications-circle"></div>
                {# {{item.channel.purpose}}   #} {# Trocar por icone adequado a cada canal!! #}
                </div>
                <div class="Inbox-notifications-body">
                    <h6>{{item.message.title}}</h6>
                    <p class="Inbox-notifications-description">
                        {{ item.message.body}}
                        
                        {%if item.message.link != ''%}
                            <span class="Inbox-notifications-info"> - {{item.message.link}}</span>
                        {% endif %}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}

