{% extends 'base.jinja2' %}

{% block content %}
    <div class="Inbox">
        <div class="Inbox-config">
            <div class="Inbox-config-title">
                <p>{{_('Limit Notifications')}}</p>
                <i class="fa fa-cog"></i>
            </div>
            <div class="Inbox-config-options">
                <div>
                    <p>{{_('Max per day')}}</p>
                    <div class="Inbox-config-selection">
                        <label>
                            <input type="radio">1
                            <span class="checkmark"></span>
                        </label>
                        <label>
                            <input type="radio">3
                            <span class="checkmark"></span>
                        </label>
                        
                    </div>
                </div>
                <div>
                    <p>{{_('Max per week')}}</p>
                    <div class="Inbox-config-selection">
                        <label>
                            <input type="radio">1
                            <span class="checkmark"></span>
                        </label>
                        <label>
                            <input type="radio">5
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="Inbox-notifications">
            {% for item in notifications %}
            {% if item.already_seen %}
                {% set notification_class = "" %}
            {% else %}
                {% set notification_class = "darken" %}
            {% endif %}
            <div class="Inbox-notifications-card {{notification_class}}">
                <div>
                <div class="Inbox-notifications-circle"></div>
                </div>
                <p class="Inbox-notifications-description">
                    {{item.notification}}
                    <span class="Inbox-notifications-info">Restam: {{item.remaining_time}} hora(s)</span>
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

