{% extends 'base.jinja2' %}

{% block content %}
    <div class="Inbox">
        <div class="Inbox-config">
            <div class="Inbox-config-title">
                <p>{{_('Limit Notifications')}}</p>
                <i class="fa fa-cog"></i>
            </div>
            <div class="Inbox-config-options">
                <div>
                    <p>{{_('Max per day')}}</p>
                    <div>
                        <label><input type="radio">1</label>
                        <label><input type="radio">3</label>
                    </div>
                </div>
                <div>
                    <p>{{_('Max per week')}}</p>
                    <div>
                        <label><input type="radio">1</label>
                        <label><input type="radio">5</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="Inbox-notifications">
            {% for item in notifications %}
                <p>
                    {{item.notification}}
                    Restam: {{item.remaining_time}} hora(s)
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
