
{% macro cluster_list(clusters,
                           title='Gerenciamento de clusters e esteriótipos',
                           subtitle='Crie, delete e edite aqui seus clusters e esteriótipos',
                           javascript_enabled='') %}

    <div class="StereotypeList">
        {{ cluster_list_static(clusters, title, subtitle) }}
    </div>

{% endmacro %}


{% macro cluster_list_static(clusters, title, subtitle) %}
        <div class="StereotypeList-title">
            <h1 class="h1">{{ title }}</h1>
            <p>{{ subtitle }}</p>
        </div>

        <div class="StereotypeList-header up-nav">
            <a href="/profile/clusters/">Clusters</a> {# doesnt exist yet #}
            <a href="/profile/stereotypes/">Stereotypes</a>
        </div>

        {% if create_url %}
            <a class="StereotypeList-new" href="{{ create_url }}"><i class="fa fa-plus-circle"></i> {{ _('New cluster') }}</a>
        {% endif %}
        

        {# Search - not implemented #}
        <div class="StereotypeList-search">
            <p>{{_('Search Cluster:')}}</p>
            <input type="text"></input>
            <i class="fas fa-search"></i>
        </div>


        {# Cards #}
        <div class="StereotypeList-cardList">
        {% for cluster in clusters %}
    
            <h2>{{ cluster.name }} </h2>
            <h4>{{ cluster.conversation }} </h4>
            <ul>
            {%for stereotype in cluster.stereotypes.all()%}
                <li>{{ stereotype.name }}</li>
            {%endfor%}
            </ul>
        {% endfor %}
    </div>
    
{% endmacro %}
