{#---------------------------------------------------------------------------#
    STEREOTYPE AND CLUSTER LIST (NOW ONLY STEREOTYPE IMPLEMENTED)
 #---------------------------------------------------------------------------#}

{% macro stereotype_list(stereotypes,
                           title='Gerenciamento de clusters e esteriótipos',
                           subtitle='Crie, delete e edite aqui seus clusters e esteriótipos',
                           javascript_enabled='') %}

    <div class="StereotypeList">
        {{ stereotype_list_static(stereotypes, title, subtitle) }}
    </div>

{% endmacro %}

{% macro stereotype_list_static(stereotypes, title, subtitle) %}
        <div class="StereotypeList-title">
            <h1 class="h1">{{ title }}</h1>
            <p>{{ subtitle }}</p>
        </div>

        <div class="StereotypeList-header up-nav">
            <a href="/profile/clusters/">Clusters</a> {# doesnt exist yet #}
            <a href="/profile/stereotypes/">Stereotypes</a>
        </div>

        {% if create_url %}
            <a class="StereotypeList-new" href="{{ create_url }}"><i class="fa fa-plus-circle"></i> {{ _('New stereotype') }}</a>
        {% endif %}
        

        {# Search - not implemented #}
        <div class="StereotypeList-search">
            <p>{{_('Search Stereotype:')}}</p>
            <input type="text"></input>
            <i class="fas fa-search"></i>
        </div>


        {# Cards #}

        <div class="StereotypeList-cardList">
            {% for stereotype in stereotypes %}
            <div class="StereotypeList-singleStereotype">
              <h2>{{ stereotype.name }} </h2>
              <div class="StereotypeList-icons">
                <a href="/profile/stereotypes/edit/{{stereotype.id}}">
                    <i class="far fa-edit"></i>
                </a>
                <i class="far fa-times-circle"></i>
              </div>
            </div>
            {% endfor %}
        </div>
{% endmacro %}
