{#---------------------------------------------------------------------------#
    STEREOTYPE AND CLUSTER LIST (NOW ONLY STEREOTYPE IMPLEMENTED)
 #---------------------------------------------------------------------------#}

{% macro stereotype_list(stereotypes, conversation_title,
                           title='Gerenciamento de esteriótipos da conversa',
                           subtitle='Crie, delete e edite aqui os esteriótipos da conversa ',
                           javascript_enabled='') %}

    <div class="StereotypeList">
        {{ stereotype_list_static(stereotypes, conversation_title,title, subtitle) }}
    </div>

{% endmacro %}

{% macro stereotype_list_static(stereotypes, conversation_title, title, subtitle) %}
        <div class="StereotypeList-title">
            <h1 class="h1">{{ title }} {{ conversation_title }}</h1>
            <p>{{ subtitle }} {{ conversation_title}}</p>
        </div>

        {% if stereotype_url %}
            <a class="StereotypeList-new" href="{{ stereotype_url }}add/"><i class="fa fa-plus-circle"></i> {{ _('New stereotype') }}</a>
        {% endif %}


        {# Search - not implemented #}
        <div class="StereotypeList-search">
            <p>{{_('Search Stereotype:')}}</p>
            <input type="text"></input>
            <i class="fas fa-search"></i>
        </div>


        {# Cards #}

        <div class="StereotypeList-cardList">
            {% for stereotype in stereotypes %}
            <div class="StereotypeList-singleStereotype">
              <h2>{{ stereotype.name }} </h2>
              <div class="StereotypeList-icons">
                <a href="{{ stereotype_url }}{{stereotype.id}}/edit/">
                    <i class="far fa-edit"></i>
                </a>
                {# <i class="far fa-times-circle"></i> #}
              </div>
            </div>
            {% endfor %}
        </div>

        <p style="text-align: center;">{{ action_button(_('Done'), conversation_url) }}</p>
{% endmacro %}
