# Testing
pytest ~= 3.7.0
pytest-cov ~= 2.5.1
pytest-html ~= 1.19.0
pytest-django ~= 3.1.2
pytest-pythonpath >= 0.7.2
pytest-splinter >= 1.8.5
splinter >= 0.8.0
django-test-plus ~= 1.0.18
django-coverage-plugin ~= 1.5.0
coverage ~= 4.4.1
factory-boy ~= 2.9.2
model_mommy ~= 1.5.1
mock ~= 2.0.0

# Static analysis
flake8 ~= 3.5.0

# Improved REPL
ipdb
IPython

# Tools
Sphinx ~= 1.6
Werkzeug  ~= 0.12
invoke ~= 1.0

# Tranlations
Babel ~= 2.6.0

