{% extends 'base.jinja2' %}

{% set lang = get_language() %}
{% set page = request.GET.page|default('index.html') %}
{% set path = '/docs/{0}'.format(page) %}
{% set hide_menu = true %}


{% block main %}
    <div id="docs">
        <iframe src="{{ path }}" frameborder="0" scrolling="no" onload="resizeIframe(this)"></iframe>
    </div>
{% endblock %}
