{% extends 'base.jinja2' %}

{% set lang = get_language() %}
{% set page = request.GET.page|default('index.html') %}
{% set path = '/static_docs/{0}'.format(page) if lang == 'en-us' else '/static_docs/i18n/{0}/{1}'.format(lang, page) %}

{% block main %}
    <script>
        function resizeIframe(obj) {
            obj.style.height = (obj.contentWindow.document.body.scrollHeight + 100) + 'px';
        }
    </script>

    <div id="docs">
        <iframe src="{{ path }}" style="width: 100%; margin: 40px 10px 10px;" frameborder="0" scrolling="no" onload="resizeIframe(this)"></iframe>
    </div>
{% endblock %}
