{% extends 'base.jinja2' %}
{% set hide_menu = true %}
{% set main_class = 'width-full landing-page' %}

{# TODO: move data out of the template #}
{% set people = {
    'Alexandre.jpg': 'Alexandre Augusto',
    'Arthur.jpg': 'Arthur Diniz',
    'Bruna.jpg': 'Bruna Nayara',
    'Bruno.jpg': 'Bruno Martin',
    'Caio.jpg': 'Caio Almeida',
    'Carla.jpg': 'Carla Rocha',
    'Dani.jpg': 'Dani Sampaio ',
    'Dayanne.jpg': 'Dayanne Fernandes',
    'Fabiola.jpg': 'Fabíola Fleury',
    'Fabio.jpg': 'Fabio Macedo',
    'Fabricio.jpg': 'Fabricio Solagna',
    'Gabriela.jpg': 'Gabriela Alves',
    'Gardenia.jpg': 'Gardenia Nogueira',
    'Guilherme.jpg': 'Guilherme Lacerda',
    'Heloise.jpg': 'Heloise Cullen',
    'Henrique.jpg': 'Henrique Parra',
    'Jonathan.jpg': 'Jonathan Moares',
    'Laury.jpg': 'Laury Bueno',
    'Leandro.jpg': 'Leandro Nunes',
    'Leonardo.jpg': 'Leonardo Gomes',
    'Luan.jpg': 'Luan Guimarães',
    'Lucas.jpg': 'Lucas Malta',
    'Luiza.jpg': 'Luiza Peixe',
    'Marcela.jpg': 'Marcela Rocha',
    'Marco.jpg': 'Marco William',
    'Matheus.jpg': 'Matheus Richard',
    'Maurilio.jpg': 'Maurilio Atila',
    'Pablo.jpg': 'Pablo Silva',
    'Rafa.jpg': 'Rafa Ayala',
    'Rafael.jpg': 'Rafael Makaha',
    'Ricardo.jpg': 'Ricardo Poppi',
    'Rodrigo.jpg': 'Rodrigo Oliveira',
    'Tallys.jpg': 'Tallys Martins',
    'Ulf.jpg': 'Ulf Treger',
    'Vanessa.jpg': 'Vanessa Tonini',
    'aulus.jpg': 'Áulus Diniz',
    'arthur.jpg': 'Arthur Jam',
    'davidcarlos.jpg': 'David Carlos',
    'danielhenrique.jpg': 'Daniel Henrique',
} %}
{% set documentation_items = [
    {'href': '/docs/?page=user-start.html',
     'icon': 'fa fa-user-circle',
     'text': _('User Guides') },
    {'href': '/docs/?page=user-install.html',
     'icon': 'fa fa-download',
     'text': _('Installation') },
    {'href': '/docs/?page=user-admin.html',
     'icon': 'fa fa-cog',
     'text': _('Administration Guides')},
    {'href': '/docs/?page=dev.html',
     'icon': 'fa fa-code',
     'text': _('Development Guides')},
    {'href': '/docs/?page=user-ai.html',
     'icon': 'fas fa-microchip',
     'text': _('Our Artificial Intelligence')},
    {'href': '/docs/?page=contributing.html',
     'icon': 'fab fa-github',
     'text': _('Contributing')},
    {'href': '/docs/?page=user-report.html',
     'icon': 'far fa-life-ring',
     'text': _('Getting Help')},
] %}
{% set partners = [
    {'name': 'Instituto Cidade Democrática',
     'url': 'https://instituto.cidadedemocratica.org.br',
     'img': 'cidade.png'},
    {'name': 'LAPPIS',
     'url': 'https://lappis.rocks',
     'img': 'lapis.png'},
    {'name': 'Hacklab',
     'url': 'https://hacklab.com.br',
     'img': 'hacklab.png'},
    {'name': 'Pencil Labs',
     'url': 'https://pencillabs.com.br',
     'img': 'pencil.png'},
    {'name': 'Transparência Internacional',
     'url': 'https://transparenciainternacional.org.br',
     'img': 'ti.png'},
    {'name': 'Fundação Perseu Abramo',
     'url': 'https://fpabramo.org.br',
     'img': 'fpa.png'},
    {'name': 'PCdoB',
     'url': 'https://pcdob.org.br',
     'img': 'pcdob.png'},
] %}


{% block content %}
    <style>
        #page-wrapper::after {
            display: none !important;
            content: none;
        }
    </style>
    <div class="landing-page__cover width-full text-center color-brand col flex-center">
        <p class="bold text-1">{{ _('Create opinion surveys') }}</p>
        <p>{{ action_button(_('Try it now!'), href='conversation:list', secondary=true) }}</p>
        <a class="landing-page__cover-scroll"
           onclick="$('html, body').animate({scrollTop: $('#how-it-works').offset().top - $('.main-header').height() - 20}, 400);"><i
            class="fa fa-chevron-down"></i></a>
    </div>

    <h1 class="text-center text-accent" id="how-it-works">{{ _('How does it work?') }}</h1>

    <div class="landing-page__cards">
        <div class="landing-page__card">
            <i class="fa fa-microphone gradient text-huge"></i>
            <h2>{{ _('Create a conversation') }}</h2>
            <p>{{ _('create conversations on EJ to receive ideas and opinions about politics, services or public equipments.') }}</p>
        </div>

        <div class="landing-page__card">
            <i class="fas fa-clipboard gradient text-huge"></i>
            <h2>{{ _('Listen to the people') }}</h2>
            <p>{{ _('identify the priorities and the different opinion groups in the society.') }}</p>
        </div>

        <div class="landing-page__card">
            <i class="far fa-flag gradient text-huge"></i>
            <h2>{{ _('Take decisions') }}</h2>
            <p>{{ _('make participants know, communicating directly and amplifying the responses.') }}</p>
        </div>
    </div>

    <div class="landing-page__conversations width-full pad-1">
        <h2 class="text-center">{{ _('Participative conversations') }}</h2>

        <div class="row margin-y3 margin-xauto measure">
            <ul class="list-reset text-right bold uppercase">
                <li><i class="fa fa-globe"></i><span>{{ _('Community driven') }}</span></li>
                <li><i class="fa fa-fire"></i><span>{{ _('No attacks or fakes') }}</span></li>
                <li><i class="fa fa-align-right"></i><span>{{ _('Nuances instead of bubbles') }}</span></li>
                <li><i class="far fa-heart"></i><span>{{ _('Free and open source') }}</span></li>
            </ul>
            <div class="landing-page__ui-example">
                <img src="{{ static('img/home/cellphone.png') }}" alt="Interface example"/>
            </div>
        </div>

        <p class="text-center margin-3">{{ action_button(_('Create a conversation'), href='conversation:create', secondary=true) }}</p>
    </div>

    <div class="container margin-y3">
        <h2 class="text-accent">{{ _('Documentation') }}</h2>
        <p>{{ _('Explore the EJ resources with our documented guides') }}</p>

        <div class="row wrap flex-center">

            {% for doc in documentation_items %}
                <a href="{{ doc.href }}"
                   class="block text-brand-light size-x5p size-y5 rounded-3 margin-2 border-2 text-center pad-1 leading-solid">
                    <i class="{{ doc.icon }} text-1 gradient block pad-1"></i>
                    <span class="text-7 uppercase semi-bold text-brand">{{ doc.text }}</span></a>
            {% endfor %}
        </div>
    </div>


    <div class="pad-3" style="background: #eee;">
        <h2 class="container">{{ _('EJ Community') }}</h2>
        <ul class="container list-reset row wrap items-center flex-center margin-y3 margin-xauto pad-x0">
            {% for file, name in people.items() %}
                <li class="text-center text-7 margin-2 size-x4p">
                    <img class="rounded-full size-4p block" src="{{ static("img/home/team/" + file) }}"
                         alt="{{ name }}">
                    {{ name }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="landing-page__partners container">
        <h2 class="text-accent">{{ _('Who is using EJ?') }}</h2>
        <ul class="container list-reset row wrap items-center flex-center margin-y3 pad-x0">
            {% for partner in partners %}
                <li class="margin-2 size-5p">
                    <a target="_blank" rel="noopener noreferrer" href="{{ partner.url }}">
                        <img class="width-full" src="{{ static('img/home/' + partner.img) }}" alt="{{ partner.name }}">
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
