{% extends 'base.jinja2' %}
{% set page_title = _('Django settings') %}


{% block content %}
    <h1>{% trans %}Django Settings{% endtrans %}</h1>
    <dl class="description">
        {% for name, value in settings %}
            <dt>{{ name }}</dt>
            <dd>
                <pre>{{ value }}</pre>
            </dd>
        {% endfor %}
    </dl>
{% endblock %}
