{% extends 'base.jinja2' %}
{% set page_title = 'Site info' %}
{% set content_title = page_title %}


{% block content %}
    <div class="container-1">
        {# USERS #}
        <h2>{{ _('Users') }}</h2>
        <table>
            <tr>
                <th>{{ _('Name') }}</th>
                <th>{{ _('Value') }}</th>
            </tr>

            <tr>
                <td>{{ _('Registered users') }}</td>
                <td>{{ user_count }}</td>
            </tr>
        </table>


        {# CONVERSATIONS #}
        <h2>{{ _('Conversations') }}</h2>
        <table>
            <tr>
                <th>{{ _('Name') }}</th>
                <th>{{ _('Value') }}</th>
            </tr>

            {% for name, value in conversations_counts.items() %}
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        </table>

        {# LINKS #}
        <h2>{{ _('More info') }}</h2>
        <ul>
            <li><a href="{{ url('info-django-settings') }}">{{ _('Django Settings') }}</a></li>
            <li><a href="{{ url('info-environ') }}">{{ _('Execution environment') }}</a></li>
            <li><a href="{{ url('info-styles') }}">{{ _('Styles') }}</a></li>
        </ul>

    </div>
{% endblock %}

