{% extends 'base.jinja2' %}
{% set page_title = 'Site info' %}
{% set content_title = page_title %}


{% block content %}
    <div class="container-1">
        {# USERS #}
        <h1>{{ _('Users') }}</h1>
        <table>
            <tr>
                <th>{{ _('Name') }}</th>
                <th>{{ _('Value') }}</th>
            </tr>

            <tr>
                <td>{{ _('Registered users') }}</td>
                <td>{{ user_count }}</td>
            </tr>
        </table>


        {# CONVERSATIONS #}
        <h1>Conversations</h1>
        <table>
            <tr>
                <th>{{ _('Name') }}</th>
                <th>{{ _('Value') }}</th>
            </tr>

            {% for name, value in conversations_counts.items() %}
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

