{% extends 'base.jinja2' %}
{% set page_title = _('Django settings') %}


{% block content %}
    <h1 class="text-accent">{% trans %}Django environment{% endtrans %}</h1>
    <div class="measure-wide overflow-auto">
    <dl class="description">
        {% for name, value in settings_data %}
            <dt style="text-transform: uppercase">{{ name }}</dt>
            <dd>
                <pre>{{ value }}</pre>
            </dd>
        {% endfor %}
    </dl>
    </div>
{% endblock %}
