{% extends 'base.jinja2' %}
{% set content_title = 'Notificações' %}
{% block content %}
    {% if notifications %}
        <h2>Lista de notificações</h2>
        ...
    {% else %}
        <h2>Nenhuma notificação</h2>
    {% endif %}
{% endblock %}


