{% extends 'pages/../../../../ej_conversations/jinja2/ej_conversations/conversation-list.jinja2' %}

{% block javascript_body %}
  {{ super() }}
  <script src="/static/js/sitetour.js" defer></script>
{% endblock %}
