{% from 'components/generic/page_header.jinja2' import page_header %}
{% from 'components/generic/page_top-header.jinja2' import page_top_header %}
{% from 'components/generic/page_menu.jinja2' import menu with context %}

{% set javascript_enabled = request.COOKIES.get('javascriptEnabled', 'No Cookie') if request else True %}
{% set target_context = request.GET.target|default('all') if request else 'all' %}
{% set target = target|default(target_context) %}
{% set content_title = content_title|default('') %}
{% set page_title = page_title|default(content_title or settings.EJ_PAGE_TITLE) %}
{% set hide_footer = hide_footer|default(False) %}
{% set enable_navbar = enable_navbar|default(True) %}
{% set logged_in = request and request.user and request.user.is_authenticated %}

{% if target == 'all' %}
    <!DOCTYPE html>
    <html lang="pt-br">

    <head>
        <meta charset="utf-8">
        <title>{{ page_title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block css %}
            <!-- CSS -->
            <link rel="stylesheet"
                  href="https://fonts.googleapis.com/css?family=Patua+One|Raleway:400,600,700&subset=latin-ext">
            <link rel="stylesheet" href="https://unpkg.com/unpoly@0.54.0/dist/unpoly.min.css"
                  integrity="sha384-zsXMcPyhYSZEF/yA0Rprx9nn7gnz84QyiSrxSH5xuo0DalUAlfSmfsxILtkg5fJ/"
                  crossorigin="anonymous">
            <link rel="stylesheet" href="/static/css/fontawesome-all.min.css">
            {#        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">#}
            {#        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">#}
            <link rel="stylesheet" href="/static/js/jquery-ui/jquery-ui.min.css">
            <link rel="stylesheet" href="/static/js/jquery-ui/jquery-ui.structure.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.css">
            <link rel="stylesheet" href="/static/css/main.css">
        {% endblock %}

        {% block javascript %}
            <!-- Javascript -->
            <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
            <![endif]-->

            {# <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script> #}
            <script
                    src="https://code.jquery.com/jquery-3.3.1.min.js"
                    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                    crossorigin="anonymous"></script>
            <script src="https://unpkg.com/unpoly@0.54.0/dist/unpoly.min.js"
                    integrity="sha384-6QMkTrFSjoO7UIWKZ1oYV4FCzxclb0Q4gP+TJzTZB93bAUeffVvNLblrRevbIkIw"
                    crossorigin="anonymous"></script>
            {#<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>#}
            <script src="/static/js/jquery-ui/jquery-ui.min.js" defer></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
            <script src="/static/js/main.js" defer></script>
            <script src="/static/js/hicontrast.js"></script>
            <script src="/static/js/specific-pages.js"></script>
            <script src="/static/js/utils.js"></script>
            <script src="/static/js/web-share.js"></script>
            <script src="/static/js/fontScale.js" defer></script>
            <script src="/static/js/comment-form-animation.js" defer></script>
            <script src="/static/js/slider-modalities-conversation.js" defer></script>
            <script src="/static/js/file-input.js" defer></script>
            <script src="/static/js/bundle.js" defer></script>
        {% endblock javascript %}

        <!-- Favicons -->
        <link rel="icon" href="/static/img/logo/logo.svg"/>
        <link rel="apple-touch-icon" sizes="57x57" href="/static/img/logo/icon-57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/img/logo/icon-72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/img/logo/icon-114.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/static/img/logo/icon-192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/img/logo/icon-32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/img/logo/icon-96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/img/logo/icon-16.png">
        <link rel="shortcut icon" href="/static/img/logo/favicon.ico"/>
        <meta name="msapplication-TileImage" content="/static/img/logo/icon-144.png">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="image" content="/static/img/logo/logo.svg">

        <!-- PWA -->
        <link rel="manifest" href="/static/manifest.json">
        <meta name="theme-color" content="{{ theme_color|default('#fff') }}">

        <!-- Cache busting metas -->
        <meta http-equiv="cache-control" content="{{ cache_control|default('no-cache') }}">
        <meta http-equiv="expires" content="{{ cache_expires|default(120) }}">

        <!-- Twitter -->
        <meta name="twitter:card" content="summary">
        
        {% block metaOG %}
            <!-- Open Graph general (Facebook, Pinterest & Google+) -->
            <meta itemprop="image" property="og:image" content="/static/img/logo/logo.svg">
            <meta property="og:image:type" content="image/svg">
            <meta property="og:image:width" content="1200">
            <meta property="og:image:height" content="630">
            <meta itemprop="name" property="og:site_name" content="EJ - Empurrando Juntos!">
            <meta property="og:url" content="https://ejplatform.org/">
            <meta property="og:type" content="website">
            <meta property="og:locale" content="pt_BR">

        {% endblock metaOG %}

        {% block metaOG2 %}
            <meta name="description" property="og:title" content="{{ title|default(_('EJ - A platform of social participacion.')) }}">
    
            <!-- Twitter && Telegram -->
            <meta name="twitter:title" content="EJ Platform - Consultas de opinião">
    
        {% endblock metaOG2 %}
    </head>

    <body class="{{ body_class|default('Page') }} {{ request.path.replace('/','') if request else '' }}">
{% endif %}

{% block body %}
    {% if target == 'all' or target == 'page' %}
        {% if enable_navbar %}
            {{ page_top_header(social_icons()) }}
            {{ page_header(request) }}
        {% endif %}
        <div class="Page-mainContainer">
    {% endif %}

    <div class="Page-content-container">
        <div class="NavMenu-fixed">
            {% if logged_in and request.path != '/home/' %}
                {{ menu(request.user) }}
            {% endif %}
        </div>

        {# MAIN BLOCK #}
        {% block main %}

            <main class="Page-content {{ 'logged-in' if logged_in else '' }}" {{ salt_attr()|safe }}>
                {% if content_title %}
                    <div class="Page-title"><h1>{{ content_title }}</h1></div>{% endif %}
                {% if content is defined %}
                    {{ content }}
                {% else %}
                    {% block content %}
                        {% if content_html %}
                            <div class="Container">
                                {{ content_html|safe }}
                            </div>
                        {% else %}
                            <p>{{ _('Please override the "content" block of your template!') }}</p>
                        {% endif %}
                    {% endblock %}
                {% endif %}
            </main>
        {% endblock %}
    </div>


{% endblock %}

{% if target == 'all' %}
    {% block modal %}{% endblock modal %}

    {% block javascript_body %}
        <!-- Google Analytics -->
        <script defer>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o), m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-104880284-1', 'auto');
        </script>
        {% if service_worker %}
            <!-- Service worker -->
            <script>
                if ('serviceWorker' in navigator) {
                    window.addEventListener('load', function () {
                        navigator.serviceWorker.register('/sw.js');
                    });
                }
            </script>
        {% endif %}

        <!-- Run AJAX-loaded scripts -->
        <script>
            function runRemoteScripts() {
                var scripts = document.getElementsByClassName('remoteScript');
                for (var i = 0; i < scripts.length; i++) {
                    var id = 'script-' + scripts[i].getAttribute('id');
                    if (document.getElementById(id)) {
                        document.getElementById(id).outerHTML = '';
                    }
                    var script = document.createElement('script');
                    script.id = id;
                    script.type = 'text/javascript';
                    var src = scripts[i].getAttribute('data-script-src');
                    if (!!src) {
                        script.src = src;
                    }
                    else {
                        script.text = scripts[i].innerHTML;
                    }
                    document.getElementsByTagName('body')[0].appendChild(script);
                }
            }

            window.onload = function () {
                checkHicontrast();
                runRemoteScripts();
                checkFontSize();
                up.on('up:fragment:inserted', function (event, fragment) {
                    runRemoteScripts();
                    checkHicontrast();
                    checkSpecificPages(fragment);
                    enableFadeBottomDiv();
                });
            };
        </script>
    {% endblock %}

    </body>
    </html>
{% endif %}
