{% set target = target|default('all') %}
{% set page_title = page_title|default(settings.EJ_PAGE_TITLE) %}

{% if target == 'all' %}
    <!DOCTYPE html>
    <html lang="pt-br">

    <head>
        <meta charset="utf-8">
        <title>{{ page_title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block css %}{% include 'ej/includes/head/css.jinja2' %}{% endblock %}
        {% block javascript %}{% include 'ej/includes/head/javascript.jinja2' %}{% endblock %}
        {% include 'ej/includes/head/favicons.jinja2' %}
        {% include 'ej/includes/head/pwa.jinja2' %}
        {% include 'ej/includes/head/open_graph.jinja2' %}
    </head>

    <body class="{{ body_class|default('body') }}" current-url="{{ request.path }}" {{ salt_attr()|safe }}>
{% endif %}

{% block body %}
{% if target == 'all' or target == 'page' %}
    {% if not hide_header|default(False) %}{% include 'ej/includes/header.jinja2' %}{% endif %}
    {% if not hide_footer|default(False) %}{% include 'ej/includes/footer.jinja2' %}{% endif %}
{% endif %}
<div id="page-wrapper">
{% if not hide_menu|default(False) %}{{ page_menu(menu_contents|default([]), request=request) }}{% endif %}

{% block main %}
<main class="{{ main_class|default('container') }}{{ '' if request.user.is_authenticated else 'is-anonymous' }}">
{% if content is defined %}
    {{ content }}
{% else %}
    {% block content %}
    {% if content_html is defined %}
        {{ content_html|safe }}
    {% else %}
        <p>{{ _('Please override the "content" block of your template!') }}</p>
    {% endif %}
    {% endblock content %}
{% endif %}
</main>
{% endblock main %}
</div>
{% endblock body %}

{% if target == 'all' %}
    {% block modal %}{% endblock modal %}
    {% block javascript_body %}{% endblock %}
    </body>
    </html>
{% endif %}
