{% set page_title = page_title|default(settings.EJ_PAGE_TITLE) -%}


<!DOCTYPE html>
<html lang="{{ get_language() }}">
<head>
    <meta charset="utf-8">
    <title>{{ page_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block css %}{% include 'ej/includes/head/css.jinja2' %}{% endblock %}
    {% block javascript %}{% include 'ej/includes/head/javascript.jinja2' %}{% endblock %}
    {% include ['ej/includes/head/favicons.jinja2',
                'ej/includes/head/pwa.jinja2',
                'ej/includes/head/open_graph.jinja2'] %}
</head>


{%- block body %}
    <body class="{{ body_class|default('body') }}" data-current-url="{{ request.path }}" {{ salt_attr()|safe }}>
    {% if settings.DEBUG %}
        {% for id in ['summary', 'info', 'description'] %}<div id="{{ id }}" up-hungry></div>{% endfor %}
    {% endif %}
    {% if not hide_header|default(False) %}{% include 'ej/includes/header.jinja2' %}{% endif %}
    {% if not hide_footer|default(False) %}{% include 'ej/includes/footer.jinja2' %}{% endif %}
    <div id="page-wrapper">
        {%- if not hide_menu|default(False) %}
            {%- if menu_contents is defined %}{{ page_menu(menu_contents|default([]), request=request) }}
            {% else %}
                {% call page_menu() %}
                    {%- block menu %}{{ page_menu.DEFAULT_MENU_SECTIONS()|safe }}{% endblock %}
                {% endcall %}
            {% endif %}
        {% endif %}

        {%- block main %}
            <main class="{{ main_class|default('container-1') }}
                         {{- '' if request.user.is_authenticated else ' is-anonymous' }}">
                {%- block message_area %}
                    <div id="message-area" up-hungry>
                        {% for msg in get_messages() %}
                            <div class="toast"{% if msg.tags %} {{ msg.tags }}{% endif %}>{{ msg|safe }}</div>
                        {% endfor %}
                    </div>
                {% endblock %}

                {% if content is defined %}
                    {{ content }}
                {% else %}
                    {% block content %}
                        {% if content_html is defined %}
                            {{ content_html|safe }}
                        {% else %}
                            <p>{{ _('Please override the "content" block of your template!') }}</p>
                        {% endif %}
                    {% endblock content %}
                {% endif %}
            </main>
        {% endblock %}
    </div>
    </body>
{% endblock body %}
</html>

