{% macro rocket_button(title='Acesse o Rocket Chat', href='/rocket') %}
    <a class="RocketButton" href="{{ href }}"><i class="fa fa-comment"></i>{{ title }}</a>
{% endmacro %}


{% macro action_button(title='Go!', href='#', alt='') %}
    <a class="ActionButton" href="{{ href }}" alt="{{ alt }}">{{ title }}</a>
{% endmacro %}


{% macro breadcrumbs(links, has_home=True) %}
    <ul class="Breadcrumbs">
        {% if has_home %}
            <li><a href="/"><i class="fa fa-home"></i></a></li>
        {% endif %}
        {% set subpaths = [] %}
        {% for href, link in links %}
            {{ subpaths.append((subpaths or [''])[-1] + '/' + href) or '' }}
            <li><a href="{{ subpaths[-1] }}">{{ link }}</a></li>
        {% endfor %}
    </ul>
{% endmacro %}
