{% from 'components/generic/elements.jinja2' import rocket_button, action_button %}


{% macro home_banner(home_banner_frag, action='start-now') %}
    <div class="HomeBanner">
        {{ home_banner_frag.html()}}
        <p>
            {% if action == 'rocket-chat' %}
                {{ rocket_button() }}
            {% elif action == 'start-now' %}
                {{ action_button('Comece agora!', '/start/' ) }}
            {% else %}
                Invalid action: {{ action }}
            {% endif %}
        </p>
    </div>
{% endmacro %}


{% macro how_it_works(how_it_works_frag) %}
    <div class="HowItWorks">
        {{ how_it_works_frag.html()}}

        <div class="HowItWorks-cards">
            {% call how_it_works_card(
                    'child',
                    'Comitê de Participação do Adolescente',
                    'O CPA é formado por adolescentes que participam da tomada de decisões dentro do CONANDA') %}
                {{ rocket_button() }}
            {% endcall %}

            {{ how_it_works_card(
                    'hands-helping',
                    'Grupos de Debate',
                    'Explica o que são os grupos de acompanhamento e tem link para algum lugar onde mostra os grupos existentes',
                    action='Conheça os Grupos', link='/groups') }}

            {{ how_it_works_card(
                    'comments',
                    'Conversas Participativas',
                    'Explica o que são as conversas apenas com texto e já ajuda a explicar o que vem na sequência',
                    action='Acesse as Conversas',
                    link='/conversations') }}

        </div>
    </div>
{% endmacro %}


{% macro how_it_works_card(icon, title, comment, action=None, link='#') %}
    <article class="HowItWorksCard">
        <i class="fa fa-{{ icon }} HowItWorksCard-icon"></i>
        <div class="HowItWorksCard-content">
            <h1>{{ title }} <i class="fa fa-angle-right"></i></h1>
            <aside class="HowItWorksCard-extra">
                <p>{{ comment }}</p>
                {% if action -%}
                    {{ action_button(action, link) }}
                {% else -%}
                    {{ caller() }}
                {% endif %}
            </aside>
        </div>
    </article>
{% endmacro %}


{% macro start_now(start_now_frag) %}
    <div class="StartNow">
        {{ start_now_frag.content|safe }}
        <p>{{ action_button('Começar agora!', '/start/') }}</p>
    </div>
{% endmacro %}
