{% from 'components/generic/elements.jinja2' import action_button, rocket_button, link %}
{% from 'components/conversations.jinja2' import conversation_list %}


{% macro profile_edit(profile, form, csrf_input) %}
    <div class="ProfileEdit">
        <form method="post" show-labels>
            {{ csrf_input }}
            {{ form.as_p() }}
            {{ form.non_field_errors() }}
            <input type="submit" name="submit" value="Enviar">
        </form>
    </div>
{% endmacro %}


{% macro profile_detail(profile, csrf_input, info='profile') %}
    <div class="Profile">
        <img class="Profile-image" src="{{ profile.image_url }}">
        <h1>{{ profile.name }}</h1>
        <h2>{{ profile.get_role_description() }}</h2>

        <div class="Profile-tabs">
            <nav class="Profile-tabLinks">
                {{ link(_('Info'), '/profile/',
                        target='.Profile-tabs',
                        transition=None,
                        class='Profile-tabActive' if info=='profile' else None) }}
                {{ link(_('Contributions'), '/profile/?info=contributions',
                        target='.Profile-tabs',
                        transition=None,
                        class='Profile-tabActive' if info=='contributions' else None) }}
            </nav>

            <div class="Profile-tabContainer">
                <div class="Profile-arrow" style="visibility: hidden"></div>

                <div class="Profile-tabContent">
                    {% if info == 'profile' %}
                        {{ profile_info(profile, csrf_input) }}
                    {% elif info == 'contributions' %}
                        {{ profile_contributions(profile) }}
                    {% else %}
                        <p>Invalid info parameter: {{ info }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="Profile-conversations">
        {{ profile_conversations(profile, categories) }}
    </div>

    <div class="Profile-rocket">
        {{ profile_rocket(profile) }}
    </div>

    <div class="Profile-actions">
        <form method="post" action="/logout/">
            {{ csrf_input }}
            <input type="submit" class="Button" primary value="{{ _('Logout') }}"/>
        </form>
        <p><a href="/profile/delete">{{ _('Delete profile') }}</a></p>
    </div>
{% endmacro %}


{% macro profile_info(profile, csrf_input) %}
    <div class="Profile-info">
        <dl>
            {% for title, info in profile.get_profile_fields() %}
                <dt>{{ title }}</dt>
                <dd>{{ info or '-' }}</dd>
            {% endfor %}
        </dl>
        <div>
            <form method="post" action="/logout/">
                {{ csrf_input }}
                <a href="/profile/edit" class="Button" primary>{{ _('Edit profile') }}</a>
            </form>
        </div>
    </div>
{% endmacro %}


{% macro profile_contributions(profile) %}
    <div class="Profile-info">
        <dl>
            {% for title, info in profile.get_profile_statistics().items() %}
                <dt>{{ title }}</dt>
                <dd>{{ info or '-' }}</dd>
            {% endfor %}
        </dl>
    </div>
{% endmacro %}


{% macro profile_conversations(profile, conversations) %}
    {{ conversation_list(profile.conversations.all(), [], _('Joined conversations')) }}
    <p><a href="/conversations" class="Button" primary>{{ _('More conversations') }}</a></p>
{% endmacro %}


{% macro profile_rocket(profile) %}
    <h2>{{ _('CPA Space') }}</h2>
    <h5>{{ _('See below the spaces you joined') }}</h5>
    <p>{{ rocket_button() }}</p>
{% endmacro %}
