invoke
django==2.2.7
toolz==0.9
sidekick==0.5.2
django-boogie==0.13.3
pytest==4.3.1
pytest-django==3.4.1
pytest-pythonpath==0.7.3
model_mommy
mock==2.0
argon2-cffi==19.1
django-environ==0.4.5
dramatiq==1.4
hyperpython==1.1.1
bleach==3.1
django-taggit==1.1.0
rules<2.0
django-allauth==0.38.0
djangorestframework==3.9
django-rest-auth==0.9.3
django-cors-headers
django-extensions==2.1
django-model-utils==3.1
django-bulk-update
django-manager-utils
django-jsonfield
django-autoslug
django-polymorphic
django-constance
scikit-learn
pandas
faker
coreapi
Pillow
markdown
jinja2

