mock ~= 2.0
factory-boy ~= 2.11
model_mommy ~= 1.6
pytest ~= 4.3.0
pytest-cov ~= 2.6
pytest-django ~= 3.4
pytest-splinter ~= 2.0.1
pytest-pythonpath ~= 0.7.3
splinter ~= 0.10.0
selenium ~= 3.141
codecov ~= 2.0
black ~= 19.3b0
sphinx ~= 1.8
invoke ~= 1.2
virtualenvwrapper ~= 4.8
ipdb ~= 0.11.0
ipython ~= 7.2
libsass ~= 0.19.0
gunicorn ~= 19.9
watchdog ~= 0.9.0
toml ~= 0.10.0
pre-commit ~= 1.17
notebook ~= 6.0
django-picklefield ~= 2.0
geocoder ~= 1.38.1