{% extends 'base.jinja2' %}
{% set main_class = 'content-1 col flex-start items-center' %}
{% block menu %}{% include 'ej_clusters/includes/stereotypes-menu.jinja2' %}{% endblock %}


{% block content %}
    <h1 class="h2 text-accent">{% trans %}Personas{% endtrans %}</h1>
    <p>{% trans %}Create, delete and edit personas{% endtrans %}</p>

    <a class="button is-primary" href="{{ url('stereotypes:create') }}">
        <i class="fa fa-plus-circle"></i> {{ _('New stereotype') }}
    </a>

    <h2 class="h3 text-accent">{% trans %}List of personas{% endtrans %}</h2>
    <div class="measure width-full">
        {% if stereotypes %}
            {% for stereotype in stereotypes %}
                <h3 class="h4"><a href="{{ url('stereotypes:edit', kwargs={'stereotype': stereotype}) }}">
                    {{ stereotype.name }} <i class="far fa-edit"></i>
                </a></h3>
                <dl class="description margin-x2">
                    <dt>{{ _('Description') }}</dt>
                    <dd>{{ stereotype.description or '-' }}</dd>
                    <dt>{{ _('Conversations') }}</dt>
                    <dd>
                        <ul class="list-reset">
                            {%- for conversation in stereotype.conversations -%}
                                {%- if loop.index != 1 %}, {% endif -%}
                                <a href="{{ conversation.get_absolute_url() }}">{{ conversation.title }}</a>
                            {%- endfor -%}
                        </ul>
                    </dd>
                </dl>
            {% endfor %}
        {% else %}
            <p>{% trans %}You do not have any registered stereotype.{% endtrans %}</p>
        {% endif %}
    </div>
{% endblock %}
