version: '3.5'

services:
  rocketchat:
    image: rocketchat/rocket.chat:${ROCKETCHAT_VERSION:-latest}
    restart: always
    environment:
      MONGO_URL: mongodb://mongo:27017/rocketchat
      PORT: '3000'
      ROOT_URL: http://${HOSTNAME:-rocketchat}:3000
    links:
      - mongo:mongo
    ports:
      - 3000:3000/tcp
    networks:
      - ejserver

  mongo:
    image: mongo
    volumes:
      - db_rocketchat:/data/db

    ports:
      - 27017:27017/tcp
    command:
      - mongod
      - --smallfiles
      - --oplogSize
      - '128'
    networks:
      - ejserver

  rocketconfig:
    links:
      - "mongo:mongo"
    build: 
      context: .
      dockerfile: ./Dockerfile.waitmongo
    depends_on:
      - mongo
    networks:
      - ejserver
volumes:
  db_rocketchat:

networks:
  ejserver:
    driver: bridge
