{% extends 'base.jinja2' %}

{% block content %}
    <div class="Container">
        <form method="post" class="django-form-as-p">
            {{ csrf_input }}
            {{ stereotype_form.as_p() }}
            {{ votes_form.as_p() }}
            <div>
                <input type="submit" class="Button" value="{{ _('Save') }}" name="create">
            </div>
        </form>
    </div>
{% endblock %}
