{% extends 'base.jinja2' %}
{% from 'ej_profiles/components/profile.jinja2' import profile_detail with context %}

{% block content %}
    {{ profile_detail(request.user.get_profile(), favorite_conversations, info_tab) }}
{% endblock %}
