{% extends 'ej_profiles/base.jinja2' %}

{% block page_content %}
    {{ tabs({_('Info'): '#profile-info', _('Contributions'): '#profile-contributions'}, class_='width-full') }}
    <div id="profile-info" class="pad-x3p pad-y4 width-full">
        <dl class="description text-4">
            {% for title, info in profile.profile_fields(true) %}
                <dt>{{ title }}</dt>
                {% if info == 'undeclared' %}
                    <dd>{{ _((info).title()) }}</dd>
                {% else %}
                    <dd>{{ (info or '-') }}</dd>
                {% endif %}
            {% endfor %}
        </dl>
    </div>
    <div id="profile-contributions" class="pad-4 text-center text-4 text-brand uppercase semibold">
        <p><i class="fa fa-talks"></i> {{ n_conversations }} {{ _('Conversations') }}</p>
        <p><i class="fa fa-talks"></i> {{ n_comments }} {{ _('Comments') }}</p>
        <p><i class="fa fa-talks"></i> {{ n_votes }} {{ _('Votes') }}</p>
        <p><i class="fa fa-talks"></i> {{ n_favorites }} {{ _('Favorites') }}</p>
    </div>
{% endblock %}

