{% extends 'base.jinja2' %}
{% from 'ej_profiles/components/profile.jinja2' import profile_edit %}

{% set content_title = gettext('Edit profile: <em>%(name)s</em>', name=request.user.name) %}

{% block content %}
    {{ profile_edit(profile, form, csrf_input) }}
{% endblock %}
