<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>{{ _('Sign Up') }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block css %}
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Patua+One|Raleway:400,600,700&subset=latin-ext">
        <link rel="stylesheet" href="/static/css/main.css">
    {% endblock %}
    <style type="text/css">
    body {
      padding: 30px;
      text-align: center;
    }
    ul {
      list-style: none;
    }
    </style>
</head>

<body>
    {% block main %}
    {% endblock %}
</body>
</html>
