<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div>
      <p>
        Um usuário acaba de solicitar que você se comprometa com os compromissos da
        campanha Unidos Contra a Corrupção. Essa pessoa conheceu seu perfil e gostaria de pedir que registre seu compromisso.
      </p>
      <p>
        Quando registrar o compromisso, todos os usuários que fizeram essa solicitação receberão avisos diretamente,
        podendo avaliar positivamente seu perfil! Não perca tempo e registre seu compromisso agora mesmo:
      </p>
      <p>
        <a href="https://unidoscontraacorrupcao.org.br">Unidos Contra a Corrupção</a>
      </p>
      <p>
        Atenciosamente.
        <br>
        Unidos Contra a Corrupção
      </p>
    </div>
  </body>
</html>