.primaryAction {
  float: right;
  margin-top: -15px !important;
}
.btn {
  margin-top: 10px;
}
#facebook-button {
  background-color: #3b5998;
  border-color: #3b5998;
}
#twitter-login-link {
  background-color: #55ACEE;
  border-color: #55ACEE;
}
.login {
  margin-top: 10px;
}
.login {
  margin-top: 10px;
}
.signup {
  margin-top: 10px;
}
