{% extends 'base.jinja2' %}


{% block content %}
  {{ stereotype_create(stereotype_form, votes_form) }}
{% endblock %}

{% macro stereotype_create(stereotype_form,
                           votes_form,
                           title=_('New Stereotype'),
                           button_text=_('Create'),
                           javascript_enabled='') %}
    <div class="StereotypeAdd">
        <h1 class="h1">{{ title }}</h1>
        <form method="post" class="stereotype">
            {{ csrf_input }}
            <div class="StereotypeAdd-title">
                <div class="content input-name">
                    <img src="/static/img/icons/stereotype_name.png">
                    {{ stereotype_form.name }}
                </div>
                <div class="content talk-stereotype">
                    <img src="/static/img/icons/stereotype_conversation.png">
                      {{ stereotype_form.conversation }}
                </div>
                <div class="content comment-stereotype">
                    <img src="/static/img/icons/stereotype_icon_coment.svg">
                    <span class="helptext">A detailed description of your stereotype for future reference. You can specify a background history, or give hints on the exact profile the stereotype wants to capture.</span>
                    {{ stereotype_form.description }}
                </div>
                <!--textarea name="description" cols="40" rows="10" id="id_description" placeholder="Description"></textarea-->
            </div>
            {{ votes_form.management_form }}
            {% for form in votes_form %}
                <div class="row form-row spacer">
                    {{ form.as_p() }}
                    <div class="StereotypeAdd-append">
                        <button class="btn btn-success add-form-row"><i class="fas fa-plus"></i></button>
                        <span class="">Add comment</span>
                    </div>
                </div>
            {% endfor %}
            <div class="StereotypeAdd-submit">
              <div class="col-4 offset-2">
                <input type="submit" class="Button" value="{{ button_text }}" name="create">
              </div>
            </div>
        </form>
  </div>
  {% endmacro %}


{% block javascript_body %}
  <script type='text/javascript'>
    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }
    function cloneMore(selector, prefix) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
        newElement.find('select').each(function() {
            var name = $(this).attr('name').replace('-' + (total-1) + '-', '-' + (total) + '-');
            var id = 'id_' + name;
            this.setAttribute("name", name);
            this.setAttribute("id", id);
        });
        total++;
        $('#id_' + prefix + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
        var conditionRow = $('.form-row:not(:last)');
        conditionRow.find('.btn.add-form-row')
        .removeClass('btn-success').addClass('btn-danger')
        .removeClass('add-form-row').addClass('remove-form-row')
        .html('<i class="fas fa-minus"></i>');
        return false;
    }
    function deleteForm(prefix, btn) {
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (total > 1){
            btn.closest('.form-row').remove();
            var forms = $('.form-row');
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            for (var i=0, formCount=forms.length; i<formCount; i++) {
                $(forms.get(i)).find(':input').each(function() {
                    updateElementIndex(this, prefix, i);
                });
            }
        }
        return false;
    }
    $(document).on('click', '.add-form-row', function(e){
        e.preventDefault();
        cloneMore('.form-row:last', 'form');
        return false;
    });
    $(document).on('click', '.remove-form-row', function(e){
        e.preventDefault();
        deleteForm('form', $(this));
        return false;
    });
  </script>
{% endblock %}
