{% extends 'base.jinja2' %}


{% block content %}
  {{ stereotype_create(stereotype_form, votes_form, conversation_title) }}
{% endblock %}

{% macro stereotype_create(stereotype_form,
                           votes_form,
                           conversation_title,
                           title=_('New Stereotype for conversation: '),
                           help_text = _('List below comments about this stereotype and define votes.'),
                           button_text=_('Create'),
                           javascript_enabled='') %}
    <div class="StereotypeAdd">
        <h1 class="h1">{{ title }} {{ conversation_title }}</h1>
        <form method="post" class="stereotype">
            {{ csrf_input }}
            {% if stereotype_form.errors %}
                <!-- Error messaging -->
                <div id="errors">
                    <div class="inner">
                        <p>{% trans %}
                            There were some errors in the information you entered.
                            Please correct the problems bellow.{% endtrans %}</p>
                        {{ stereotype_form.non_field_errors() }}
                    </div>
                </div>
            {% endif %}
            <div class="StereotypeAdd-title">
                <div class="content input-name">
                    <img src="/static/img/icons/stereotype_name.png">
                    {{ stereotype_form.name }}
                </div>
                <div class="content comment-stereotype">
                    <div>
                        <img src="/static/img/icons/stereotype_icon_coment.svg">
                        <span class="helptext">
                             {{ help_text }}
                        </span>
                    </div>
                    {{ stereotype_form.description }}
                </div>
            </div>
            {{ votes_form.management_form }}
            <div class="votes_form_class">
                {% for form in votes_form %}
                    <div class="row form-row spacer">
                        {{ form.as_p() }}
                        <div class="StereotypeAdd-append" style="display: none;">
                            <button class="btn btn-danger remove-form-row"><i class="fas fa-minus"></i></button>
                            <span class="">{{ _('Remove Comment') }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="StereotypeAdd-append">
                <button class="btn btn-success add-form-row"><i class="fas fa-plus"></i></button>
                <span class="">{{ _('Add comment') }}</span>
            </div>
            <div class="StereotypeAdd-submit">
              <div>
                <input type="submit" class="Button" value="{{ button_text }}" name="create">
              </div>
            </div>
        </form>
  </div>
  {% endmacro %}


{% block javascript_body %}
  <script src="/static/js/dynamic-form.js" defer></script>
  <script>
    $(document).on('click', '.add-form-row', function(e){
        e.preventDefault();
        cloneForm('.form-row:last');
        return false;
    });
    $(document).on('click', '.remove-form-row', function(e){
        e.preventDefault();
        var form = $(this).closest('.form-row');
        deleteForm(form);
        return false;
    });
    
  </script>
{% endblock %}
