{% extends 'base.jinja2' %}


{% block content %}
  {{ stereotype_create(stereotype_form, votes_form, conversation_title) }}
{% endblock %}

{% macro stereotype_create(stereotype_form,
                           votes_form,
                           conversation_title,
                           title=_('New Stereotype for conversation: '),
                           button_text=_('Create'),
                           javascript_enabled='') %}
    <div class="StereotypeAdd">
        <h1 class="h1">{{ title }} {{ conversation_title }}</h1>
        <form method="post" class="stereotype">
            {{ csrf_input }}
            <div class="StereotypeAdd-title">
                <div class="content input-name">
                    <img src="/static/img/icons/stereotype_name.png">
                    {{ stereotype_form.name }}
                </div>
                <div class="content comment-stereotype">
                    <div>
                        <img src="/static/img/icons/stereotype_icon_coment.svg">
                        <span class="helptext">
                            A detailed description of your stereotype for future reference.
                            You can specify a background history, or give hints on the exact profile the stereotype
                            wants to capture.
                        </span>
                    </div>
                    {{ stereotype_form.description }}
                </div>
                <!--textarea name="description" cols="40" rows="10" id="id_description" placeholder="Description"></textarea-->
            </div>
            {% for form in votes_form %}
                <div class="row form-row spacer">
                    {{ form.as_p() }}
                    <div class="StereotypeAdd-append">
                        <button class="btn btn-success add-form-row"><i class="fas fa-plus"></i></button>
                        <span class="">Add comment</span>
                    </div>
                </div>
            {% endfor %}
            <div class="StereotypeAdd-submit">
              <div class="col-4 offset-2">
                <input type="submit" class="Button" value="{{ button_text }}" name="create">
              </div>
            </div>
        </form>
  </div>
  {% endmacro %}


{% block javascript_body %}
  <script src="/static/js/createDynamicForm.js" defer></script>
{% endblock %}
