{% extends 'base.jinja2' %}


{% block content %}
  {{ cluster_create(cluster_form) }}
{% endblock %}

{% macro cluster_create(cluster_form,
                           title=_('New Cluster'),
                           button_text=_('Create'),
                           javascript_enabled='') %}
    <div class="StereotypeAdd">
        <h1 class="h1">{{ title }}</h1>
        <form method="post" class="cluster">
            {{ csrf_input }}
            {{ cluster_form.as_p() }}
            {{ clusterization_form.as_p() }}
            

            <div class="StereotypeAdd-submit">
              <div class="col-4 offset-2">
                <input type="submit" class="Button" value="{{ button_text }}" name="create">
              </div>
            </div>
        </form>
  </div>
  {% endmacro %}


