{% extends 'base.jinja2' %}
{% set main_class = 'container-1 margin-xauto' %}
{% block menu %}{% include 'ej_conversations/includes/menu-detail.jinja2' %}{% endblock %}


{% block content %}
    <style>
        select[multiple] {
            min-height: 7.5rem;
            padding: 0.75rem;
        }
    </style>
    {{ conversation|role('balloon', actions=False) }}

    <div class="measure margin-xauto">
        <h1 class="h2 center text-accent">{% trans %}Configure opinion groups{% endtrans %}</h1>
        {{ categories(groups, class_='margin-t3') }}

        {# New cluster #}
        <form method="post" class="width-full" action="#cluster-new" id="cluster-new">
            <h2 class="h3 center text-accent">{{ _('New group') }}</h2>
            {{ csrf_input }}
            <input type="hidden" name="action" value="new">
            {{ new_cluster_form }}

            <div class="center">
                <button class="is-primary pad-x3" name="submit" value="new"><i
                    class="fa fa-plus-circle"></i> {{ _('Create group') }}</button>
            </div>
        </form>

        {% for cluster in clusters %}
            <form method="post" class="width-full" action="#cluster-{{ cluster.id }}" id="cluster-{{ cluster.id }}">
                <h2 class="h3 center text-accent">{{ cluster.name }}</h2>
                {{ csrf_input }}
                <input type="hidden" name="action" value="{{ cluster.id }}">
                {{ cluster.form }}

                <div class="row">
                    <button class="is-negative" name="submit" value="delete"><i
                        class="fa fa-times"></i> {{ _('Delete') }}</button>
                    <button class="is-primary" name="submit" value="save"><i
                        class="fa fa-plus-circle"></i> {{ _('Save') }}</button>
                </div>
            </form>
        {% endfor %}
    </div>
{% endblock %}

