{% extends 'base.jinja2' %}
{% set main_class = 'measure-wide margin-xauto pad-x2' %}
{% block menu %}{% include 'ej_conversations/includes/menu-detail.jinja2' %}{% endblock %}


{% block content %}
    <h1 class="h2 center text-accent">{% trans %}Opinion groups{% endtrans %}</h1>
    {% if clusters %}
        <div id="cluster-canvas-container">
            <canvas id="cluster-canvas" class="bg-white margin-xauto block"></canvas>
        </div>

        {{ categories(groups, class_='margin-t3') }}

        {% for cluster in clusters %}
            <div id="cluster-{{ cluster.id }}">{{ show_cluster(cluster) }}</div>
        {% endfor %}

        {% if has_edit_perm %}
            <div class="center bg-brand-lighter pad-2 rounded-2 margin-b4">
                <h2 class="h4 uppercase margin-t2">{{ _('Admin actions') }}</h2>
                <form class="margin-0" method="POST" action="./ctrl/">
                    {{ csrf_input }}
                    <button name="action" value="force-clusterization">{{ _('Force clusterization') }}</button>
                </form>
            </div>
        {% endif %}
    {% else %}
        <div class="pad-x3 rounded-3 color-negative border-1">
            <h2 class="h3 center">{{ _('Error') }}</h2>
            <p class="center">{% trans %}Could not determine the opinion groups for this
                conversation.{% endtrans %}</p>
        </div>
        {% if is_conversation_admin %}
            <p class="center margin-3">{% trans link=edit_link %}You can edit the clusterization options for this
                conversation {{ link }}.{% endtrans %}</p>
        {% endif %}
    {% endif %}
{% endblock %}


{% macro show_cluster(cluster) %}
    <div class="collapsible">
        <h2 class="h4 uppercase text-accent">{{ _('Positive comments') }}</h2>
        {% set agree = cluster.separated_comments[0] %}
        {% set disagree = cluster.separated_comments[1] %}
        {% if agree %}
            <dl>{% for comment in agree[:5] %}
                {% set pc = '%.1f' % (100 * comment.agree) %}
                <dt class="bold">{{ _('Agree: {pc}').format(pc=pc) }}%</dt>
                <dd>{{ comment.content }}</dd>
            {% endfor %}
            </dl>
        {% else %}
            <p>{{ _('No positive comments in cluster') }}</p>
        {% endif %}

        <h2 class="h4 uppercase text-accent">{{ _('Negative comments') }}</h2>
        {% if disagree %}
            <dl>{% for comment in disagree[:5] %}
                {% set pc = '%.1f' % (100 * comment.disagree) %}
                <dt class="bold">{{ _('Disagree: {pc}').format(pc=pc) }}%</dt>
                <dd>{{ comment.content }}</dd>
            {% endfor %}
            </dl>
        {% else %}
            <p>{{ _('No negative comments in cluster') }}</p>
        {% endif %}
    </div>
{% endmacro %}


{% block javascript %}
    {{ super() }}
    {% if json_data %}
        <script src="{{ static('js/clusterviz.js') }}"></script>
        <script>
            window.addEventListener('load', function () {
                var $canvas = $('#cluster-canvas'),
                    $canvasContainer = $('#cluster-canvas-container'),
                    size = Math.min($canvasContainer.width(), 500);

                $canvas.css({width: size, height: size * 0.80});
                initializeForceLayout('#cluster-canvas', {{ json_data | safe }});
            });
        </script>
    {% endif %}
{% endblock %}
