{% extends 'base.jinja2' %}

{% block content %}
    <h1 class="h2 text-center text-accent">{% trans %}Clusters{% endtrans %}</h1>
    {% for cluster in clusters %}
        <h2>{{ _('Cluster: {name}').format(name=cluster.name) }}</h2>
        <dl class="description">
            <dt>{{ _('Size') }}</dt><dd>{{ cluster.size }}</dd>
            <dt>{{ _('Stereotypes') }}</dt>
            <dd><ul>
                {% for stereotype in cluster.stereotypes %}
                    <li>{{ stereotype }}</li>
                {% endfor %}
            </ul></dd>
        </dl>
    {% endfor %}
{% endblock %}
