{% extends 'base.jinja2' %}

{% block content %}
    <div class="Container">
        {% for cluster in clusters %}
            <h2>{{ _('Cluster: {name}').format(name=cluster.name) }}</h2>
        {% endfor %}
    </div>
{% endblock %}
