{% extends 'base.jinja2' %}
{% set content_title = _('Fragment list') %}


{% block content %}
    <article class="Container">
        <h1>Fragments</h1>
        <p>
            Work in progress. Sorry this page does not exist yet.
        </p>
    </article>
{% endblock %}
