{% extends 'base.jinja2' %}
{% set content_title = _('Site info') %}


{% block content %}
    <section class="Container">
        <h1>Configurations/Debug</h1>
        <h2>Choose a configuration page.</h2>
        <nav>
            <dl>
                <dt><a href="{{ url('configurations-styles') }}">Styles</a></dt>
                <dd>Test and document EJ styles. Useful for designers to tweak the CSS
                    variables for the theme.
                </dd>

                <dt><a href="{{ url('configurations-info') }}">Site info</a></dt>
                <dd>Generic information about the current instance of the EJ platform.</dd>

                <dt><a href="{{ url('configurations-fragments') }}">Fragments</a></dt>
                <dd>Discover information about missing fragments and content.</dd>
            </dl>
        </nav>
    </section>
{% endblock %}
