{% extends 'base.jinja2' %}
{% from 'components/generic/elements.jinja2' import action_button, rocket_button %}
{% set content_title = _('Styles') %}


{% block content %}
    {% set colors_main = 'primary accent alt hint content'.split() %}
    {% set colors_roles = 'error warning action-default action-primary action-secondary'.split() %}
    {% set colors_named = 'white gray blue green magenta purple red yellow'.split() %}

    <div class="Container">
        <p>
            Reference page for all styles in the current EJ instance. Use this page to tweak the
            theme to your linking and see the effects of colors, typography and layout elements.
        </p>


        <section>
            <h1>Global configurations and variables</h1>
            <h2>Typography</h2>
            <div>
                {% for i in range(1, 7) %}
                    <h{{ i }}>H{{ i }} Title (<strong>strong</strong>, <em>em</em>)</h{{ i }}>
                {% endfor %}
                <p>
                    This is a paragraph of text and a <a href="#">link</a>.
                    Text can be styled with <strong>strong</strong> and <em>emphasis</em>.
                </p>
                <code>
                    <pre>pre-formatted text.</pre>
                </code>
            </div>

            <h2>Colors</h2>
            <h3>Main color scheme</h3>
            <div class="ColorStyles">
                {% for color in colors_main %}
                    <div class="{{ color }}"><span>{{ color }}</span></div>
                {% endfor %}
            </div>

            <h3>Color roles and actions</h3>
            <div class="ColorStyles">
                {% for color in colors_roles %}
                    <div class="{{ color }}"><span>{{ color }}</span></div>
                {% endfor %}
            </div>

            <h3>Named colors</h3>
            <div class="ColorStyles">
                {% for color in colors_named %}
                    <div class="color-{{ color }}"><span>light</span><span>{{ color }}</span><span>dark</span></div>
                {% endfor %}
            </div>

            <h2>Color palette</h2>
            <div class="ColorPalette">
                {% for color in colors_main[:-1] %}
                    <div class="{{ color }}">{{ color }}</div>
                {% endfor %}
            </div>
        </section>

        <section>
            <h1>Generic Elements</h1>

            <h2>Buttons</h2>
            <p>
                <button>button</button>
                <button primary>button[primary]</button>
                <button secondary>button[secondary]</button>
                <button ghost>button[ghost]</button>
            </p>
            <p>Links can also be styled as buttons, by adding the ".Button" class like in
                <code>{{ '<a class="Button">Link</a>' }}</code>.
            <p><a href="#" class="Button">Link</a></p>


            <h2>Forms</h2>
            <p>Work in progress...</p>


            <h2>Tables</h2>
            <p>Work in progress...</p>
        </section>
    </div>
{% endblock %}
