{% extends 'base.jinja2' %}

{%block content%}
    {{table}}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#pandas-table').DataTable();
        });
    </script>
{%endblock%}

