{% extends 'base.jinja2' %}
{% from 'components/conversations.jinja2' import conversation_list, category_breadcrumbs %}

{% block content %}
    {{ category_breadcrumbs(category) }}
    {{ conversation_list(
            conversations,
            title='Categoria: {category.name}'.format(category=category),
            subtitle='Veja as conversas nesta categoria') }}
{% endblock %}


