{% extends 'base.jinja2' %}
{% from 'components/home.jinja2' import home_banner, how_it_works, start_now %}
{% from 'components/conversations.jinja2' import conversation_list %}

{% block main %}
    {{ home_banner() }}
    {{ how_it_works() }}
    {{ conversation_list(conversations) }}
    {{ start_now() }}
{% endblock %}
