{% extends 'base.jinja2' %}
{% set content_title = 'Perfil' %}

{% block content %}
  <h2>Editar perfil</h2>
  <form>
    {{ csrf_input }}
    <table>
      {{ profile_form.as_table() }}
    </table>
    <input type="submit" name="submit" value="Enviar">
  </form>
{% endblock %}
