<div class="clusters-warning-card">
    <div class="container">
        <div class="content">
            <span class="content-title">{{_('Personas')}}</span><br>
            <span class="content-text">{{_('Your conversation still does not have defined personas. Without personas, it is not possible to generate opinion groups.')}}</span>
            <div class="content-button">
                <a id="content-button" href=" {{ url('boards:cluster-edit',  **conversation.get_url_kwargs()) }}">{{_('Create persona')}}</a>
            </div>
        </div>
    </div>
</div>
