{% macro export_modal(can_view_detail, conversation, type_data, _id, cluster=None) %}

<div>

  <a data-toggle="modal" id="export-btn-{{_id}}" class="export-button"><i class="fas fa-cloud-download-alt"></i>{{_("Export")}}</a>

  <div id="export-modal-{{_id}}" class="modal-report">
      <div class="modal-content">
          <span class="close-report" id="{{_id}}" onclick='closeExportDropdown(this)'>&times;</span>
          {% if can_view_detail %}{{ conversation|role('download-data', which=type_data, cluster=cluster) }}{% endif %}
      </div>
  </div>

</div>


<script>
var exportBtn = document.getElementById("export-btn-{{_id}}");
function closeExportDropdown(closeIcon) {
  exportOptions = closeIcon.parentElement.parentElement;
  exportOptions.style.display = "none";
}

function openExportDropdown(event) {
  exportOptions = event.target.nextElementSibling;
  exportOptions.style.display = exportOptions.style.display == "block" ? "none" : "block";
}

exportBtn.onclick = openExportDropdown
</script>

{% endmacro %}
