{% macro export_modal(can_view_detail, conversation, type_data, _id) %}

<div>

  <a data-toggle="modal" id="export-btn-{{_id}}" class="export-button"><i class="fas fa-cloud-download-alt"></i>{{_("Export")}}</a>

  <div id="export-modal-{{_id}}" class="modal-report">
      <div class="modal-content">
          <span class="close-report" id="{{_id}}">&times;</span>
          {% if can_view_detail %}{{ conversation|role('download-data', which=type_data) }}{% endif %}
      </div>
  </div>

</div>


<script>
var modal = document.getElementById("export-modal-{{_id}}");
window.onclick = function(event) {
  const link = event.target.classList.contains('export-button')  
  modal.style.display = !link ? "none" : "block"
}
</script>

{% endmacro %}