{% extends 'ej_dataviz/report/base.jinja2' %}


{% block report %}
    <h1 class="h2 text-accent center">
        {% trans n = statistics.participants.voters %}Basic report ({{ n }} users){% endtrans %}
    </h1>

    {% include 'ej_dataviz/report/includes/votes-card.jinja2' %}

    {% include 'ej_dataviz/report/includes/comments-card.jinja2' %}

    {% if can_view_detail %}{{ conversation|role('download-data', which='votes-data') }}{% endif %}

    {% include 'ej_dataviz/report/includes/comments-stats.jinja2' %}
    
{% endblock %}
