{% extends 'ej_dataviz/report/base.jinja2' %}


{% block report %}
    <h1 class="h2 text-accent text-center">
        {% trans n = statistics.participants.voters %}Basic report ({{ n }} users){% endtrans %}
    </h1>

    <div class="pad-3 rounded-3 shadow margin-3" style="background: rgba(0, 0, 0, 0.05)">
        <strong class="uppercase bold text-4">{% trans %}Votes{% endtrans %}</strong>
        {{ conversation|role('stats-table', class_='margin-x3') }}

    </div>

    <div class="pad-3 rounded-3 shadow margin-3" style="background: rgba(0, 0, 0, 0.05)">
        <strong class="uppercase bold text-4">{% trans %}Comments{% endtrans %}</strong>
        {{ conversation|role('stats-table', data='comments', class_='margin-x3') }}
    </div>
    {% if can_view_detail %}{{ conversation|role('download-data', which='votes-data') }}{% endif %}

    <h2 class="h3 text-accent text-center" id="report-comments">{% trans %}Comments{% endtrans %}</h2>
    {{ conversation|role('comments-stats-table') }}
    {% if can_view_detail %}{{ conversation|role('download-data', which='comments-data') }}{% endif %}

    {% if clusters %}
        <h2>{% trans %}Clusters{% endtrans %}</h2>
        {% for cluster in clusters %}
            <h3>{{ cluster.name }} ({{ _('{n} users').format(n=cluster.n_users) }})</h3>
            {{ cluster|role('comments-stats-table') }}
        {% endfor %}
    {% endif %}

    {% if can_view_detail %}
        <h2 class="h3 text-accent text-center">{% trans %}More info{% endtrans %}</h2>
        <dl>
            <dt>{% block participant_table_link %}
                <a href="{{ conversation.url('report:users') }}">{{ _('Participants') }}</a>
            {% endblock %}</dt>
            <dd>{% trans %}See statistics about each participant.{% endtrans %}</dd>
        </dl>
    {% endif %}
{% endblock %}
