<div class="warning-persona-card">
    <div class="persona-card-content">
        <span id="persona-title">{{_('Personas')}}</span><br>
        <span id="persona-text">{{_('Your conversation still does not have defined personas. Without personas, it is not possible to generate opinion groups.')}}</span>
        <div id="persona-button">
            <a id="persona-button" href=" {{ conversation.url('cluster:edit') }}">{{_('Create persona')}}</a>
        </div>
    </div>
</div>