{% macro link(value='Click me', href='#', title='', target='.Page-mainContainer .Header-topIcon', action='target', instant=True, args='', button=False, class=None, transition='cross-fade', preload=False, scroll=False, primary=False, link_next=False) %}
    {%- if caller -%}
        {%- if href == '#' %}{% set href=value %}{% endif -%}
        {%- set value = caller() -%}
    {%- endif -%}
    <a href="{{ href if href.startswith('/') else url(href) }}
        {%- if link_next %}?next={{ link_next }}{% endif %}"
        {%- if title %} title="{{ title }}"{% endif %}
        {%- if class %} class="{{ class }}"{% endif %}
        {%- if button %} class="Button"{% endif %}
        {%- if primary %} primary{% endif %}
        {%- if action %} {{ 'up-%s' % action }}="{{ target }}"{% endif %}
        {%- if instant %} up-instant{% endif %}
        {%- if transition %} up-transition="{{ transition }}"{% endif %}
        {%- if scroll -%} up-restore-scroll{% endif %}
        {%- if preload -%} up-preload{% endif %}
        {%- if args %} {{ args }}{% endif %}>{{ value }}</a>
{% endmacro %}
