{% macro modalities(title, conteudo, content) %}
    <div id="modalities">
        <h3>{{title}}</h3>
        <div>{{conteudo}}</div>
        <p>{{content}}</p>
    </div>
    <script>
        function showModalities() {
            var x = document.getElementById("modalities");
            x.className = "show";
        }
    </script>
{% endmacro %}