{% macro modalities(title, content) %}
    <div id="modalities">
        <div>
            <div>
                <h3>{{title}}</h3>
                <p>{{content}}</p>
            </div>
        </div>
    </div>
     <script>
        function showModalities() {
            var x = document.getElementById("modalities");
            x.className = "show";
        }
    </script>
{% endmacro %}