{# FROM page_header.jinja2 #}
{% block javascript %}
    {# this function controls the open/close button of "conversations dropdown on page_menu #}
    <script type="text/javascript">
        // this function controls the open/close button of "conversations dropdown on page_menu
        function openDropDown(openDiv) {
            let elements = document.getElementsByClassName(openDiv);
            let element = ((elements.length > 1) ? elements[1] : elements[0]);
            if (element.style.display === "inline")
                element.style.display = "none";
            else
                element.style.display = "inline";
        }
    </script>

    {# handles high contrast toggle #}
    <script type="text/javascript">
        let toggleHicontrast = () => {
            let bodyDiv = document.getElementsByTagName('body')[0];
            if (localStorage.hicontrast == "true") {
                localStorage.hicontrast = false;
                bodyDiv.className = bodyDiv.className.slice(0, bodyDiv.className.length - " hicontrast".length);
                console.log(localStorage.hicontrast);
            } else {
                localStorage.hicontrast = true;
                bodyDiv.className += " hicontrast";
                console.log(localStorage.hicontrast);
            }
        }
    </script>
{% endblock %}
