{% from 'components/generic/elements.jinja2' import link %}
{% set up_transition = up_transition|default('cross-fade') %}


{# Generate the header element #}
{% macro page_header(request) %}
    <header class="Header">
        <div class="Header-wrapper">
            {{ header_top_nav(request) }}
            {{ header_lower_nav(request) }}
        </div>
    </header>
{% endmacro %}

{% macro header_top_nav(request) %}
    {% set theme = request.GET.get('theme','') or current_theme %}
    {% block javascript %}

        {# this function controls the open/close button of "conversations dropdown on page_menu #}
        <script type="text/javascript">
        // this function controls the open/close button of "conversations dropdown on page_menu
        function openDropDown(openDiv){
            let element = document.getElementsByClassName(openDiv);
            if(element[0].style.display == "inline")
                element[0].style.display = "none";
            else
                element[0].style.display = "inline";
        }
        </script>

        {# handles high contrast toggle #}
        <script type="text/javascript">
            let toggleHicontrast = () => {
                let bodyDiv = document.getElementsByTagName('body')[0];
                if(localStorage.hicontrast == "true") {
                    localStorage.hicontrast = false;
                    bodyDiv.className = bodyDiv.className.slice(0, bodyDiv.className.length - " hicontrast".length);
                    console.log(localStorage.hicontrast);
                } else {
                    localStorage.hicontrast = true;
                    bodyDiv.className += " hicontrast";
                    console.log(localStorage.hicontrast);
                }
            }
        </script>
    {% endblock %}
    <nav class="Header-topNav">
        {% if request.path != '/start/' %}
            <a title="{{ _('Back') }}" class="Header-topIcon" onclick="history.back()">
                <i class="fa fa-chevron-left"></i>
            </a>

            {% call link(href='/', class="Header-ejLogo") %}
                <img src="/static/{{theme}}/img/logo/logo.svg" alt="EJ logo">
            {% endcall %}
    
            <a href="/menu/" title="{{ _("Navigation menu") }}" up-drawer=".NavMenu" up-history="false"
                class="Header-topIcon">
                <i class="fa fa-bars"></i>
            </a>

        {% else %}

            <a href="/menu/" title="{{ _("Navigation menu") }}" up-drawer=".NavMenu" up-history="false"
                class="Header-topIcon">
                <i class="fa fa-bars"></i>
            </a>

            {% call link(href='/', class="Header-ejLogo") %}
                <img src="/static/{{theme}}/img/logo/logo.svg" alt="EJ logo">
            {% endcall %}

        {%endif%}

    </nav>
{% endmacro %}

{% macro header_lower_nav(request) %}
    {% set theme = request.GET.get('theme','') or current_theme %}
    <nav class="Header-lowerNav">
        {% call link('/conversations/', title=_('Conversations'), class='conversations-link', preload=True) %}
            <img src="/static/{{theme}}/img/icons/navbar_conversations.svg" alt="{{ _('Conversations') }}" class="Header-lowerIcon">
            {% if theme == 'default' %}
            <span>{{ _('Conversations') }}</span>
            {% endif %}
        {% endcall %}

        {% call link('/talks/', title=_('Panel'), class='panel-link', preload=True) %}
            <img src="/static/{{theme}}/img/icons/navbar_panel.svg" alt="{{ _('Panel') }}" class="Header-lowerIcon">
            {% if theme == 'default' %}
                <span>{{ _('Panel') }}</span>
            {% endif %}
        {% endcall %}

        {% call link('/profile/', title=_('Profile'), class='profile-link', preload=True) %}
            <img src="/static/{{theme}}/img/icons/navbar_profile.svg" title="{{ _('Profile') }}" class="Header-lowerIcon">
            {% if theme == 'default' %}
            <span>{{ _('Profile') }}</span>
            {% endif %}
        {% endcall %}
    </nav>
{% endmacro %}


