{% set up_transition = 'cross-fade' %}


{# Page footer with links and other information #}
{% macro page_footer(social_icons, footer_data) %}
    <footer class="Footer">
        <ul class="Footer-social">
            {% for icon in social_icons %}
                <li>{{ icon }}</li>
            {% endfor %}
        </ul>
        <article class="Footer-info">
            {{ footer_data }}
        </article>
    </footer>
{% endmacro %}
