{#---------------------------------------------------------------------------#
    REACT COMPONENT
 #---------------------------------------------------------------------------#}

{% macro react_component(react_component_name, fallback='', javascript_enabled='', json_params='{}') %}
    <div class="ReactComponent">
        {{ fallback }}

        {# Commenting until API works
        {% if javascript_enabled != 'true' %}
            <noscript>
                {{ fallback }}
            </noscript>
        {% endif %}

        <div id="React-Root-{{ react_component_name }}"></div>

        <span class="remoteScript" data-script-src="/static/js/react.js" id="reactScript"></span>

        <span class="remoteScript" style="display: none;" id="reactScript-{{ react_component_name }}">
            document.cookie = 'javascriptEnabled=true; max-age=31536000; path=/';

            if (window.renderComponent) {
                renderComponent('{{ react_component_name }}', {{ json_params | safe }});
            }
            else {
                document.addEventListener('ReactLoaded', function() {
                    renderComponent('{{ react_component_name }}', {{ json_params | safe }});
                });
            }
        </span>
        #}
    </div>

{% endmacro %}
