{% extends 'base.jinja2' %}

{% set main_class = "signatures-page" %}
{% set body_class = 'body'%}

{% block menu %}{% include 'ej_boards/includes/menu-board.jinja2' %}{% endblock %}

{% block content %}
    <div class="signatures-container">
        <section class="signatures-header">
            <div class="signatures-header__title">{{_("Your plan is")}} <span class="plan">
                {% if signature == "free"%}
                    {{_("free")}}
                {% elif signature == "listen_to_community"%}
                    {{_("Listen to community")}}
                {% elif signature == "listen_to_city_yearly"%}
                    {{_("Listen to city yearly")}}
                {% else %}
                    {{_("Custom Plan")}}
                {% endif %}
                </span>
            </div>
            <div class="signatures-header__text">{{_("Send us a budget request in order to use all EJ resources. We will reach you in the next 24 hours.")}} </div>
        </section>
        <section class="signatures-cards">
            <div class="signatures-card">
                <div class="signatures-card__title">
                    {{_('Plan')}} {{_('Listen to community')}}
                </div>
                <div class="signatures-card__descr">
                    <p>{{_('A free usage plan from EJ. The idea is to allow the user to experience the platform, create a conversation, collect comments and votes and track reports.')}}</p>
                </div>
                <div class="signatures-card__features">
                    <h5>{{_('RESOURCES')}}</h5>
                    <ul>
                        <li>{{_('Three conversation creation limit')}}.</li>                        
                        <li>{{_('Creation limit of five thousand votes')}}.</li>
                        <li>{{_('Reports')}}.</li>
                        <li>{{_('Access to multiple collect channels')}}</li>
                    </ul>
                </div>
            {% if signature == 'listen_to_community'%}
                <button
                    class="signatures-card__button" disabled>
                        {{_('This is already your plan')}}
                </button>
            {% endif %}
        </div>

            <div class="signatures-card--blue">
                <div class="signatures-card__title">
                    {{_('Plan')}} {{_('Listen to City yearly')}}
                </div>
                <div class="signatures-card__descr">
                    <p>
                        {{_('A plan billed yearly that will be aimed for organizations that wants to runs conversations without voting limit.')}}
                    </p>
                </div>
                <div class="signatures-card__features">
                    <h5>{{_('RESOURCES')}}</h5>
                    <ul>
                        <li>{{_('Unlimited conversations')}}.</li>
                        <li>{{_('Unlimited votes')}}.</li>
                        <li>{{_('Telegram, email and site integrations')}}</li>
                        <li>{{_('Reports')}}.</li>
                        <li>{{_('Clustering and persona creation')}}.</li>
                    </ul>
                </div>
                <button
                    {% if signature != 'listen_to_city_yearly'%} onclick="toggleModal('form-modal')" {% endif%}
                    class="signatures-card__button">
                    {% if signature == 'listen_to_city_yearly'%}
                        {{_('This is already your plan')}}
                    {% else %}
                        {{_('Request budget')}}
                    {% endif %}
                </button>
            </div>
        </div>
        </section>
    </div>

    {% include 'ej_signatures/signatures-modals.jinja2' %}

    <script>
        const toggleModal = (id) => {
            const modalElem = document.getElementById(id);
            modalElem.classList.toggle("hide")
            document.body.classList.toggle("overflow-deactive");
        }
    </script>

{% endblock %}
