{% extends 'base.jinja2' %}
{% set content_title = _('Configure Rocket.Chat Integration') %}

{% block content %}
    <style>
        .CenteredContainer form label {
            display: block;
            text-align: left;
        }
        .CenteredContainer form .helptext {
            display: block;
            text-align: center;
        }
        .CenteredContainer form .errorlist {
            list-style: none;
            color: darkred;
        }
    </style>
    <div class="CenteredContainer">
        <form method="post">
            {{ csrf_input }}
            {{ form.as_p() }}
            <input type="submit" class="Button" value="{{ _('Send') }}">
        </form>
    </div>
{% endblock %}

