{% extends 'base.jinja2' %}
{% set page_title = _('Forbidden') %}
{% set main_class = "container pad-x2" %}


{% block content %}
    <div class="measure margin-xauto margin-t3">
        <h1 class="h2 text-accent">{{ _('Forbidden') }}</h1>
        <p>{% trans %}You do not have permissions to access this page.{% endtrans %}</p>
    </div>
{% endblock %}
