{% extends 'base.jinja2' %}
{% set page_title = _('Panel') %}
{% set hide_lower_navbar = True %}

{% block main %}
    <iframe class="RocketIFrame" src="{{ rocketchat_url }}"></iframe>
    <style>
        /* Disable lower navigation bar */
        .Header-lowerNav {
            display: none;
        }
    </style>
    <script>
        // Login in Rocket.Chat using js.
        (function () {
            document.querySelector('iframe.RocketIFrame').contentWindow.postMessage({
                externalCommand: 'login-with-token',
                token: "{{ auth_token.replace('"', '\\"') }}",
            }, '*')
        })();
    </script>
{% endblock %}

