{% extends 'base.jinja2' %}
{% set page_title = _('Panel') %}
{% set main_class = "container pad-x2" %}

{% block content %}
    <div class="measure margin-xauto margin-t3">
        <h1 class="h2 text-accent">{{ _('Administrative login') }}</h1>
        <p>{% trans %}Administrative users do not have user accounts in Rocket.Chat. Instead, they all control
            the common administrative account for Rocket.Chat.{% endtrans %}</p>
        <h2 class="h3 text-accent">{{ _('Login') }}</h2>
        <p>{{ _('Please type the Rocket.Chat admin password') }}</p>
        <form method="post">
            {{ csrf_input }}
            {{ form.as_p() }}
            <input type="submit" value="{{ _('Send') }}" name="send">
        </form>

        <h2 class="h3 text-accent">{{ _('Configuration') }}</h2>
        <p>{% trans %}You can make the home page point to /talks/intro/ by copying the following fragment
            into Rocket.Chat's <em>Administration > Layout > Content</em> panel.{% endtrans %}</p>
        <pre><code>{{ "".__class__(code())|e }}</code></pre>
    </div>
{% endblock %}


{% macro code() %}
<!DOCTYPE html>
<html lang="pt-br">
<style>
    iframe {
        width: 100%;
        height: 100vh;
    }

    .content {
        margin: 0 !important;
        padding: 0 !important;
    }
</style>
<body>
<iframe src="{{ base_url }}{{ url('rocket:intro') }}">
    Bem vindos ao EJ!
</iframe>
</body>
</html>
{% endmacro %}
