{% extends 'base.jinja2' %}
{% set page_title = _('Panel') %}
{% set hide_lower_navbar = True %}
{% set click_here = _('here') %}
{% macro click_link(url, text) %}<a href="{{ url }}">{{ text }}</a>{% endmacro %}


{% block content %}
    <style>
        .CenteredContainer form label {
            display: block;
            text-align: left;
        }

        .CenteredContainer form .helptext {
            display: block;
            text-align: center;
        }

        .CenteredContainer form .errorlist {
            list-style: none;
            color: darkred;
        }

        dl {
            text-align: left;
            margin: 20px 50px;
        }

        dt {
            font-weight: bold;
        }
    </style>
    {% if ask_password %}
        <div class="CenteredContainer">
            <h1 class="h3">{% trans %}Basic Information{% endtrans %}</h1>
            <dl>
                <dt>{% trans %}Admin user{% endtrans %}</dt>
                <dd>{{ username }}</dd>
                <dt>{% trans %}Access token{% endtrans %}</dt>
                <dd>{{ auth_token }}</dd>
            </dl>
            <h1 class="h3">{% trans %}Login form{% endtrans %}</h1>
            <form method="post">
                {{ csrf_input }}
                {{ ask_password_form.as_p() }}
                <input type="submit" class="Button" value="{{ _('Send') }}" name="send">
            </form>
        </div>
    {% else %}
        <div class="CenteredContainer">
            <h1>{% trans %}Loading the Rocket.Chat Panel...{% endtrans %}</h1>
            <h2>{% trans %}You be redirected soon.{% endtrans %}</h2>
            {% set click = click_link(rocketchat_url, click_here) %}
            {% trans %}You can click {{ click }} to continue.{% endtrans %}
            <template up-execute>
                // Login in Rocket.Chat using js.
                (function () {
                    // Redirect
                    console.log("Redirecting to Rocket.Chat");
                    up.history.push(up.history.url());
                    window.location.replace("{{ rocketchat_url }}");
                }());
            </template>
        </div>
    {% endif %}
{% endblock %}

