{% extends "ej_users/login.jinja2" %}

{% if auth_token %}
    {% set hide_menu = True %}
    {% set hide_header = True %}
    {% set hide_footer = True %}
{% endif %}

{% block content %}
    {% if auth_token %}
        <p class="margin-y4 measure-narrow"><a href="{{ talks_url }}">{{ _('Redirecting to Rocket.Chat...') }}</a></p>
        <script>
            window.addEventListener('load', function () {
                var to = {{ rocket_chat_url.__repr__()|safe }};
                window.parent.postMessage({event: 'try-iframe-login'}, to);
                console.log('Sent message', msg, 'to', to);
            });
        </script>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}
