{% extends 'base.jinja2' %}
{% set page_title = _('Redirecting to panel...') %}
{% set hide_lower_navbar = True %}
{% set main_class = "container pad-x2" %}


{% block content %}
    <div class="measure margin-xauto margin-t3">
        <h1 class="h2 text-accent">{{ _('Redirecting to panel') }}</h1>
        {% set link = get_link(_('Rocket.Chat panel') ) %}
        {% set rc_link = get_link(_('link') ) %}
        <p>{% trans %}You are being redirected to {{ rc_link }}...{% endtrans %}</p>
        <p>{% trans %}Click this {{ link }} to continue.{% endtrans %}</p>

    </div>
    <script up-always-execute>
        window.location.href = {{ url_escape|safe }};
    </script>
{% endblock %}


{% macro get_link(name) %}
    <a href="{{ url }}">{{ name }}</a>
{% endmacro %}
