{% extends 'base.jinja2' %}
{% set page_title = _('Panel: Register username') %}
{% set content_title = _('Panel settings') %}

{% block content %}
    <div class="CenteredContainer">
        <form method="post">
            {{ csrf_input }}
            {{ form.as_p() }}
            <input type="submit"  value="{{ _('Send') }}" name="send">
        </form>
    </div>
{% endblock %}

