{% extends 'base.jinja2' %}

{% set main_class = "container-1 col items-center flex-start measure" %}
{% block menu %}{% include 'ej_users/includes/account-menu.jinja2' %}{% endblock %}

{% block main %}
    <main class="{{ main_class }}">
        {% if show_account_link|default(true) %}
            <a class="width-full bold lowercase text-brand margin-t2" href="{{ url('auth:account') }}">
                <i class="fa fa-chevron-left"></i>{% trans %}Accounts{% endtrans %}</a>{% endif %}
        {% block content %}{% endblock %}
    </main>
{% endblock %}

