{% extends "account/base.jinja2" %}
{% set page_title = _('Account: Change password') %}
{% set show_account_link = false %}


{% block content %}
    {% if has_logout %}
        <div class="col height-full flex-center">
            <p class="text-1 center margin-y4p margin-x3">
                {% trans %}We hope we'll see you soon ;){% endtrans %}</p>
        </div>
    {% else %}
        <h1 class="h2 text-accent">{% trans %}Logout{% endtrans %}</h1>
        <form method="POST" class="width-full">
            <p>{% trans %}Please press the logout button to confirm.{% endtrans %}</p>
            {{ csrf_input }}
            <button class="is-primary width-full" type="submit" name="action">
                {% trans %}Logout{% endtrans %}</button>
        </form>
    {% endif %}
{% endblock %}

