{% extends "account/base.jinja2" %}
{% set page_title = _('Account: Change password') %}
{% set main_title = _('Change Password') %}

{% block content %}
    <form method="POST" class="width-full">
        {{ csrf_input }}
        {{ form }}
        <button class="is-primary width-full" type="submit" name="action">{% trans %}Change Password{% endtrans %}</button>
    </form>
{% endblock %}

