{% extends "account/base.jinja2" %}
{% set page_title = _('Account: Change password') %}


{% block content %}
    <h1 class="h2 text-accent">{% trans %}Change Password{% endtrans %}</h1>

    <form method="POST" class="width-full">
        {{ csrf_input }}
        {{ form }}
        <button class="is-primary width-full" type="submit" name="action">{% trans %}Change Password{% endtrans %}</button>
    </form>
{% endblock %}

