{% extends 'base.jinja2' %}

{% block css %}
    {{ super() }}
    {% include 'ej_reports/includes/css.jinja2' %}
{% endblock %}

{% block javascript_body %}
    {{ super() }}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        window.addEventListener('load', function () {
            $('.table.long').DataTable({order: []});
        })
    </script>
{% endblock %}




