{% extends 'base.jinja2' %}

{% block css %}
    {{ super() }}
    <style>
        .dropdown {
            position: relative;
            text-align: right;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            right: 0;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            padding: 12px 16px;
            z-index: 1;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropbtn {
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            background-color: #043273;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block javascript_body %}
    {{ super() }}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        $(function () {
            $('.table.long').DataTable({
                order: [],
            });
        })
    </script>
{% endblock %}




