{% extends 'ej_reports/base.jinja2' %}

{% block content %}
    <div class="Container">
        <h1>{{ _('Conversation report: basic info') }}</h1>
        <h2>{{ conversation.title }}</h2>
        <p>{{ conversation.text }}</p>
        <hr>

        <h2>{% trans %}Summary ({{ users }} active users){% endtrans %}</h2>
        <h3>{% trans %}Votes{% endtrans %}</h3>
        {{ conversation|role('stats-table') }}

        <h3>{% trans %}Comments{% endtrans %}</h3>
        {{ conversation|role('stats-table', data='comments') }}
        {% if can_download_data %}{{ conversation|role('download-data', which='votes-data') }}{% endif %}

        <h2>{% trans %}Statistics{% endtrans %}</h2>
        {{ conversation|role('comments-stats-table') }}
        {% if can_download_data %}{{ conversation|role('download-data', which='comments-data') }}{% endif %}

        {% if clusters %}
        <h2>{% trans %}Clusters{% endtrans %}</h2>
            {% for cluster in clusters %}
                {{ cluster|role('comments-stats-table') }}
            {% endfor %}
        {% endif %}

        {% if can_see_participants %}
        <h2>{% trans %}More info{% endtrans %}</h2>
        <dl>
            <dd>{{ conversation.get_anchor(_('Participants'), 'report:participants-table') }}
            <dd>{% trans %}See statistics about each participant.{% endtrans %}</dd>
        </dl>
        {% endif %}
    </div>
{% endblock %}
