{% extends 'ej_reports/base.jinja2' %}

{% block content %}
    <div class="Container">
        <h1>{{ _('Conversation report: basic info') }}</h1>
        <h2>{{ conversation.title }}</h2>
        <p>{{ conversation.text }}</p>
        <hr>

        <h2>{{ _('Summary') }}</h2>
        {{ conversation|role('stats-table') }}
        {% if can_download_data %}{{ conversation|role('download-data', which='votes-data') }}{% endif %}


        <h2>{{ _('Statistics') }}</h2>
        {{ conversation|role('comments-stats-table') }}
        {% if can_download_data %}{{ conversation|role('download-data', which='comments-data') }}{% endif %}


        {% if can_see_participants %}
        <h2>{{ _('More info') }}</h2>
        <dl>
            <dd>{{ conversation.get_anchor(_('Participants'), 'report:participants-table') }}
            <dd>{% trans %}See statistics about each participant.{% endtrans %}</dd>
        </dl>
        {% endif %}
    </div>
{% endblock %}
