{% extends 'base.jinja2' %}
{% block content %}
    <div class="Container">
        {% if plot_data is defined %}
            <div id="container" style="width 100%; min-height: 400px"></div>
        {% else %}
            <div class="CenteredContainer">
                <h1>{% trans %}Error!{% endtrans %}</h1>
                <p>{% trans %}Not enough data to show scatter plot!{% endtrans %}</p>
            </div>
        {% endif %}
        <div>
            <a href="..">Go back</a>
        </div>
    </div>
{% endblock %}


{% block javascript_body %}
    {{ super() }}
    {% if plot_data is defined %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts.min.js"></script>
{#        <script src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>#}
{#        <script src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>#}
{#        <script src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>#}
{#        <script src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>#}
{#        <script src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>#}
{#        <script src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>#}
{#        <script src="https://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>#}
{#        <script src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>#}
{#        <script src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>#}
        <script>
            var dom = document.getElementById("container");
            var myChart = echarts.init(dom);
            var plotData = {{ plot_data }};
            var option = {
                xAxis: {},
                yAxis: {},
                series: [{
                    symbolSize: 10,
                    data: plotData,
                    type: 'scatter'
                }]
            };
            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }
            $(window).on('resize', function () {
                if (myChart !== null && myChart !== undefined) {
                    myChart.resize();
                }
            });
        </script>
    {% endif %}
{% endblock %}
