{% extends 'base.jinja2' %}
{% block content %}
    <div class="Container">
        <div id="container" style="width 100%; min-height: 400px"></div>
        <div class="dropdown">
            <button class="dropbtn"><a href="..">Go back</a></button>
        </div>
    </div>
{% endblock %}


{% block javascript_body %}
    {{ super() }}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
    <script type="text/javascript">
var dom = document.getElementById("container");
var myChart = echarts.init(dom);
var app = {};
var data_from_django = {{ plot_data }};
console.log(data_from_django);
option = null;
option = {
    title: {
        text: 'Scatterplot'
    },
    legend: {
        data: ['Null', 'Not filled', 'Male']
    },
    xAxis: {},
    yAxis: {},
    series: [{
        name: 'Male',
        data: data_from_django[0],
        type: 'scatter',
        symbolSize: function (data) {
            return 10;
        },
        label: {
            emphasis: {
                show: true,
                formatter: function (param) {
                    return 'Male';
                },
                position: 'top'
            }
        },
        itemStyle: {
            normal: {
                shadowBlur: 10,
                shadowColor: 'rgba(120, 36, 50, 0.5)',
                shadowOffsetY: 5,
                color: new echarts.graphic.RadialGradient(0.4, 0.3, 1, [{
                    offset: 0,
                    color: 'rgb(251, 118, 123)'
                }, {
                    offset: 1,
                    color: 'rgb(204, 46, 72)'
                }])
            }
        }
    }, {
        name: 'Null',
        data: data_from_django[1],
        type: 'scatter',
        symbolSize: function (data) {
            return 10;
        },
        label: {
            emphasis: {
                show: true,
                formatter: function (param) {
                    return 'Not informed';
                },
                position: 'top'
            }
        },
        itemStyle: {
            normal: {
                shadowBlur: 10,
                shadowColor: 'rgba(25, 100, 150, 0.5)',
                shadowOffsetY: 5,
                color: new echarts.graphic.RadialGradient(0.4, 0.3, 1, [{
                    offset: 0,
                    color: 'rgb(129, 227, 238)'
                }, {
                    offset: 1,
                    color: 'rgb(25, 183, 207)'
                }])
            }
        }
    }, {
        name: 'Not filled',
        data: data_from_django[2],
        type: 'scatter',
        symbolSize: function (data) {
            return 10;
        },
        label: {
            emphasis: {
                show: true,
                formatter: function (param) {
                    return 'Not filled';
                },
                position: 'top'
            }
        },
        itemStyle: {
            normal: {
                shadowBlur: 10,
                shadowColor: 'rgba(25, 100, 150, 0.5)',
                shadowOffsetY: 5,
                color: new echarts.graphic.RadialGradient(0.4, 0.3, 1, [{
                    offset: 0,
                    color: 'rgb(999, 999, 000)'
                }])
            }
        }
    }]
};
;
if (option && typeof option === "object") {
 myChart.setOption(option, true);
}
$(window).on('resize', function(){
    if(myChart !== null && myChart !== undefined){
        myChart.resize();
    }
});
    </script>
{% endblock %}
