{% extends 'base.jinja2' %}
{% block content %}
    <div class="Container">
        <div id="container" style="height: 300%; width: auto;"></div>
        <div>
            <a href="..">Go back</a>
        </div>
    </div>
{% endblock %}


{% block javascript_body %}
    {{ super() }}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
    <script type="text/javascript">
var dom = document.getElementById("container");
var myChart = echarts.init(dom);
var app = {};
var data_from_django = {{ plot_data }};
console.log(data_from_django)
option = null;
option = {
    xAxis: {},
    yAxis: {},
    series: [{
        symbolSize: 20,
        data: data_from_django,
        type: 'scatter'
    }]
};
;
if (option && typeof option === "object") {
 myChart.setOption(option, true);
}
    </script>
{% endblock %}
