{% from 'components/generic/elements.jinja2' import link %}


{# Page top_header with links and other information #}
{% macro page_top_header(social_icons) %}
    <header class="TopHeader">
        <div class="TopHeader-wrapper">
            <ul class="TopHeader-links">
                <li>{{ link(_('about'), '/about/', title=_('About'), preload=True) }}</li>
                <li>{{ link(_('frequent questions'), '/faq/', title=_('FAQ'), preload=True) }}</li>
                <li>{{ link(_('terms'), '/usage/', title=_('Usage'), preload=True) }}</li>
            </ul>
            <ul class="TopHeader-social">
                {% for icon in social_icons %}
                    <li>{{ icon }}</li>
                {% endfor %}
            </ul>
        </div>
    </header>
{% endmacro %}
