{% from 'components/generic/elements.jinja2' import link %}
{% set up_transition=up_transition|default('cross-fade') %}


{# Generate the header element #}
{% macro page_header() %}
    <header class="Header">
        {{ header_top_nav() }}
        {{ header_lower_nav() }}
    </header>
{% endmacro %}

{% macro header_top_nav() %}
    <nav class="Header-topNav">
        <a href="/" title="{{ _('Back') }}" class="Header-topIcon" up-back>
            <i class="fa fa-chevron-left"></i>
        </a>

        {% call link('/') %}
            <img src="/static/img/logo/logo.svg" alt="EJ logo">
        {% endcall %}

        <a href="/menu/" title="{{ _("Navigation menu") }}" up-drawer=".NavMenu" up-history="false" class="Header-topIcon">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
{% endmacro %}

{% macro header_lower_nav() %}
    <nav class="Header-lowerNav">
        {% call link('/conversations/', title=_('Conversations'), preload=True) %}
            <img src="/static/img/icons/conversations.svg" alt="{{ _('Conversations') }}" class="Header-lowerIcon">
            <span>{{ _('Conversations') }}</span>
        {% endcall %}

        {% call link('/talks/', title=_('Canais'), preload=True) %}
            <img src="/static/img/icons/talks.svg" title="{{ _('Canais') }}" class="Header-lowerIcon">
            <span>{{ _('Channels') }}</span>
        {% endcall %}

        {% call link('/profile/', title=_('Profile'), preload=True) %}
            <img src="/static/img/icons/profile.svg" title="{{ _('Profile') }}" class="Header-lowerIcon">
            <span>{{ _('Profile') }}</span>
        {% endcall %}
    </nav>
{% endmacro %}


