{% from 'components/generic/elements.jinja2' import link %}

{% macro menu() %}
    <div class="NavMenu">
        <ul>
            <li>{{ link(_('Conversations'), '/conversations/') }}</li>
            <li>{{ link(_('Channels'), '/rocket/') }}</li>
            <li>{{ link(_('Profile'), '/profile/') }}</li>
            <li>{{ link(_('FAQ'), '/faq/') }}</li>
            <li>{{ link(_('About'), '/about/') }}</li>
        </ul>
    </div>
{% endmacro %}

