{% set up_transition = 'cross-fade' %}


{# Page footer with links and other information #}
{% macro page_footer() %}
  <footer class="Footer">
    <nav class="Footer-content">
      <h2>RODAPÉ</h2>
      <p>Divulgue!</p>
      <ul class="Footer-icons">    
          <li><i class="fab fa-facebook"></i></li>
          <li><i class="fab fa-twitter"></i></li>
          <li><i class="fab fa-whatsapp"></i></li>
          <li><i class="fab fa-telegram"></i></li>
      <ul>
    </nav>
  </footer>
{% endmacro %}
