{% from 'components/generic/elements.jinja2' import link %}


{% macro menu() %}
    <nav class="NavMenu">
        <ul>
            <li><em>{{ icon_link(_('About'), '/about-us/', 'comment') }}</em></li>
            <li><em>{{ icon_link(_('FAQ'), '/faq/', 'question-circle') }}</em></li>
            <li><em>{{ icon_link(_('Usage terms'), '/usage/', 'file-alt') }}</em></li>
            <li>{{ icon_link(_('Conversations'), '/conversations/', 'comments') }}</li>
            <li>{{ icon_link(_('Channels'), '/talks/', 'rocketchat') }}</li>
            <li>{{ icon_link(_('Profile'), '/profile/', 'user') }}</li>
            <li>{{ icon_link(_('Home'), '/', 'home') }}</li>
        </ul>
    </nav>
{% endmacro %}


{% macro icon_link(text, href, icon, fa=True) %}
    {%- call link(href) %}
        {%- if fa %}<i class="fa fa-{{ icon }}"></i>
        {%- else %}<img src="/static/img/icons/menu/{{ icon }}.svg">
        {%- endif %}{{ text }}
    {% endcall %}
{% endmacro %}
