{% from 'components/generic/elements.jinja2' import link %}
{% set up_transition=up_transition|default('cross-fade') %}


{# Generate the header element #}
{% macro page_header() %}
    <header class="Header">
        {{ header_top_nav() }}
        {{ header_lower_nav() }}
    </header>
{% endmacro %}

{% macro header_top_nav() %}
    <nav class="Header-topNav">
        {% call link('/start/') %}
            <i class="fa fa-arrow-left"></i>
        {% endcall %}

        {% call link('/') %}
            <img src="/static/img/logo/header-logo.png" alt="EJ logo">
        {% endcall %}

        <a href="/menu/?target=main" title="Navigation menu" up-modal="main">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
{% endmacro %}

{% macro header_lower_nav() %}
    <nav class="Header-lowerNav">
        {% call link('/conversations/', alt='Conversations') %}
            <i class="fa fa-microphone"></i>{{ _('Conversations') }}
        {% endcall %}

        {% call link('/rocket/', alt='Canais') %}
            <i class="fa fa-comments"></i>{{ _('Channels') }}
        {% endcall %}

        {% call link('/profile/', alt='Profile') %}
            <i class="fa fa-user"></i>{{ _('Profile') }}
        {% endcall %}
    </nav>
{% endmacro %}


