<div class="tools-card-container"> 
  <div class="tools-card-body">
    <div class="tools-card-body-img"><img class="avatar" src="{{ static('/img/icons/poll-icon.svg') }}"/></div>
    <div class="tools-card-content">
      <span class="tools-card-title">{{_("Survey Bot")}}</span>
      <p class="helptext">{{_("Collect your audience's opinion using our polling bot. Turn an EJ conversation into a Telegram poll.")}}</p>
    <div class="tools-card-body-buttons">
      <span >{{_("Survey to:")}}</span>
      <div id="poll-bot-options" class="bots-buttons">
        <button value="channel" class="pink" id="poll-bot-channel-btn" onclick="selectPollBot(event.target)">{{_("Channel")}}</button>
        <button value="group" class="grey" id="poll-bot-group-btn" onclick="selectPollBot(event.target)">{{_("Group")}}</button>
      </div>
    </div>
    <p class="instruction">{{_("Follow the steps below to start collecting")}}</p>
    <ol class="poll-bot-instructions">
      <div id="channel">
        <li>{{_("Find <a href='https://t.me/EjGroupsBot' target='_blank'>@EjGroupsBot</a> on Telegram.")}}</li>
        <li> {{_("Type the command <b>/enquetenocanal {conversation_id}</b> on bot's chat.").format(conversation_id=conversation.id)}} </li>
        <li>{{_("Forward the generated poll to the desired channel.")}}</li>
      </div>
      <div id="group" class="hide">
        <li>{{_("Invite <a href='https://t.me/EjGroupsBot' target='_blank'>@EjGroupsBot</a> to your group;")}}</li>
        <li>{{_("In the group, write down the command <b>/enquetenogrupo {conversation_id}</b>. The poll will be generated and participants group will be able to
          voting.").format(conversation_id=conversation.id)}}</li>
      </div>
    </ol>
    </div>
  </div>
   <div class="tools-card-footer">
     <button id="pool-btn" class="grey">
       <i class="fas fa-pen"></i>
       <span> {{_("Edit survey")}}</span>
     </button>
   </div>
    {% with comments=comments %}
      {% include 'ej_tools/survey-comments.jinja2' %}
    {% endwith %}
  </span>
</div>

{{ help_card(_("When should I use the survey bot?"), "/static_docs/i18n/pt-br/user-docs/tools-ejgroups.html")}}

<script charset="utf-8">

function toggleSelectChannelGroup(item, type){

  let rows = document.getElementsByClassName(`${item}`)
  if(!rows){
    console.log("You don't have comments")
    return 
  }
  if(type === "invisible"){
    for(row of rows){
      row.classList.add("hide")
    }
  }else{
    for(row of rows){
      row.classList.remove("hide")
    }
  }
}

function selectPollBot(target) {
  let groupButton = document.querySelector("#poll-bot-group-btn");
  let channelButton = document.querySelector("#poll-bot-channel-btn");
  let channelInstructions = document.querySelector("#channel");
  let groupInstructions = document.querySelector("#group");

  target.classList = ["pink"];
  //channel
  const inv = "invisible";
  const vis = "visible";

  if(target.id == "poll-bot-channel-btn") {
    groupButton.classList = ["grey"];
    channelInstructions.classList.remove("hide");
    groupInstructions.classList.add("hide");

    toggleSelectChannelGroup("channel-footer", vis)    
    toggleSelectChannelGroup("group-footer", inv)        
    toggleSelectChannelGroup("command-channel", vis)    
    toggleSelectChannelGroup("command-group", inv)    
    toggleSelectChannelGroup("channel-input", vis)
    toggleSelectChannelGroup("group-input", inv)


  } else {
    channelButton.classList = ["grey"];
    groupInstructions.classList.remove("hide");
    channelInstructions.classList.add("hide");

    toggleSelectChannelGroup("channel-footer", inv)    
    toggleSelectChannelGroup("group-footer", vis)    
    toggleSelectChannelGroup("command-channel", inv)    
    toggleSelectChannelGroup("command-group", vis)    
    toggleSelectChannelGroup("channel-input", inv)
    toggleSelectChannelGroup("group-input", vis)
  }
}

</script>
