{% macro conclusion_action_modal(icon, title, conversation) %}
<div class="overlay-modal">
    <div class="new-group-modal">
        <div class="modal-container">
            <img src="{{icon}}"/>
            <h3>{{title}}</h3>
            <span onclick="closeModal()">{{_("close")}}</span>
            
        </div>
    </div>
</div>

<script>
    function closeModal() {
        mainEditPage = "{{conversation.url('cluster:edit')}}";
        window.location.href = mainEditPage;
    }
</script>

{% endmacro %}