<nav title="{{ _('Stereotypes') }}">
    <h3>{{ _('Profile') }}</h3>
    <ul>
        <li><a href="{{ url('stereotypes:list') }}">{{ _('Manage personas') }}</a></li>
        <li><a href="{{ url('stereotypes:create') }}">{{ _('New persona') }}</a></li>
    </ul>
</nav>
<nav title="{{ _('Profile') }}">
    <h3>{{ _('Profile') }}</h3>
    <ul>
        <li><a href="{{ url('profile:detail') }}">{{ _('Profile') }}</a></li>
        <li><a href="{{ url('account:index') }}">{{ _('Account') }}</a></li>
    </ul>
</nav>
{{ page_menu.ACCESSIBILITY() }}
