<div class="center margin-r3 text-6">
    <img src="{{ static(img_src) }}"
         alt="{% trans %}Trophy: {{ name }}{% endtrans %}"
         width="90px"
         class="opacity-{{ level + 2 }} expand-details cursor-pointer">
</div>
