{% if kind == 'host' %}
    <table class="{{ classes|default('margin-2') }}">
        <tr>
            <th>{{ _('Conversation Trophies') }}</th>
            <th>{{ _('#') }}</th>
        </tr>
        <tr>
            <td>{{ _('Level 1') }}</td>
            <td>{{ progress.n_conversation_lvl_1 }}</td>
        </tr>
        <tr>
            <td>{{ _('Level 2') }}</td>
            <td>{{ progress.n_conversation_lvl_2 }}</td>
        </tr>
        <tr>
            <td>{{ _('Level 3') }}</td>
            <td>{{ progress.n_conversation_lvl_3 }}</td>
        </tr>
        <tr>
            <td>{{ _('Level 4') }}</td>
            <td>{{ progress.n_conversation_lvl_4 }}</td>
        </tr>
    </table>
{% elif kind == 'comment' %}
    <table class="{{ classes|default('margin-2') }}">
        <tr>
            <th>{{ _('Item') }}</th>
            <th>{{ _('#') }}</th>
        </tr>
        <tr>
            <td>{{ _('Approved comments') }}</td>
            <td>{{ progress.n_approved_comments }}</td>
        </tr>
        {% if progress.n_endorsements %}
            <tr>
                <td>{{ _('Endorsements') }}</td>
                <td>{{ progress.n_endorsements }}</td>
            </tr>
        {% endif %}
    </table>
{% elif kind == 'score' %}
    <table class="{{ classes|default('margin-2') }}">
        <tr>
            <th></th>
            <th>{{ _('#') }}</th>
            <th>{{ _('Points') }}</th>
        </tr>

        {% if progress.score_bias %}
            <tr>
                <td>{{ _('Extra') }}</td>
                <td>-</td>
                <td>{{ progress.score_bias }}</td>
            </tr>
        {% endif %}
        <tr>
            <td>{{ _('Votes') }}</td>
            <td>{{ progress.n_final_votes }}</td>
            <td>{{ progress.pts_final_votes }}</td>
        </tr>
        <tr>
            <td>{{ _('Comments') }}</td>
            <td>{{ progress.n_approved_comments }}</td>
            <td>{{ progress.pts_approved_comments }}</td>
        </tr>
        {% if progress.n_rejected_comments != 0 %}
            <tr>
                <td>{{ _('Rejected Comments') }}</td>
                <td>{{ progress.n_rejected_comments }}</td>
                <td>{{ progress.pts_rejected_comments }}</td>
            </tr>
        {% endif %}
        {% if progress.n_endorsements != 0 %}
            <tr>
                <td>{{ _('Endorsements') }}</td>
                <td>{{ progress.n_endorsements }}</td>
                <td>{{ progress.pts_endorsements }}</td>
            </tr>
        {% endif %}
        {% if progress.n_given_opinion_bridge_powers != 0 %}
            <tr>
                <td>{{ _('Opinion bridge') }}</td>
                <td>{{ progress.n_given_opinion_bridge_powers }}</td>
                <td>{{ progress.pts_given_opinion_bridge_powers }}</td>
            </tr>
        {% endif %}
        {% if progress.n_given_minority_activist_powers != 0 %}
            <tr>
                <td>{{ _('Minority activist') }}</td>
                <td>{{ progress.n_given_minority_activist_powers }}</td>
                <td>{{ progress.pts_given_minority_activist_powers }}</td>
            </tr>
        {% endif %}
        {% if progress.total_conversation_score %}
            <tr>
                <td>{{ _('Your conversations') }}</td>
                <td></td>
                <td>{{ progress.total_conversation_score }}</td>
            </tr>
        {% endif %}
        <tr>
            <td>{{ _('Total') }}</td>
            <td></td>
            <td><strong>{{ progress.score }}</strong></td>
        </tr>
    </table>
{% elif kind == 'conversation' %}
    <table class="{{ classes|default('margin-2') }}">
        <tr>
            <th></th>
            <th>{{ _('#') }}</th>
            <th>{{ _('Points') }}</th>
        </tr>

        {% if progress.score_bias %}
            <tr>
                <td>{{ _('Extra') }}</td>
                <td>-</td>
                <td>{{ progress.score_bias }}</td>
            </tr>
        {% endif %}
        <tr>
            <td>{{ _('Votes') }}</td>
            <td>{{ progress.n_final_votes }}</td>
            <td>{{ progress.pts_final_votes }}</td>
        </tr>
        <tr>
            <td>{{ _('Comments') }}</td>
            <td>{{ progress.n_approved_comments }}</td>
            <td>{{ progress.pts_approved_comments }}</td>
        </tr>
        {% if progress.n_rejected_comments != 0 %}
            <tr>
                <td>{{ _('Rejected Comments') }}</td>
                <td>{{ progress.n_rejected_comments }}</td>
                <td>{{ progress.pts_rejected_comments }}</td>
            </tr>
        {% endif %}
        {% if progress.n_endorsements != 0 %}
            <tr>
                <td>{{ _('Endorsements') }}</td>
                <td>{{ progress.n_endorsements }}</td>
                <td>{{ progress.pts_endorsements }}</td>
            </tr>
        {% endif %}
        <tr>
            <td>{{ _('Total') }}</td>
            <td></td>
            <td><strong>{{ progress.score }}</strong></td>
        </tr>
    </table>
{% endif %}
