<!DOCTYPE html>
<html lang="pt-br" style="line-height: 1.4666666667; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; min-height: 100%; max-width: 600px;">

  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <title>EJ Platform</title>
    <link rel="icon" href="/static/img/logo/logo.svg">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/img/logo/icon-57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/logo/icon-72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/logo/icon-114.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/img/logo/icon-192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/logo/icon-32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/logo/icon-96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/logo/icon-16.png">
    <link rel="shortcut icon" href="/static/img/logo/favicon.ico">
    <meta name="msapplication-TileImage" content="/static/img/logo/icon-144.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="image" content="/static/img/logo/logo.svg">

</head>

  <body class="Page semanadeinovacaoconversationsservicos-publicos-futuro" style='box-sizing: border-box; color: #042049; font-size: 13px; font-family: "Raleway", sans-serif; width: 100vw; display: flex; flex-flow: column; height: 100vh; overflow: hidden; margin: 0; padding: 45px 0;' bgcolor="#fff">

    <header class="TopHeader" style="display: none; background-color: #f2f2f2; color: #042049; height: 25px; width: 100vw; position: fixed; top: 0; z-index: 200;">
      <div class="TopHeader-wrapper" style="align-items: center; display: flex; flex-flow: row; justify-content: space-between; box-sizing: border-box; height: 100%; max-width: 812px; margin: 0 auto; padding: 0 14px;">
        <ul class="TopHeader-links" style="list-style-type: none; font-size: 13px; margin: 0; padding: 0;">
          <li style="display: inline; margin: 7px;"><a href="/about-us/" up-instant up-preload title="Sobre nós" up-target=".Page-mainContainer .Header-topIcon" up-transition="cross-fade" style="background-color: transparent; -webkit-text-decoration-skip: objects; color: #042049; line-height: 1.2; text-decoration: none; text-decoration-style: solid;">sobre</a></li>
          <li style="display: inline; margin: 7px;"><a href="/faq/" up-instant up-preload title="Perguntas frequentes" up-target=".Page-mainContainer .Header-topIcon" up-transition="cross-fade" style="background-color: transparent; -webkit-text-decoration-skip: objects; color: #042049; line-height: 1.2; text-decoration: none; text-decoration-style: solid;">perguntas frequentes</a></li>
          <li style="display: inline; margin: 7px;"><a href="/usage/" up-instant up-preload title="Termos de uso" up-target=".Page-mainContainer .Header-topIcon" up-transition="cross-fade" style="background-color: transparent; -webkit-text-decoration-skip: objects; color: #042049; line-height: 1.2; text-decoration: none; text-decoration-style: solid;">termos de uso</a></li>
        </ul>
      </div>
    </header>


    <div class="Page-mainContainer" style="box-sizing: border-box; height: 100vh; display: flex; flex-flow: column; overflow: hidden; background: none 0% 0% / contain;">

      <div class="Page-content-container" style="display: flex; width: 100%;">

        <main class="Page-content logged-in" data-salt="LwHBIdlyM" style="display: block; box-sizing: border-box; width: 100%; flex-grow: 1; margin: 0 auto 65px; padding: 0;">
          <div class="ConversationDetail" style="max-width: 812px; margin: 0 auto; padding: 0;">
            <div class="ConversationDetail" style="max-width: 812px; margin: 0 auto; padding: 0;">
              <div class="ConversationDetail-banner" style="background-color: #C4F2F4; border-radius: 0 0 56px 56px; color: #052B47; margin: 0; padding: 7px 7px 28px;">
                <div class="ConversationTags" style="color: #30BFD3; font-weight: bold; background-color: #C4F2F4; padding: 21px 14px 14px;" align="center">
<i class="fa fa-tags" style='-moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; display: inline-block; font-style: normal; font-variant: normal; text-rendering: auto; line-height: 1; font-family: "Font Awesome 5 Free"; font-weight: 900;'></i>
                  futuro, serviços públicos
                </div>
                <h1 style='font-size: 28px !important; font-family: "Raleway", sans-serif; font-weight: 200 !important; text-transform: none; box-sizing: border-box; max-width: 700px; color: #042049; margin: 0 auto; padding: 7px 0 28px;' align="center">{{conversation_title}}</h1>
              </div>

              <div class="ConversationDetail-arrow" style="border-left-width: 28px; border-left-color: transparent; border-left-style: solid; border-right-width: 28px; border-right-color: transparent; border-right-style: solid; border-top-width: 28px; border-top-color: #C4F2F4; border-top-style: solid; height: 0; position: relative; width: 0; margin: 0 auto; padding: 0;"></div>
            </div>

            <div class="ConversationDetail-header" style="padding: 14px;" align="center">
              <h1 style="font-size: 28px !important; font-family: 'Patua One', sans-serif !important; font-weight: 300 !important; text-transform: none; letter-spacing: 1px; color: #FF3D72; margin: 0.67em 0;">Comentários</h1>
            </div>
            <div class="Comment" style="position: relative; min-height: 300px !important; width: 100% !important; max-width: 812px; padding-bottom: 56px; margin: 0 auto;">
              <div class="CommentCard" style="left: 0; right: 0; position: absolute; box-sizing: border-box; border-radius: 56px; font-size: 18px; max-width: 700px; min-height: 300px !important; width: 100% !important; z-index: 3; background-color: #30BFD3; color: white; margin: auto; padding: 49px 42px;">
                <div class="CommentCard-counter" style="" align="center">
                  <p style="margin: 0;">1/1</p>
                </div>
                <div class="CommentCard-user" style="font-size: 15.75px;">
                  <img src="https://ejplatform.pencillabs.com.br/static/img/icons/catlogo.svg" style="font-style: italic; vertical-align: middle; background-color: #fff; border-radius: 56px; color: #FF3D72; margin-right: 14px; padding: 4px 7px; border: 1px solid #fff;"><span>{{comment_author}}</span>
                </div>
                <p>{{comment_content}}</p>
                <form method="post" class="CommentCard-voteArea" id="Comment-form" up-target=".CommentCard" up-transition="move-left">
                  <div class="ConversationComment-actions" style="display: flex; font-weight: bold; text-transform: uppercase; width: 100%; margin: 0; padding: 0;">
                    <div class="voteAgree" up-expand style="align-items: center; align-content: stretch; display: flex; flex-flow: column; list-style-type: none; flex-grow: 2; margin-right:15px;">
                      <a href="{{site_url}}/mautic/conversations/conversa-com-template?action=vote&comment_id={{comment_id}}&vote=agree">Concorda</a>
                    </div>
                    <div class="voteSkip" up-expand style="align-items: center; align-content: stretch; display: flex; flex-flow: column; list-style-type: none; flex-grow: 2; margin-right:15px;">
                      <a href="{{site_url}}/mautic/conversations/conversa-com-template?action=vote&comment_id={{comment_id}}&vote=skip">Pular</a>
                    </div>
                    <div class="voteDisagree" up-expand style=" align-items: center; align-content: stretch; display: flex; flex-flow: column; list-style-type: none; flex-grow: 1;  margin-right:15px;">
                      <a href="{{site_url}}/mautic/conversations/conversa-com-template?action=vote&comment_id={{comment_id}}&vote=disagree">Discorda</a>
                    </div>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </main>
      </div>
  </div>
</body>
</html>
