<!-- Fonts -->
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Patua+One|Raleway:400,600,700&subset=latin-ext">

<!-- External libs -->
<link rel="stylesheet" href="https://unpkg.com/unpoly@0.60.0/dist/unpoly.min.css"
      integrity="sha384-Au6LjS9fxDpwn3+26YmukmOumZUmryd8ONenkVIoH4eEPH1tACqLsVfqz9tBrvQy" crossorigin="anonymous">

<link rel="stylesheet" href="/static/css/fontawesome-all.min.css">
{#<link rel="stylesheet"#}
{#      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">#}
{#<link rel="stylesheet"#}
{#      href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.css">#}


<!-- Main css file -->
{% if request.COOKIES.get('hicontrast') == 'y' %}
<link id="main-css-link" rel="stylesheet" href="/static/css/hicontrast.css">
{% else %}
<link id="main-css-link" rel="stylesheet" href="/static/css/main.css">
{% endif %}
