<!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
<![endif]-->

<!-- External libs -->
{#<script#}
{#    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"#}
{#    crossorigin="anonymous"></script>#}
{#<script#}
{#    src="https://unpkg.com/unpoly@0.54.0/dist/unpoly.min.js"#}
{#    crossorigin="anonymous"></script>#}
{#<script#}
{#    src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>#}
{#<script#}
{#    src="/static/js/jquery-ui/jquery-ui.min.js" defer></script>#}
{#<script#}
{#    src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>#}


<!-- Internal libs -->
<script src="{{ static('/js/main.js') }}" defer></script>
{#<script src="{{ static('/js/hicontrast.js') }}" defer></script>#}
{#<script src="{{ static('/js/specific-pages.js') }}" defer></script>#}
{#<script src="{{ static('/js/utils.js') }}" defer></script>#}
{#<script src="{{ static('/js/web-share.js') }}" defer></script>#}
{#<script src="{{ static('/js/fontScale.js') }}" defer></script>#}
{#<script src="{{ static('/js/comment-form-animation.js') }}" defer></script>#}
{#<script src="{{ static('/js/slider-modalities-conversation.js') }}" defer></script>#}
{#<script src="{{ static('/js/file-input.js') }}" defer></script>#}
{#<script src="{{ static('/js/bundle.js') }}" defer></script>#}
