{% extends 'base.jinja2' %}
{% set content_title = _('Fragment list') %}


{% block content %}
<article class="Container">
    <h1>{% trans %}Django Settings{% endtrans %}</h1>
    <dl>
        {% for name, value in settings %}
            <dt><strong>{{ name }}</strong></dt>
            <dd><pre>{{ value }}</pre></dd>
        {% endfor %}
    </dl>
</article>
{% endblock %}
