{% extends 'base.jinja2' %}
{% set content_title = _('Site info') %}
{% set app = request.current_app|default('configurations') %}

{% block content %}
    <section class="Container">
        <h1>{% trans %}Configurations/Debug{% endtrans %}</h1>
        <h2>{% trans %}Choose a configuration page{% endtrans %}</h2>
        <nav>
            <dl>
                <dt><a href="{{ url(app + ':styles') }}">{% trans %}Styles{% endtrans %}</a></dt>
                <dd>{% trans %}Test and document EJ styles. Useful for designers to tweak the CSS
                    variables for the theme.{% endtrans %}
                </dd>

                <dt><a href="{{ url(app + ':info') }}">{% trans %}Statistics{% endtrans %}</a></dt>
                <dd>{% trans %}Generic information about the current instance of the EJ platform.{% endtrans %}</dd>

                <dt><a href="{{ url(app + ':fragment-list') }}">{% trans %}Fragments{% endtrans %}</a></dt>
                <dd>{% trans %}Discover information about missing fragments and content.{% endtrans %}</dd>

                {% if request.user.is_superuser %}
                    <dt><a href="{{ url(app + ':django-settings') }}">{% trans %}Django settings{% endtrans %}</a></dt>
                    <dd>{% trans %}Display all Django Settings for this website.{% endtrans %}</dd>
                {% endif %}
            </dl>
        </nav>
    </section>
{% endblock %}
