{% extends 'base.jinja2' %}

{% set main_class = "form-container" %}
{% set next = ('?next=' + next if next else '') %}
{% block menu %}{% include 'ej_users/includes/menu.jinja2' %}{% endblock %}


{% block content %}
    <h1 class="h2 text-accent">{{ title|default(_(settings.EJ_LOGIN_TITLE_TEXT)) }}</h1>
    <img class="size-6 pad-t3 block relative margin-xauto" src="{{ static('/img/login/login.svg') }}" style="left: 1rem" alt="">

    {% block form_data %}{% endblock %}

    {# PASSWORD RECOVERY #}
    <a href="{{ url('auth:recover-password') }}" class="semi-bold underline">{{ _('Recover password') }}</a>

    {# SOCIAL LOGIN #}
    {% if social_buttons|default(false) %}
        {{ social_js }}
        <p>{{ _('or sign up through other networks') }}</p>
        <div class="row flex-center items-center">
            {% for button in social_buttons %}{{ button }}{% endfor %}
        </div>
    {% endif %}
    {% block form_footer %}{% endblock %}
    <div class="size-4"></div>
{% endblock %}


{% block javascript_body %}
    <script src="{{ static('/js/utilsPushNotification.js') }}" defer></script>
{% endblock %}
