{% extends 'base.jinja2' %}

{% block content %}
    <style>.Header-lowerNotLogged {
        display: none;
    }</style>

    <div class="Login">
        {# <div class="Login-icon"><img src="/static/img/login/ej-cat.svg"></div> #}
        <h1 class="Login-title">{{ settings.EJ_LOGIN_TITLE_TEXT }}</h1>

        <form method="post" class="Form" is-placeholder-form>
            {{ csrf_input }}
            {{ form.non_field_errors() }}
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    <p>
                        <input for="{{field.id_for_label}}"
                            name="{{field.name}}" 
                            placeholder="{{field.label}}"
                            aria-label="{{field.help_text}}"
                            type="{{field.field.widget.input_type}}"
                        ></input>
                    </p>

                </div>
            {% endfor %}
            <input type="submit" 
                    class="Button" 
                    value="{{ _('Login') }}" 
                    name="login"
                    aria-label="Botão de login"
                    >
        </form>



        {{ social_login(social_buttons, social_js) }}

        <div class="Login-newUser">
            <h1>{{ settings.EJ_REGISTER_TEXT }}</h1>
            <p><a class="Button" 
                    href="{{ '/register/' + ('?next=' + next if next else '') }}"
                    aria-label="Botão para cadastro de conta"
                    primary>{{ _('Register now!') }}</a></p>
        </div>
    </div>
{% endblock %}


{% macro social_login(buttons, js) %}
    {% if buttons %}
        {{ js }}
        <p>{% trans %}Social login{% endtrans %}</p>
        <div class="Login-socialButtons">
            {% for button in social_buttons %}{{ button }}{% endfor %}
        </div>
    {% endif %}
{% endmacro %}
