{% extends 'base.jinja2' %}

{% block content %}
    <style>.Header-lowerNotLogged {
        display: none;
    }</style>

    <div class="Login">
        {# <div class="Login-icon"><img src="/static/img/login/ej-cat.svg"></div> #}
        <h1 class="Login-title">{{ _(settings.EJ_LOGIN_TITLE_TEXT) }}</h1>

        <form method="post" class="Form" is-placeholder-form>
            {{ csrf_input }}
            {{ form.non_field_errors() }}
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    <p>
                        <input for="{{field.id_for_label}}"
                            name="{{field.name}}"
                            placeholder="{{field.label}}"
                            aria-label="{{field.help_text}}"
                            type="{{field.field.widget.input_type}}"
                        ></input>
                    </p>

                </div>
            {% endfor %}
            <input type="submit"
                    class="Button"
                    value="{{ _('Login') }}"
                    name="login"
                    aria-label="{{_('Login button')}}"
                    >
        </form>

        <h1><a href="{{ '/recover-password/' + ('?next=' + next if next else '') }}"
                  primary>{{ _('Forgot your password?') }}</a></h1>

        {{ social_login(social_buttons, social_js) }}

        <div class="Login-newUser">
            <h1>{{ _(settings.EJ_REGISTER_TEXT) }}</h1>
            <p><a class="Button"
                    href="{{ '/register/' + ('?next=' + next if next else '') }}"
                    aria-label="{{_('Register button')}}"
                    primary>{{ _('Register now!') }}</a></p>
        </div>
    </div>
<script src="/static/js/mail-campaign.js"></script>
{% endblock %}


{% macro social_login(buttons, js) %}
    {% if buttons %}
        {{ js }}
        <p>{{ _('or sign up through other networks') }}</p>
        <div class="Login-socialButtons">
            {% for button in buttons %}{{ button }}{% endfor %}
        </div>
    {% endif %}
{% endmacro %}

