{% extends 'base.jinja2' %}
{% set title = _('Reset password') %}
{% set text = _('Forgot your password') %}
{% set message = _('Enter your email address and we will send you a link to reset your password') %}
{% set message_success = _('Check your email for a link to reset your password.\n
                            If it doesn’t appear within a few minutes, check your spam folder.') %}

{% block content %}
    <style>.Header-lowerNotLogged {
        display: none;
    }</style>

    <div class="Login">

    <h1> {{ text }}?</h1>

    {%if success%}
        <p>{{ message_success }}<p>
        <p><a href="{{ '/login/' }}"
                  primary>{{ _('Return to Login') }}</a></p>
    {%else%}
        <p>{{ message }}</p>

        <form method="post" class="Form">
            {{ csrf_input }}
            {{ form.as_p() }}
            <input type="submit" class="Button" value="{{ _('Send') }}" name="reset-password-form">
        </form>
    {%endif%}

    </div>
{% endblock %}
