{% extends 'ej_users/login.jinja2' %}
{% set title = _('Reset password') %}

{% block content %}
    <style>.Header-lowerNotLogged {
        display: none;
    }</style>

    <div class="Login">

    <h1>{{ _('Forgot your password?') }}</h1>

    {%if success%}
        <p>{{ _('Check your email for a link to reset your password.\nIf it doesn’t appear within a few minutes, check your spam folder.') }}<p>
        <p><a href="{{ '/login/' }}" primary>{{ _('Return to Login') }}</a></p>
    {%else%}
        <p>{{ _('Enter your account email address and we will send you a link to reset your password') }}</p>

        <form method="post" class="Form">
            {{ csrf_input }}
            {{ form.as_p() }}
            <input type="submit"  value="{{ _('Send') }}" name="reset-password-form">
        </form>
    {%endif%}

    </div>
{% endblock %}
