{% extends 'ej_users/base.jinja2' %}
{% set title = _('Forgot your password?') %}

{% block form_data %}
    {% if success %}
        <p class="center margin-t3">
            {% trans %}Check your email for a link to reset your password. {% endtrans %}
            {% trans %}If it doesn't appear within a few minutes, check your spam folder.{% endtrans %}
        </p>
        <p><a href="{{ url('auth:login') }}" class="is-primary">{{ _('Return to Login') }}</a></p>
    {% else %}
        <p class="center margin-t3">
            {% trans %}Enter your account email address and we will send you a link to reset your password{% endtrans %}
        </p>
        <form method="post" class="measure-narrow width-full">
            {{ csrf_input }}
            {{ form }}
            <div class="margin-y3 margin-xauto">
                <input type="submit" name="submit" value="{{ _('Send') }}" class="width-full is-primary">
            </div>
        </form>
    {% endif %}
{% endblock %}
