{% extends 'ej_users/base.jinja2' %}
{% set title = _('Register new user') %}


{% block form_data %}
    <form method="post" class="measure-narrow margin-xauto">
        {{ csrf_input }}
        {{ form }}
        <div class="margin-y3 margin-xauto">
            <input type="submit" name="submit" value="{{ _('Register') }}" class="width-full is-primary">
        </div>
    </form>
    <a href="{{ url('auth:login') + next }}" class="semi-bold underline">{{ _('Login') }}</a>{{ ', ' }}
{% endblock %}
