{% extends 'ej_users/base.jinja2' %}
{% set title = _('Recover password') %}
{% set message_err = _('') %}


{% block form_data %}
    {% if is_expired %}
        <p>{% trans %}It looks like you clicked on an invalid password reset link.{% endtrans %}</p>
    {% endif %}
    <form method="post" class="measure-narrow width-full">
        {{ csrf_input }}
        {{ form }}
        <div class="margin-y3 margin-xauto">
            <input type="submit" name="submit" value="{{ _('Update') }}" class="width-full is-primary">
        </div>
    </form>
    <a href="{{ url('auth:recover-password') }}" class="is-primary"{{ _('Try again') }}</a>
{% endblock %}
