{% extends 'base.jinja2' %}
{% set title = _('Recover password') %}
{% set message = _('Enter your new password:') %}
{% set message_err = _('It looks like you clicked on an invalid password reset link.') %}


{% block content %}
    <style>.Header-lowerNotLogged {
        display: none;
    }</style>

    <div class="Login">
        {% if isExpired %}
            <p>{{ message_err }}</p>
            <p><a href="{{ '/recover-password/' }}"
                  primary>{{ _('Try again') }}</a></p>
        {%else%}
            <p>{{ message }}</p>

            <form method="post" class="Form">
                {{ csrf_input }}
                {{ form.as_p() }}
                <input type="submit" class="Button" value="{{ _('Update') }}" name="reset-password-form">
            </form>
        {% endif %}

    </div>
{% endblock %}
