{% extends 'base.jinja2' %}
{% set title = _('Reset password') %}

{% block content %}
    <div>
        <h1>Forgot your password?</h1>
         <form method="post" class="Form">
            {{ csrf_input }}
            {{ form.as_p() }}
            <input type="submit" class="Button" value="{{ _('Send') }}" name="reset-password-form">
        </form>

    </div>
{% endblock %}
