{% extends "account/base.html" %}

{% load static i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block javascript %}
{{ block.super }}

<script src="{% static 'js/twtterLoginWidget.js' %}"></script>
{% providers_media_js %}

{% endblock javascript %}

{% block css %}
{{ block.super }}

<style>

  .primaryAction {
    float: right;
    margin-top: -15px !important;
  }
  .btn {
    margin-top: 10px;
  }
  #facebook-button {
    background-color: #3b5998;
    border-color: #3b5998;
  }
  #twitter-login-link {
    background-color: #55ACEE;
    border-color: #55ACEE;
  }
  .login {
    margin-top: 10px;
  }
  .login .signup {
    margin-top: 10px;
  }
</style>

{% endblock css %}

{% block inner %}

{% include "socialaccount/snippets/login_extra.html" %}

<a id="facebook-button" class="btn btn-primary btn-block" href="{% provider_login_url "facebook" method="js_sdk" next="/users/close" %}"
    style="color: #fff"><i class=""></i>Conectar com Facebook</a>
<a id="twitter-login-link"
    class="btn btn-primary btn-block"
    href="{% provider_login_url "twitter" next="/users/close" %}"
    style="color: #fff;">
  <i class=""></i>Connectar com Twitter</a>
<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
</form>

  <a class="btn btn-primary btn-block" href="{% url 'account_signup' %}"
      style="color: #fff"><i class=""></i>Cadastrar-se</a>

{% endblock %}
