{% extends "account/base.html" %}

{% load static i18n %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block css %}
{{ block.super }}

<link href="{% static 'css/embed.css' %}" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/gh/lipis/bootstrap-social@5.1.1/bootstrap-social.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

{% endblock css %}

{% block javascript %}
{{ block.super }}

<script src="{% static 'js/twtterLoginWidget.js' %}"></script>
{% providers_media_js %}

{% endblock javascript %}

{% block inner %}

<a id="facebook-button" class="btn btn-primary btn-block" href="{% provider_login_url "facebook" method="js_sdk" next="/users/close" %}"
    style="color: #fff"><i class=""></i>Conectar com Facebook</a>
<a id="twitter-login-link"
    class="btn btn-primary btn-block"
    href="{% provider_login_url "twitter" next="/users/close" %}"
    style="color: #fff;">
  <i class=""></i>Connectar com Twitter</a>
<br>
<br>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ login_form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="/users/close/" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
</form>

<br>
<br>
<h5>OU</h5>
<h3> Criar uma conta</h3>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="/users/close/" />
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
<br>
{% endblock %}
